@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

html, body {
  height: 100%;
  min-width: 1280px; }

article .tabs-nav {
  position: relative;
  top: 1px; }
article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 140px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(2) .ag-floating-filter-body {
        display: none; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(2) .ag-floating-filter-button {
        display: none; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(3) {
        position: relative; }
        article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(3) .ag-floating-filter-body {
          display: none; }
        article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(3) .ag-floating-filter-button {
          display: none; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:first-child, article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(4) {
        position: relative; }
        article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:first-child .ag-floating-filter-body, article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(4) .ag-floating-filter-body {
          display: none; }
        article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:first-child .ag-floating-filter-button, article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(4) .ag-floating-filter-button {
          display: none; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(5) {
        position: relative; }
        article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(5) .ag-floating-filter-body {
          display: none; }
        article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(5) .ag-floating-filter-button {
          display: none; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(3):hover::before,
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(4):hover::before,
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(5):hover::before {
        background: none; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(3):hover,
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(4):hover,
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(5):hover {
        background: none; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(3) .ag-header-cell-text {
        position: absolute;
        top: 140%;
        left: -4%;
        transform: translate(-50%, -50%);
        overflow: visible; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(4) .ag-header-cell-text {
        position: absolute;
        top: 140%;
        left: -103%;
        transform: translate(-50%, -50%); }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(5) .ag-header-cell-text {
        position: absolute;
        top: 140%;
        left: -203%;
        transform: translate(-50%, -50%); }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(3) .ag-header-cell-text:after {
        content: "承認ステータス";
        position: absolute;
        top: -125%;
        left: 175%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        width: 100px;
        height: 20px; }
      article .tableitem__tablearea div.ag-spread a.btn_secondary {
        margin-right: 10px; }
      article .tableitem__tablearea div.ag-spread div.itemcode {
        display: flex;
        justify-content: flex-start; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px); }
  .otherwindow-contentsScroll::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  .otherwindow-contentsScroll::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .otherwindow-contentsScroll::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  .otherwindow-contentsScroll {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden; }
  .otherwindow-buttons {
    position: relative; }
    .otherwindow-buttons__box {
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      position: absolute;
      right: 10px;
      top: -85px; }
      .otherwindow-buttons__box > a {
        min-width: 115px;
        margin-right: 15px; }
  .otherwindow-contents__location.bottompadding {
    padding-bottom: 25px; }
  .otherwindow-contents__location__items__content--top.bordernone {
    border: none; }
  .otherwindow-contents__location__items__content--flexbottom {
    color: #808080;
    font-size: 14px;
    padding-top: 10px;
    line-height: 1.4em;
    padding-top: 5px;
    display: flex;
    justify-content: space-between; }
    .otherwindow-contents__location__items__content--flexbottom input[type="text"] {
      width: calc(100% - 80px);
      margin-right: 10px; }
    .otherwindow-contents__location__items__content--flexbottom .btn_secondary {
      min-width: 70px; }
  .otherwindow-contents__location__items--middle {
    flex-wrap: wrap; }
    .otherwindow-contents__location__items--middle .otherwindow-contents__location__items__content {
      width: calc(25% - 25px); }
    .otherwindow-contents__location__items--middle .width44 {
      width: calc(50% - 30px); }
    .otherwindow-contents__location__items--middle .mr {
      margin-right: 20px; }
    .otherwindow-contents__location__items--middle.bottompadding2 {
      padding-bottom: 80px; }
  .otherwindow-details__location.bottompadding {
    padding-bottom: 20px; }
  .otherwindow-details__location__items--middle {
    flex-wrap: wrap; }
    .otherwindow-details__location__items--middle .otherwindow-contents__location__items__content {
      width: calc(25% - 25px); }
    .otherwindow-details__location__items--middle .width44 {
      width: calc(50% - 30px); }
    .otherwindow-details__location__items--middle .mr {
      margin-right: 20px; }

#otherwindow2 .otherwindow-contents__location__items__content--bottom {
  padding-top: 5px; }
  #otherwindow2 .otherwindow-contents__location__items__content--bottom input[type="text"], #otherwindow2 .otherwindow-contents__location__items__content--bottom input[type="date"], #otherwindow2 .otherwindow-contents__location__items__content--bottom select {
    width: 100%; }

#otherwindow3 .tabs {
  background-color: #FFFFFF;
  padding-top: 30px; }
  #otherwindow3 .tabs-nav {
    position: relative;
    margin-top: 0;
    top: 1px; }
#otherwindow3 .otherwindow-tablearea {
  border-top: 1px solid #999999; }
  #otherwindow3 .otherwindow-tablearea div.ag-spread {
    height: calc(100% - 140px); }

/*モーダル*/
#modal2.overlay .modal {
  max-width: 380px;
  min-height: auto; }
  #modal2.overlay .modal-content__contentarea {
    width: 100%; }

#modal1.overlay .modal {
  width: 540px;
  min-height: auto; }
  #modal1.overlay .modal-content__contentarea {
    width: 100%; }
    #modal1.overlay .modal-content__contentarea__btnarea span:not(:first-child) {
      margin-left: 16px; }

.nodata2 {
  font-size: 1.6em;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b3b3b3; }
  .nodata2 > span {
    font-size: 18px; }
