/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';
html,body { height: 100%;	min-width: 1280px; }

//table系スタイル
article{
	.tabs{
		&-nav{
			position: relative;
			top:1px;
		}
	}
	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		

		
		//テーブルエリア
		&__tablearea{			
			width: calc(100% - #{$left-padding});
			height: calc(100% - 140px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
				.ag-pinned-left-header{
					.ag-header-cell:nth-child(2){
						.ag-floating-filter-body{display: none;}
						.ag-floating-filter-button{display: none;}

					}
					.ag-header-cell:nth-child(3){
						.ag-floating-filter-body{display: none;}
						.ag-floating-filter-button{display: none;}
						position: relative;

					}
					.ag-header-cell:first-child,.ag-header-cell:nth-child(4){
						.ag-floating-filter-body{display: none;}
						.ag-floating-filter-button{display: none;}
						position: relative;

					}
					.ag-header-cell:nth-child(5){
						.ag-floating-filter-body{display: none;}
						.ag-floating-filter-button{display: none;}

						position: relative;
					}
					
					.ag-header-cell:nth-child(3):hover::before,
					.ag-header-cell:nth-child(4):hover::before,
					.ag-header-cell:nth-child(5):hover::before{
						background: none;
					}
					.ag-header-cell:nth-child(3):hover,
					.ag-header-cell:nth-child(4):hover,
					.ag-header-cell:nth-child(5):hover{
						background: none;
					}
					
					.ag-header-cell:nth-child(3) .ag-header-cell-text{
						position: absolute;
						top: 140%;
						left: -4%;
						transform: translate(-50%,-50%);
						overflow: visible;
					}
					.ag-header-cell:nth-child(4) .ag-header-cell-text{
						position: absolute;
						top: 140%;
						left: -103%;
						transform: translate(-50%,-50%);
					}
					
					.ag-header-cell:nth-child(5) .ag-header-cell-text{
						position: absolute;
						top: 140%;
						left: -203%;
						transform: translate(-50%,-50%);
					}
					
					
					.ag-header-cell:nth-child(3) .ag-header-cell-text:after{
						content: "承認ステータス";
						position: absolute;
						top:-125%;
						left: 175%;
						transform: translate(-50%,-50%);
						font-size: 12px;
						width: 100px;
						height: 20px;
					}
				}
				//ここはテーブルのサイズ感に合わせておく
				a.btn_secondary{
					margin-right: 10px;
				}
				
				div.itemcode{
					display: flex;
					justify-content: flex-start;
				}
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	&-contentsScroll::-webkit-scrollbar{
		@include scrollbar;
	}
	&-contentsScroll::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	&-contentsScroll::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
	&-contentsScroll{
		height: calc(100% - 70px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	&-buttons{
		position: relative;
		&__box{
			display: flex;
			justify-content: flex-end;
			flex-wrap: nowrap;
			//width: 365px;

			position: absolute;
			right: 10px;
			top:-85px;
			>a {
				min-width: 115px;
				margin-right: 15px;

			}
		}
	}
	&-contents{
		&__location{
			&.bottompadding{
				padding-bottom: 25px;
			}
			&__items{
				&__content{
					&--top{
						&.bordernone{
							border: none;
						}
					}
				&--flexbottom{
						color:$menu-color3;
						font-size: $content-font-size4;
						padding-top: 10px;
						line-height: 1.4em;
						padding-top: 5px;
						display: flex;
						justify-content: space-between;
						input[type="text"]{
							width: calc(100% - 80px);
							margin-right: 10px;
						}
						.btn_secondary{
							min-width: 70px;
						}
					}	
				}
			}
			
			&__items--middle{
				flex-wrap:wrap;
				.otherwindow-contents__location__items__content{
					width: calc(25% - 25px);					
				}
				.width44{
					width:calc(50% - 30px);
				}
				.mr{
					margin-right: 20px;
				}				
				&.bottompadding2{
					padding-bottom: 80px;
				}
			}

		}
	}
	&-details{
		&__location{
			&.bottompadding{
				padding-bottom: 20px;
			}
			&__items--middle{
				flex-wrap:wrap;
				.otherwindow-contents__location__items__content{
					width: calc(25% - 25px);					
				}
				.width44{
					width:calc(50% - 30px);
				}
				.mr{
					margin-right: 20px;
				}				
			}

		}
	}

}
#otherwindow2{
	.otherwindow-contents__location__items__content--bottom{
		padding-top: 5px;
		input[type="text"],input[type="date"],select{
			width: 100%;
		}
	}
}
	
#otherwindow3{
	.tabs{
		
		background-color: #FFFFFF;
		padding-top: 30px;
		&-nav{
			position: relative;
			margin-top: 0;
			top:1px;
		}
	}

	.otherwindow-tablearea{
		border-top: 1px solid #999999;
		//テーブル設定
		div.ag-spread{
			height: calc(100% - 140px);	
			//padding-top:20px;
			//padding-left:$left-padding;
		}
	}

}
/*モーダル*/
#modal2.overlay{
	//modalコンテンツ設定
	.modal{
		max-width: 380px;
		min-height: auto;
		&-content{
			
			&__contentarea{
				width: 100%;
				&__btnarea{
					
				}
				
			}
		}
	}
}

#modal1.overlay{
	//modalコンテンツ設定
	.modal{
		width: 540px;
		min-height: auto;
		&-content{
			
			&__contentarea{
				width: 100%;
				&__btnarea{
					span:not(:first-child){
						margin-left: 16px;
					}
				}
				
				
			}
		}
	}
}


//データがない時の設定
.nodata2{
	font-size: 1.6em;
	position: absolute;
	text-align: center;
	width: 100%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: $menu-color5;
	>span {
		font-size: $content-font-size2;
	}
}
