@charset "UTF-8";
// Sass Document　スタイル定義

// ブレイクポイント設定
$bp-tb: 960px;
$bp-sp: 600px;

// メディアクエリ用mixin
//例）@include media(tablet) {
//		display:none;
//	  }

@mixin media($media-width) {
//960px以下に“tablet”
	@if $media-width == tablet {
		@media only screen and (max-width: $bp-tb) {
			@content;
		}
	}
	@else if $media-width == smartphone {
//600px以下に“smartphone”
		@media only screen and (max-width: $bp-sp) {
			@content;
		}
	}
}

//headerの高さ定義
$headHight: 40px;


//基本ベンダープレフィックス
//例）@include prefix(transition, all 0.3s);

@mixin prefix($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}


//animationベンダープレフィックスセット
//例）@include animation(hoge 2s linear 0s 1);

@mixin animation($animation-name) {
	-webkit-animation: $animation-name;
	-moz-animation: $animation-name;
	animation: $animation-name;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
}


//keyframesベンダープレフィックスセット
//例）@include keyframes(hoge){
//		0% { opacity:0; }
//		100% { opacity:1; }
//	  }

@mixin keyframes($animation-name: animaton) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}


//フォントサイズとline-heightを一括指定
//記述例）@include fs(12, 1.2)
//展開css）font-size: 12px; font-size: 1.2rem; line-height: 1.2;
@mixin fs($font-size-px, $line-height){
	font-size:$font-size-px + px;
	font-size:$font-size-px * 0.1 + rem ;
	line-height:$line-height ;
}

//モリサワフォント文字詰め
//記述例）@include kerning
//展開css）-webkit-font-feature-settings: 'palt' 1; font-feature-settings: 'palt' 1;
//約物半角にしたいときは、sass内での記述を@include kerning('halt');とする
@mixin kerning($type:'palt'){
	-webkit-font-feature-settings: $type 1; // for Android 4.4
	font-feature-settings: $type 1;
}
//スクロール設定
@mixin scrollbar(){
	width: 9px; /* スクロールバーの幅 */
}
@mixin scrollbartrack(){
	background: #fff;
	border: none;
	border-radius: 10px;
	box-shadow: inset 0 0 2px #777;

}
@mixin scrollbarthumb(){
	background: #cdcdcd;
	border-radius: 10px;
	box-shadow: none;
}
//ボタン共通
@mixin btncommon(){
	border: none;
	background:none;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing:border-box;
	border-radius: 2px;
	font-size: $menu-font-size3;
	cursor: pointer;
	display: block;
	text-align: center;
	text-decoration: none;
	min-height: 25px;
	line-height: 1.3em;
	padding-top: 8px;
	padding-bottom: 8px;
	width: auto;
}
@mixin btn-shadow(){
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

//ボタンprimary
@mixin btnprimary(){
	background-color: $defaultColor;
	color:#FFFFFF;
}
@mixin btnprimary-hover(){
	background-color: $hoverColor;
	color:#FFFFFF;
}
@mixin btnprimary-disabled(){
	background-color: rgba(0,0,0,0.05);
	color:rgba(0,0,0,0.20);
	cursor: default;
	box-shadow: none;
}

//ボタンsecondary
@mixin btnsecondary(){
	background-color: #ebebeb;
	color:#808080;
}

@mixin btnsecondary-hover(){
	background-color: $hoverColor;
	color:#FFFFFF;
}

@mixin btnsecondary-disabled(){
	background-color: rgba(0,0,0,0.08);
	color:rgba(0,0,0,0.20);
	cursor: default;
	box-shadow: none;
}
@mixin btnsecondary-grayback(){
	background-color: rgb(222,222,222);
}
//ボタンcontrollerprimary
@mixin btncontrollerprimary(){
	border:1px solid #008BD0;
	color:#008BD0;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

@mixin btncontrollerprimary-hover(){
	border:1px solid #00BAFF;
	color:#00BAFF;
}

@mixin btncontrollerprimary-disabled(){
	border:1px solid rgba(0,0,0,0.15);
	color:rgba(0,0,0,0.25);
	cursor: default;
	box-shadow: none;
}

//ボタンcontroller
@mixin btncontroller(){
	border:1px solid #999999;
	color:#808080;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

@mixin btncontroller-hover(){
	border:1px solid $hoverColor;
	color:$hoverColor;
}

@mixin btncontroller-disabled(){
	border:1px solid rgba(0,0,0,0.15);
	color:rgba(0,0,0,0.25);
	cursor: default;
	box-shadow: none;
}
@mixin btncontroller-grayback(){
	border:1px solid rgb(255,255,255);
	color:rgb(255,255,255);
}
//ボタンmenutransition
@mixin transition(){
	transition: all 0.4s cubic-bezier(0, 0, 0, 1);
}

//SELECT共通
@mixin selectcommon(){
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background:none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	padding: 0 10px;
	height:35px;
	border-radius: 2px;
	font-size: $content-font-size4;
	color:$menu-color5;
	cursor: pointer;
	background: url("../images/select_def.png") right 10px top 50% no-repeat;
	background-size: 9px, 100%;
	background-color: #FFFFFF;
	outline: none;
}
@mixin selectActive(){
	background: url("../images/select_a.png") right 10px top 50% no-repeat;
	background-color: $activeColor;
	color:$menu-color3;

}@mixin selectNormal(){
	color:$menu-color3;

}
@mixin selectError(){
	background: url("../images/select_e.png") right 10px top 50% no-repeat;
	background-color: $errorColor;
	color:$errorStrColor;
}
@mixin selectDisabled(){
	background: url("../images/select_a.png") right 10px top 50% no-repeat;
	background-color: $disbledColor;
	color:$disbledStrColor;
}
@mixin selectFocus(){
	border: 1px solid #7cbddd;
}
//checkbox　基本mixin
@mixin checkboxnone(){
	display: none;
}

@mixin cbSpanStyle(){
	//padding-left: 20px;
	position:relative;
	cursor: pointer;
	//margin-right: 20px;
}

@mixin cbSpanStyleBefore(){
	content: "";
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 2px;
}

@mixin cbDefColor1{
	border: 2px solid $menu-color3;

}

@mixin cbDefColor2{
	border: 2px solid #FFF;
}
@mixin cbDefColor_hover{
	border: 2px solid #211513;
}
@mixin cbChkColor1{
	color: #FFF;
}
@mixin cbDefColor_disabled{
	border: 2px solid #999999;
}
@mixin cbDefColor_disabledGrey{
	border: 2px solid #8e8e8e;
}
@mixin cbChkBGColor(){
	background-color: $mainColor;
	border: 2px solid $mainColor;
}

@mixin cbSpanStyleAfter(){
	content: "";
	display: block;
	position: absolute;
	width: 6px;
	height: 9px;
	transform: rotate(45deg);
	border-bottom: 2px solid #FFF;
	border-right: 2px solid #FFF;
	top:-1px;
}

//ラジオボタン
@mixin radionone(){
	display: none;
}

@mixin radioSpanStyle(){
	//padding-left: 20px;
	position:relative;
	cursor: pointer;
	//margin-right: 20px;
}

@mixin radioSpanStyleBefore(){
	content: "";
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	background-color: #FFF;
	border-radius: 50%;
}
@mixin radioDefColor1{
	border: 2px solid $menu-color3;

}

@mixin radioDefColor2{
	border: 2px solid #FFF;
}

@mixin radioChkColor1{
	color: #FFF;
}

@mixin radioChkBGColor(){
	//background-color: $mainColor;
	//border: 1px solid $mainColor;
}
@mixin radioDefColor_disabled{
	border: 2px solid #e9e9e9;
}
@mixin radioDefColor_disabledGrey{
	border: 2px solid #8e8e8e;
}
@mixin radioSpanStyleAfter(){
	content: "";
	display: block;
	position: absolute;
	width: 3px;
	height: 3px;
	border: 2px solid  $mainColor;
	background-color:  $mainColor;
	border-radius: 50%;
}
@mixin chromeOnly(){
	
}

//TEXT基本mixin
@mixin txtCommon(){
	border-radius: 2px;
	border: 1px solid #b5b6b6;
	height:35px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: $content-font-size4;
	color: $menu-color3;	
	outline: none !important;
	box-sizing: border-box;
}

@mixin txtActive(){
	background-color: $activeColor;
}

@mixin txtError(){
	border: 1px solid #f1c1c1;
	background-color: $errorColor;
	color:$errorStrColor !important ;
}

@mixin txtFocus(){
	border: 1px solid #7cbddd;
}
@mixin txtDisabled(){
	background-color: #dddddd;
	border: none;
}
@mixin txtDisabledGrey(){
	background-color: #a4a4a4;
	border: none;

}
//textarea基本mixin
@mixin txtAreaCommon{
	border-radius: 2px;
	border: 1px solid #b5b6b6;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	color: $menu-color3;	
	outline: none !important;
	box-sizing: border-box;
	width: 100%;
}
@mixin txtAreaActive(){
	background-color: $activeColor;
}

@mixin txtAreaError(){
	border: 1px solid #f1c1c1;
	background-color: $errorColor;
	color:$errorStrColor !important ;
}

@mixin txtAreaFocus(){
	border: 1px solid #7cbddd;
}


//tableスタイル
@mixin tableStyle(){
	table-layout: fixed;
	border-collapse: collapse;			
}
@mixin theadStyle(){
	background-color: $menu-color5;
}

@mixin thStyle(){
	font-family: $font-family-base;
	background-color: #b3b3b3 !important;
	font-size: $content-font-size5;
	color: #595757;
	text-align: left;
	font-weight: normal;
	white-space: nowrap;
	cursor: pointer;
	
}

@mixin thIStyle(){
	position: relative;
}

@mixin thArrowStyle(){
	display: block;
	margin-left: auto;
	margin-right: 0;	
}

@mixin thArrowStyle_ba(){
	content: "";
	background-image: url("../images/arrow.png");
	width:8px;
	height: 14px;
	position: absolute;
	top: 8px;
	right: 5px;
	z-index: 100;
}

@mixin thArrowStyle_ba_active(){
	content: "";
	background-image: url("../images/arrow_h.png");
	width:8px;
	height: 14px;
	position: absolute;
	top: 8px;
	right: 5px;
	z-index: 101;
}


@mixin thMoveStyle(){
	background-color: #8ca3b4;
}

@mixin thMoveStyle_bf(){
	content: "";
	background-image: url("../images/move.png")	;
	width:11px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 1px;
}

@mixin thSearchStyle(){
	padding-left: 0;
	padding-right: 0;
}
@mixin thSearchBtnStyle(){
	position: absolute;
	height: 25px;
	width:17px;
	top: 2px;
	right: 3px;
	background-image: url("../images/search.png");
}



@mixin thSearchTxtStyle(){
	height: 25px;
	width: calc(100% - 10px);
	margin-right: 1px;
	margin-left: 1px;
}

@mixin thSearchSelectStyle(){
	list-style: none;
	background-color: #FFF;
	position: absolute;
	width:100px;
	//height: 140px;
	top:0;
	left:calc(100% - 100px);
	border-radius: 2px;
	z-index: 100;
	display: none;
	//padding: 0;				
	box-shadow: 0 1px 0 1px rgba(0,0,0,0.4);
}


@mixin thSearchSelectOptStyle(){
	width: 90px;
	margin: 0;
	padding: 3px 0 3px 10px;
}

@mixin trStyle(){
	background-color: #FFFFFF;
}

@mixin trActiveStyle(){
	background-color: $activeColor !important;
}

@mixin trHoverStyle(){
	background-color: #ffffff !important;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
	transform: translateY(-3px)
}

@mixin tdStyle(){
	color: $menu-color3;
	font-size: $content-font-size4;
	cursor: pointer;
	line-height: 2.8em;
}

@mixin tdStatusStyle(){
	display: none;
	width: 5px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0px;
}


/*tooltip*/
@mixin tooltip(){
    display: block;                  
    position: absolute;            
    bottom: calc(50% + 15px);
	left: -300%;
	color: #fff;
    font-size: $content-font-size5;
	font-weight: $tooltip-font-wieght;
	line-height: 1.3em;
    background-color: $tooltip-font-bgColor;
    width: auto;
	max-width: 250px;
	min-width: 180px;
    height: auto;
    padding: 10px;
    border-radius:10px;
    z-index:10000;
	
}

@mixin tooltip_hover(){
    content:''; 
    display:block; 
    position:absolute;                        
    height:0; 
    width:0; 
    bottom:-11px; 
    left:calc(45% - 1px);

    border:10px transparent solid; 
    border-right-width:0; 
    border-left-color:#595757; 
    transform:rotate(90deg);            
    z-index:9950;
	
}

@mixin unorder-list-style(){
	list-style-type: none;
	li {
		padding-bottom: 10px;

		&:before {
			display:inline-block;
			content:"・";
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}

@mixin exclamation{
	color:#FFFFFF;
	border-radius:50%;
	padding:2px;
	text-align:center;
	font-size:16px;
	position:absolute;
	line-height: 1em;
	
}
@mixin exclamation_red{
	background-color: rgba(255,141,141,1.0);
}
@mixin exclamation_blue{
	background-color: rgba(115,205,232,1.0);
}

@mixin textHissu(){
	color:#FFFFFF;
	font-size: $content-font-size6;
	background-color: $mainColor;
	display: inline-block;
	border-radius: 4px;
	min-width: 36px;
	text-align: center;
	box-sizing: border-box;
	margin-right: 5px;
	line-height: 1.8em;
	padding: 0px 5px 0px 5px;
	top:-1px;
	left:0;	
}