@charset "UTF-8";
// Sass Documen　変数設定

// ブランドカラー
$mainColor: rgba(0,139,208,1);
$subColor:rgba(176,206,234,0.3);

// サイトの基本幅(default width)
$dfw: 1280px;

// 付与するベンダープレフィックス
$prefixAll: -webkit-, -moz-, -ms-, -o-, null;

//フォント共通設定
$font-base-color:    #808080!default;
//$font-family-base:'Hiragino Sans','ヒラギノ角ゴシック','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','ＭＳ Ｐゴシック',Osaka,Verdana,sans-serif !default;
$font-family-base:'Noto Sans JP', sans-serif !default;
$font-size-base-px:  16px !default;
$font-size-base-rem: 1.6rem !default;
$line-height-base: 1.428571429 !default;

//フォント定義は_webfont.scssに統合
$font-number:'Noto Sans JP', sans-serif !default;
$font-alphabet:'Noto Sans JP', sans-serif !default;

//MENU//共通
//背景色定義
$menu-color1:#ebebeb;
$menu-color2:#b2b2b2;
$menu-color3:#808080;
$menu-color4:#999999;
$menu-color5:#b3b3b3;

$menu-active-color1:#00c9ff;

$menu-width :200px;
$menu-title-height :40px;
$menu-title-height2 :30px;

$menu-arrow-size:30px;

$menu-margin1:20px;
$menu-margin2:28px;

$menu-btn-color:#dedede;/**/

$menu-font-size1:18px;
$menu-font-size2:16px;
$menu-font-size3:14px;
$menu-font-size4:12px;


/*メインコンテンツ系*/
$left-padding : 30px;

$content-font-size1:21px;
$content-font-size2:18px;
$content-font-size3:16px;
$content-font-size4:14px;
$content-font-size5:12px;
$content-font-size6:10px;

/*tooltip font*/
$tooltip-font-bgColor:#595757;
$tooltip-font-wieght:400;
$tooltip-font-color:#FFFFFF;
$tooltip-font-color_active:#00c4ff;





$content-bgColor:#f0f0f0;
$content-borderColor:#999999;

$hoverColor:#008bd0;
$defaultColor:#80c5e7;
$activeColor:#d9eef8;
$errorColor:#fff6f6;
$errorStrColor:#dd5a6e;
$errorTxtColor:#dd5a6e;
$disbledColor:rgba(0,0,0,0.08);
$disbledStrColor:rgba(0,0,0,0.2);
