@charset "UTF-8";
// Sass Document　レイアウト設定

//original設定
@import '_base';
@import '_import';


////////////////////////////////////////////////////////////////////

//※$headHight変数は_mixin.scssに記載


html,body { height: 100%;	min-width: 1024px; }
* { font-family: 'Noto Sans JP', sans-serif; }

o
//共通テキストリンク
a {
	color: rgba(153,153,153,1);
	&:hover {
		color: $mainColor;
		text-decoration: none;
	}
}

//ショートカットメニュー
#shortcutMenu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 0 5px;
	width: 42px;
	height: 100%;
	box-sizing: border-box;
	background-color: rgba(89,87,87,1);
	color: rgba(255,255,255,1);
	text-align: center;
	font-size: 16px;
	float: left;
	position: relative;
	z-index: 2100;
	a {
		color: rgba(255,255,255,1);
		&:hover {color: rgba(255,255,255,0.5);}
	}
	ul#shortcutIconBlock {
		li {
			margin-bottom: 15px;
		}
	}
	svg.icon {
		max-width: 30px;
		font-size: 30px;
	}
}

#wrap {
	position: relative;
	height: 100%;
	background-color: rgba(240,240,240,1);
	overflow: hidden;
}

#commonHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	height: $headHight;
	background-color: $mainColor;
	color: rgba(255,255,255,1);
	z-index: 3;
	svg.icon {
		color: white;
		font-size: 19px;
	}
	/* プルダウンメニュー */
	form {
		display: inline-block;
		vertical-align: top;
	}
	label.ninushiSelect {
		position: relative;
		display: inline-block;
		padding-left: 0.5em;
		width: 450px;
		border-radius: 4px;
		border: solid 1px rgba(255,255,255,0.3);
		box-sizing: border-box;
		background-color: rgba(44,166,224,1);
		box-shadow: 0 0 2px rgba(0,0,0,0.3);
		color: rgba(255,255,255,0.5);
		transition: all 0.3s ease;
		&:hover {
//			background-color: rgba(80,176,221,1);
			box-shadow: 0 0 3px rgba(0,0,0,0.6);
		}
		/*&:before {
			position: absolute;
			content: "▼";
			top: 50%;
			right: 10px;
			margin-top: -0.5em;
			width:1em;
			height:1em;
			font-size: 10px;
			color: #BBE3F5;
			text-shadow: 0 -1px rgba(0,0,0,0.6);
			pointer-events: none;
		}*/
		.nnme {font-size: 14px;}
		
		.headerInput{
			height: 25px ;
			width: 400px;
			background-color: rgba(44,166,224,1);
			color: rgba(255,255,255,1);
			font-size: 16px;
			line-height: 1.5em;
			transition: all 0.3s ease;
			border: none;
			padding-right: 25px;
			box-sizing: border-box;
		}
		//textにカーソルでautoloaderを表示する
		.headerAutoloader{
			position: absolute;
			top: 27px;
			left: 0px;
			max-height: 200px;
			width: 400px;
			overflow-y: auto;
			overflow-x: hidden;
			z-index:1100;
			background-color: #FFFFFF;
			border-radius: 4px;
			list-style: none;
			padding: 0;
			&::-webkit-scrollbar{
			@include scrollbar;
			}
			&::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
				@include scrollbartrack;
			}
			&::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
				@include scrollbarthumb;
			}

			&-list{
				font-size:$content-font-size4;
				padding: 7px 10px;
				border-bottom: 1px solid #CCCCCC;
				color: $menu-color3;
				cursor: pointer;
				width: 100%;
			}
			li:hover{
				background-color: $activeColor;
			}

		}		
		#headerAutoloaderReset{
			position: absolute;
			top:5px;
			right: 0px;
			font-size: $content-font-size2;
			width: 25px;
			height: 25px;
		}
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: transparent;
			display: inline-block;
			min-width: 200px;
			padding: 0 2em 0 10px;
			border: none;
			border-radius: 0 4px 4px 0;
			background-color: rgba(44,166,224,1);
			color: rgba(255,255,255,1);
			font-size: 16px;
			line-height: 1.5em;
			transition: all 0.3s ease;
			&:hover {
				background-color: rgba(80,176,221,1);
			}
			option {
				font-size: 15px;
				color: rgba(153,153,153,1);
				background-color: rgba(255,255,255,1);
				box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
				&.default {
					display: none;
				}
			}
		}
	}
}
::-ms-expand {	/* Dropdown selectのデザインを無効（IE用） */
display: none;
}

/*ユーザー表示*/
#mypage {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	padding: 0 0.25em 0 0.5em;
	height: 24px;
	vertical-align: top;
	border-radius: 12px;
	background-color: rgba(44,166,224,1);
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		background-color: rgba(80,176,221,1);
		#listBlock {
			padding: 5px 10px 10px;
			height: auto;
			transition: all 0.8s ease;
		}
	}
	#name {
		font-size: 14px;
		line-height: 24px;
		@include kerning;
		#authority {
			vertical-align: middle;
			&:before{
				content: '（';
			}
			&:after{
				content: '）';
			}
		}
	}
	#listBlock {
		position: absolute;
		top: 24px;
		right: -10px;
		z-index: 999;
		padding: 0 10px;
		height: 0;
		overflow: hidden;
		transition: all 0.5s ease;
		ul#mypagelist {
			list-style: none;
			background-color: white;
			border-radius: 4px;
			box-shadow: 0 3px 3px rgba(0,0,0,0.3);
			color: rgba(123,123,123,1);
			li {
				padding: 10px 15px;
				&.separator {
					border-bottom: solid 1px rgba(200,200,200,1);
				}
				dl {
					width: 100%;
					dt {
						display: block;
						font-size: 12px;
						color: rgba(200,200,200,1);
						white-space: nowrap;
					}
					dd {
						display: block;
						white-space: nowrap;
					}
				}
				.btn {
					display: block;
					margin: 0 0 10px;
				}
			}
		}
	}
}

/*ボタンスタイル************************************************************/
.btn {
	position: relative;
	display: inline-block;
	min-width: 150px;
	height: 35px;
	margin: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
	border-radius: 2px;
	background-color: rgba(235,235,235,1);
	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	transition: all 0.3s ease;
	&:hover {
		background-color: rgba(0,139,208,1);
		color: white;
	}
	>a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border-radius: 2px;
		text-decoration: none;
		color: rgba(128,128,128,1);
		transition: all 0.3s ease;
		&:hover {
			color: white;
			background-color: rgba(0,139,208,1);
			svg.icon {
				color:white;
				text-shadow: none;
				filter: drop-shadow(0px -1px rgba(0,0,0,0.3));
			}
		}
	}
	.name {
		padding: 5px 10px;
		font-size: 16px;
		@include kerning;
	}
	svg.icon {
		color: rgba(131,198,232,1);
		//text-shadow: 0px -1px 1px rgba(0,0,0,0.2), 0px 1px #ffffff;
	}
	/* ボタン名称の改行位置コントロール */
	span.break {display: inline-block;}
}
/*SVGアイコン凹み*/
.bt svg.icon,
.tab_item svg.icon {
	filter: drop-shadow(0px 1px rgba(255,255,255,1));
}

/*ラベルスタイル************************************************************/
span.itemLabel {
  height: 18px;
  border-radius: 4px;
  padding: 2px 8px;
	font-size: $content-font-size5;
	color: #ffffff;
	margin-right: 6px;
  &__required {/*必須ラベル*/
    background-color:$mainColor;
  }
}


/*坂本　共通設定*/

//ボタンプライマリー
a.btn_primary{
	display: block;
	min-width:150px;
	margin: auto;
	text-align: center;
	@include btncommon;
	@include btnprimary;
	@include btn-shadow;
}

a.btn_primary:hover{
	@include btnprimary-hover;
}
a.btn_primary.disabled{
	@include btnprimary-disabled;
}
//セカンダリー
a.btn_secondary{
	display: block;
	min-width:150px;
	margin: auto;
	text-align: center;
	@include btncommon;
	@include btnsecondary;
	@include btn-shadow;
}

a.btn_secondary:hover{
	@include btnsecondary-hover;
}

a.btn_secondary.disabled{
	@include btnsecondary-disabled;
}

a.btn_secondary_grayback{
	@include btnsecondary-grayback;
}
//コントローラープライマリー
a.btn_controller_primary{
	min-width: 100px;
	margin: auto;
	@include btncommon;
	@include btncontrollerprimary;
}
a.btn_controller_primary:hover{
	@include btncontrollerprimary-hover;
}

a.btn_controller_primary.disabled{
	@include btncontrollerprimary-disabled;
}


//コントローラー
a.btn_controller{
	min-width: 100px;
	margin: auto;
	@include btncommon;
	@include btncontroller;
}
a.btn_controller:hover{
	@include btncontroller-hover;
}

a.btn_controller.disabled{
	@include btncontroller-disabled;
}


a.btn_controller_grayback{
	@include btncontroller-grayback;
}
//textデフォルト
input[type="text"],input[type="time"],input[type="password"],input[type="date"],input[type="number"]{
	@include txtCommon;
}
input[type="text"]{
	padding-left: 10px;

}
input[type="text"].active,input[type="time"].active,input[type="password"].active,input[type="date"].active,input[type="number"].active{
	@include txtActive;
}
input[type="text"].disabled,input[type="time"].disabled,input[type="password"].disabled,input[type="date"].disabled,input[type="number"].disabled{
	@include txtDisabled;
}
input[type="text"].disabledgrey,input[type="time"].disabledgrey,input[type="password"].disabledgrey,input[type="date"].disabledgrey,input[type="number"].disabledgrey{
	@include txtDisabledGrey;
}
input[type="text"].error,input[type="time"].error,input[type="password"].error,input[type="date"].error,input[type="number"].error{
	@include txtError;
}
input[type="text"]:focus,input[type="time"]:focus,input[type="password"]:focus,input[type="date"]:focus,input[type="number"]:focus{
	@include txtFocus;
}
input[type="date"]::-ms-clear{
	visibility:hidden;
}

input[type="text"].textright,input[type="time"].textright,input[type="password"].textright,input[type="date"].textright,input[type="number"].textright{
	text-align: right;
}
.calenderdiv{
	position: relative;
}
i.calender{
	font-family: "Font Awesome 5 Free";
	content: '\f073';
	font-weight: 900;
	font-size: 18px;
	position: absolute;
	top:9px;
	right: -13px;
	width: 35px;
	height: 35px;
	pointer-events:none;
	cursor: pointer;
}

input[type="date"]{
	position: relative;
	cursor: pointer;
}
input[type="date"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
	-webkit-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0;
	width: 35px;
	height: 35px;
	background: transparent; // 一旦背景色を付けて、見やすくします
	color: transparent;
	cursor: pointer;
}
//textarea
textarea{
	@include txtAreaCommon;
	resize: none;
}

textarea.active{
	@include txtAreaActive;
}
textarea.error{
	@include txtAreaError;
}
textarea:focus{
	@include txtAreaFocus;
}
textarea.disabled{
	@include txtDisabled;
}
textarea.disabledgrey{
	@include txtDisabledGrey;
}

//SELECT
select.content {
	@include selectcommon;
}
//選択色の文字
select.content.normal{
	@include selectNormal;	
}
select.content.active{
	@include selectActive;
}
select.content.error{
	@include selectError;
}
select.content.disabled{
	@include selectDisabled;
}
select.content:focus{
	@include selectFocus;
}

//チェックボックス
input[type="checkbox"].cb1{
	@include checkboxnone;
}

.cb1span{
	@include cbSpanStyle;
}

.cb1span::before{
	@include cbSpanStyleBefore;
	@include cbDefColor1;
}

.cb1span.disabled::before{
	@include cbDefColor_disabled;
}
.cb1span.disabledGrey::before{
	@include cbDefColor_disabledGrey;
}
/*.cb1span:hover::before{
	@include cbDefColor_hover;
}*/
input[type="checkbox"].cb1:checked + .cb1span{
	@include cbChkColor1;
}
input[type="checkbox"].cb1:checked + .cb1span::before{
	@include cbChkBGColor;
}
input[type="checkbox"].cb1:checked + .cb1span::after{
	@include cbSpanStyleAfter;
}

//チェックボックス
input[type="radio"].radio1{
	@include radionone;
}

.radio1span{
	@include radioSpanStyle;
}

.radio1span::before{
	@include radioSpanStyleBefore;
	@include radioDefColor1;
	top:5px;
}

input[type="radio"].radio1:checked + .radio1span{
	@include radioChkColor1;
}
input[type="radio"].radio1:checked + .radio1span::before{
	@include radioChkBGColor;
}
input[type="radio"].radio1:checked + .radio1span::after{
	@include radioSpanStyleAfter;
	top:9.5px;
	left:4px;
}
.radio1span.disabled::before{
	@include radioDefColor_disabled;
}
.radio1span.disabledGrey::before{
	@include radioDefColor_disabledGrey;
}
//title共通定義
h1.page-title{
	color: $mainColor;
	font-size: $content-font-size1;
	line-height: 1.9em;
	margin-left: 0px;
}


//float解除
.clearfix:after {
  content: " ";
  display: block;
  clear: both; 
}

//menuオープン時の幅設定
article.shortwidth{
	width: calc(100% - #{$menu-width});
}
/*MENU関連*/
/*→の初期値*/
.arrowdiv{
	position: fixed;
	width: $menu-width;
	height: $menu-arrow-size;
	background-color: $menu-color3;
	bottom: 0;
	left: ($menu-width * -1) + $menu-arrow-size + 42px;
	@include transition;			
	z-index: 2001;
	
	svg.icon {
		position: absolute;
		color: rgba(255,255,255,1);

		width: $menu-arrow-size;
		height: $menu-arrow-size;
		right: 0;
		top: 0;
	}
}

/*→オープン時の挙動*/
.openarrow{
	left: 42px;
	svg.icon {
		transform: scale(-1, 1);
	}
}


/*メニュー（オープン時）*/
#openmenu{
	width:$menu-width;
	height: calc(100% - #{$headHight});
	position: fixed;
	left: $menu-width * -1 + 42px;;
	top: $headHight;
	background-color: $menu-color4;
	z-index: 2000;
    justify-content: center;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
	//@include jp-fonts;
	font-size: $menu-font-size1;
	font-weight: 100;
	.openmenu{
		&-desc{
			font-size: $menu-font-size4;
			padding-left: 20px;
			margin:0 auto 8px 0;
			color: $menu-color2;
		}

		&-menumargin{
			margin:20px auto 8px 0;
		}
		//buttonエリア（上部）
		&-btnarea{
			height: auto;
			width: 100%;
			padding: 20px 0;
			background-color: $menu-color3;


			&__btnareabtns{
				display: flex;
				justify-content: center;
				flex-direction: column;
				margin-top: 12px;
				//ここに関してはminwidthではなくボタン固定する
				a.btn_secondary{
					width: 160px !important;
					margin-top: 8px;
				}
			}
		}

		//menuのスクロール設定
		&-menuscroll{
			display: block;
			position: static;
			width: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}

		&-menuscroll::-webkit-scrollbar{
			@include scrollbar;
		}
		&-menuscroll::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
			@include scrollbartrack;
		}
		&-menuscroll::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
			@include scrollbarthumb;
		}	
		&-systemmenu{
			width: 100%;
			list-style: none;

			//大メニュー設定
			&__titlelist{
				position: relative;
				width: 100%;
				min-height: $menu-title-height;
				background-color: $menu-color4;		

				overflow: hidden;

				//小メニュー設定
				&--childmenu{
					width: 100%;
					height: auto;
					//margin: 5px 0;
					@include transition;
					> li{
						position: relative;
						width: 100%;
						min-height: 30px;
						font-size: $menu-font-size2;
						padding-right: 20px;
					}

					> li > a{
						display: block;
						width: calc(100% - #{$menu-margin1} - 13px);
						min-height: 20px;
						color: #FFFFFF;
						text-decoration: none;
						padding: 5px 10px 5px $menu-margin2;
						@include transition;

					}

					>li > a:hover{
						background-color: rgba(255,255,255,0.25);
					}

					>li > a.active{
						color: $menu-active-color1;
					}
					>li > a.active::before{
						width: 4px;
						height: calc(100% - 10px);
						content: "";
						border-left:4px solid $menu-active-color1;
						position: absolute;
						top: 0;
						left: 0;
					}
					> li:first-child{
						padding-top: 10px;
					}
					> li:last-child{
						padding-bottom: 10px;
					}
					>li:first-child > a.active::before{
						top: 10px;
						left: 0;
					}
				}

				.childMenuOpen{
					@include transition;
				}

			}


			//大メニュー表示設定
			&__titlelist{
				&--title {
					display: block;
					//width: calc(100% - #{$menu-margin1});
					width:100%;
					min-height: $menu-title-height;
					color: #FFFFFF;
					text-decoration: none;
				}
				//padding: 0 0 0 $menu-margin1;
				&__iconul {
					display: flex;
					justify-content:flex-start;
					width: 100%;
					list-style: none;

					&--svg{
						margin-left: $menu-margin1;
						position: relative;
						> svg.icon{
							position: relative;
							top: 30%;
							left: 50%;
							transform: translate(-50%,-50%);
							display: block;
							margin: 7px auto;
							height: 26px;
							width: 26px;
						}
					}
					&--title{
						padding: 8px 0;	
						margin-left: 10px;
						padding-right: 30px;
					}
				}

				&--title{
					padding-top: 5px;
					&:hover,&.active{
						background-color: $menu-color2;
						position: relative;
					}
					&:hover::after{
						content: "▼";
						font-size: 11px;
						color: $mainColor;
						position: absolute;
						top: 50%;
						right: 5px;
						transform: translate(-50%,-50%);
						cursor: pointer;
					}

					&.active:hover::after{
						content: "▲";
						font-size: 11px;
						color: $mainColor;
						position: absolute;
						top: 50%;
						right: 5px;
						transform: translate(-50%,-50%);
						cursor: pointer;
					}
				}

			}

		}



		//マスター表示時のスタイル
		&-master{
			position: absolute;
			bottom: $menu-arrow-size;
			width: 100%;
			box-shadow: -2px -2px 2px rgba(0,0,0,0.3);
			list-style: none;
			background-color: $menu-color4;

			//マスタメニュー設定
			&__masterlist{
				position: relative;
				height: $menu-title-height;
				line-height: 2.2em;

				width: 100%;


				@include transition;

				cursor: pointer;

				&--title > a{
					display: block;
					color: #FFF;
					width: calc(100% - #{$menu-margin1} );
					height: $menu-title-height;
					text-decoration: none;
					padding: 0 0 0 $menu-margin1;
					&:hover,&.active{
						background-color: $menu-color2;
					}
					&:hover::before{
						content: "▼";
						font-size: 11px;
						color: $mainColor;
						position: absolute;
						top: 0;
						right: 10px;
						cursor: pointer;
					}
				}
				//スクロールバーの装飾
				&--scroll{
					width: 100%;
					height: calc(100% - #{$menu-arrow-size} - 10px );
					overflow-y: auto;
					overflow-x: hidden;
					//マスターメニュー設定
					&--menu{
						list-style: none;

						> li {
							width: 100%;

						}

						> li > a{
							font-size:$menu-font-size3;
							min-height: 20px;
							line-height: 1.4em;
							display: block;
							color: #FFFFFF;
							text-decoration: none;
							padding: 5px 0 5px $menu-margin2;
							width: calc(100% - #{$menu-margin2} - 5px);
						}

						> li > a:hover{
							background-color: $menu-color2;
						}
					}		
				}
				&--scroll::-webkit-scrollbar{
					@include scrollbar;
				}
				&--scroll::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
					@include scrollbartrack;
				}
				&--scroll::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
					@include scrollbarthumb;
				}


			}
			//マスターオープン時の設定
			.masteropen{
				//height: calc(100vh - #{$headHight} - #{$menu-arrow-size});
			}
			.masteropen > p.openmenu-master--masterlist__title > a::before{
				content: "▲";
				font-size: 11px;
				color: #FFF !important;
				position: absolute;
				top: 0;
				right: 10px;
				cursor: pointer;
			}


		}
	
	}
	
}


//メニュー表示時に使用する
.open{
	left: 42px !important;
	box-shadow: 2px 0 8px rgba(0,0,0,0.3);
}

//共通ヘッダー
.page-block{
	width: 100%;
	margin: 0 0 0 auto;
	@include transition;
	background-color:#FFFFFF;
	height: calc(100% - #{$menu-title-height} - 65px);
	//min-height: 880px;
	min-height: calc(100% - #{$menu-title-height} - 65px);
	position: relative;

	//ページタイトル
	.contentheader{
	
		width: 100%;
		border-bottom: 1px solid $content-borderColor;
		position: relative;
	
		&-title {
			list-style: none;
			display:flex;
			justify-content: flex-start;
			width: 100%;
		
			&--icondiv {
				line-height: 1.9em;
			
				svg.icon{
					width: 42px;
					height: 32px;
					color: $mainColor;
					margin-top: 18px;
					margin-left: $left-padding;
				}
			
			}
		}
		//入荷予定照会-カウンターバーの設定
		&-counterbars{
			position: absolute;
			width:50%;
			top: 5px;
			right: $left-padding;
			color: $menu-color3;
			max-width: 650px;
			&__descripton{
			
				width: 100%;
				display: flex;
				list-style: none;
			
				&--counter{
					width: 50%;
					font-size: $content-font-size5;
					font-weight: normal;
					> span#date{
						margin-right: 10px;

					}
					> span#counter{
						margin-left: 10px;
						font-size: $content-font-size1;
						font-weight: normal;
					}
					
				}
				&__status{
					font-size: 12px;
					font-weight: normal;

					width: 50%;					
					&--list{
						display: flex;
						justify-content: flex-end;
						width: 100%;
						margin-top: 10px;
						margin-right: 10%;
						list-style:none;
						text-align: right;
						> li {
							width: 30%;
						}
					
						> li::before{
							content: "●";
							position: relative;
							top:0;
							left:-5px;
						}
						.status1::before{
							color: #eb99af;
						}
						.status2::before{
							color: #e3e657;
						}
						.status3::before{
							color: #c9caca;
						}
					
					}
				}
			}
			
			&--counterbar{
				width: 100%;
				list-style: none;
				display: flex;
				justify-content: space-around;
				margin-top: 10px;
				
				li{
					height: 10px;
				}
				li.status1{
					background-color: #eb99af;
					border-bottom-left-radius: 10px;
					border-top-left-radius: 10px;
				}
				li.status2{
					background-color: #e3e657;
					margin-left: 5px;
					margin-right: 5px;
				}
				li.status3{
					background-color: #c9caca;
					border-bottom-right-radius: 10px;
					border-top-right-radius: 10px;
				}
			}
		}
	
	}

}
.menucontent{
		background-color: #FFFFFF;
	&-dl1 {
		display: flex;
		justify-content: flex-start;

		width: 40%;
		max-width: 500px;
		min-width: 250px;
		margin-left: $left-padding;
		padding-top: 30px;

		&--title{
			color: $menu-color3;
			font-size: $content-font-size4;
			line-height: 1em;
			padding: 10px 10px 10px 0;
			width: 100px;
			min-width: 100px;
		}
		&--desc{
			color: rgba(0,0,0,0.2);
			border-radius: 2px;
			text-align: left;
			font-size: $content-font-size4;
			background-color: $menu-color1;
			line-height: 1em;
			margin-left: 10px;
			padding: 10px 10px;
			width: 100%;
		}
	}

	&-dl2 {
		width: 40%;
		max-width: 500px;
		min-width: 250px;
		margin-left: $left-padding;
		padding-top: 30px;
		padding-bottom: 30px;

		&__titleitem{
			color: $menu-color3;
			font-size: $content-font-size4;
			line-height: 1em;
			padding: 10px 10px 10px 0;
			width: auto;
			position: relative;

			&__item {
				list-style: none;
				display: flex;
				justify-content: flex-start;
				position: relative;

				>dd > img{
					margin-left: 10px;
					width: 15px;
					height: 15px;
				}

			/*ツールチップ*/
				.tooltip:hover span {
					bottom: calc(50% + 15px);
					left: -55px;
				}

				.tooltip:hover span:before{
					bottom:-11px; 
					left:calc(45% - 1px);
				}			

			}
		}

		&__selectitem{
			width: 100%;

			> select {
				width: 100%;
			}

		}
	}

}

.uploader {
	width: 100%;
	height: auto;
	min-height: calc(100vh - 405px);

	background-color: $content-bgColor;
	padding-bottom: 30px;

	&-title {
		padding-top: 30px;
		margin-left: $left-padding;
		color: $menu-color3;
		font-size: $content-font-size3;
	}

	&-dropzone {

		&__centering {
			border: 3px dashed $menu-color4;
			border-radius: 4px;
			width: calc(100% - #{$left-padding} - #{$left-padding});
			margin: auto $left-padding;
			margin-top: 20px;
//			height: calc(100% - 370px);
			min-height: calc(100% - 100px);
//			position: relative;
			padding: 30px;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			text-align: center;
			&--title {
				text-align: center;
				color: $menu-color3;
				margin-top: 5px;
				font-size: 25px;
				font-weight: 300;
				line-height: 1.4em;
			}

			.btn_primary {


				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 20px;
				font-size: $content-font-size4;
			}

			&--filename {
				width: auto;
				text-align: center;
				margin: 40px auto 20px auto;
				color: $menu-color3;
				font-size: $content-font-size4;
			}

			span{
				position: relative;
			}

			img.deletebtn{
				position: absolute;
				top:-10px;
				left: -30px;
				width: 19px;
				height: 19px;
				cursor: pointer;
				margin: 10px 0 5px 0;
				float: left;
			}
		}
	}
}

.uploadbtn{
	border-top: 1px solid $content-borderColor;
	//border-bottom: 1px solid $content-borderColor;
	width: 100%;
	//height: 65px;
	//max-height: 65px;
	background-color: $content-bgColor;
	text-align: right;

	.btn_primary{
			//width: 150px !important;
			display: inline-block;
			margin: auto;
			margin-top: 15px;
			margin-left: auto;
			margin-right: $left-padding;
	}
}


//TABのスタイル
.btns{
	&-area{
		display: flex;
		justify-content: flex-end;
		margin: 15px $left-padding 15px auto;
		list-style: none;

		> span{
			margin-left: 10px;
		}
		
	}
}
.tabs{
	width: 100%;
	position: relative;
	
	//TAB制御
	&-nav{
		display: flex;
		justify-content: flex-start;
		list-style: none;
		min-width: 600px;
		margin-top: 30px;
		position: absolute;
		top: -17px;
		left: $left-padding;

		&__item{
			position: relative;
			white-space: nowrap;
			min-width: 125px;
			border-top: 1px solid $menu-color2;
			border-left: 1px solid $menu-color2;
			border-right: 1px solid $menu-color2;
			height: 35px;
			font-size: $content-font-size3;
			line-height: 2.1em;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
			text-align: center;
			margin-right: 5px;
			color: $menu-color2;
			padding-left: 10px;
			padding-right: 10px;
			> a{
				display: block;
				text-decoration: none;
				width: 100%;
				color: #b3b3b3;
			}
			&--exclamation{
				@include exclamation;
				@include exclamation_red;
				height:18px;
				width:18px;
				top:-10px;
				right:-5px;
				z-index: 11;				
			}
		}
		&__item:hover,&__item--active{
			background-color: $content-bgColor;
			height: 36px;
			z-index: 10;

			> a{
				color: $hoverColor;

			}
		}
	}

}


.search{
	width: 100%;
	position: relative;
	&__searcharea{

		padding-top: 10px;
		margin-left: $left-padding;
		
		&--title{
			display: inline-block;
			width: auto;
			height: 45px;
			font-size: $content-font-size4;
			white-space: nowrap;
			text-align: center;
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 5px;
			padding-bottom: 5px;
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;
			background-color: #D9EEF8;
			box-sizing: border-box;
			line-height: 1.7em;
			font-weight: 500;
			cursor: pointer;
			position:relative;
			&:before {
				font-family: "Font Awesome 5 Free";
				content: '\f106';
				font-weight: 900;
				font-size: 20px;
				position: absolute;
				top:6px;
				left: 12px;
			}
			
			&.closed{
				height: 35px;
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
				
				&:before {
					font-family: "Font Awesome 5 Free";
					content: '\f107';
					font-weight: 900;
					font-size: 20px;
					position: absolute;
					top:6px;
					left: 12px;
				}
			}
			
		}
		
		
		
		&__items{
			background-color: #D9EEF8;
			box-sizing: border-box;
			width: calc(100% - #{$left-padding});
			margin-right: $left-padding;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			&__top{
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				width: calc(100% - 20px);
				margin: auto;
				&--object{
					margin-left: 10px;
					width: 100%;
					max-width: 400px;
					
					&.mr{
						margin-right: 10px;
					}
					
					&--name{
						padding-top: 15px;
						font-size: $content-font-size4;
						line-height: 1.4em;
					}

					&__list{
						display: flex;
						justify-content:space-between;
						font-size: $content-font-size4;
						width: auto;
						height: 35px;
						list-style: none;
						margin-top: 5px;
						border:1px solid #999999;
						border-radius: 2px;
						padding-top:6px;
						padding-bottom:6px;
						padding-left:10px;
						padding-right:10px;
						box-sizing: border-box;
						
						label{
							position: relative;
							margin-left: 18px;

							.radio1span::before{
								top:2px;
								left: -17px;
							}

							input[type="radio"].radio1:checked + .radio1span::after{
								top:6px;
								left:-13px;
							}
						}
					}
					&.w290{
						width: 290px;
						min-width: 290px;
					}
					&--text,&--select,&--date{
						margin-top: 5px;
						width: 100%;
					}
					&--date{
						width: 135px;	
					}
					
					&__during{
						display: flex;
						justify-content: space-between;
						flex-wrap: nowrap;
						i.calender{
							top:13px;	
						}
						p{
							//width: 30px;
							text-align: center;
							line-height: 2.5em;
							margin-left: 5px;
							margin-right: 5px;
						}
					}
				}				
				
			}
			&__bottom{
				display: flex;
				justify-content: center;
				margin-top: 20px;
				padding-bottom: 20px;
				span.mr{
									
					margin-right: 10px;

				}
			}
		}
	}
	
	&__btnarea{
		display: flex;
		justify-content: flex-end;
		list-style: none;
		margin-right: $left-padding;
		position: absolute;
		top: 10px;
		right: 15px;
		
	}
}

.notice{
	height: 65px;
	
	&-desc{
		margin-top: 20px;
		font-size: $content-font-size5;
		line-height: 1.4em;
		margin-left: $left-padding;
		margin-right: $left-padding;
	}
}

/*テーブル系共通設定*/
//TD左寄せ、中央寄せ、右寄せ設定
.tl{
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
.tc{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.tr{
	padding-left: 10px;
	padding-right: 10px;
	font-family: $font-number;
	text-align: right;
}

div.ag-spread{
	//background-color: $content-bgColor;
	background-color: rgba(255,255,255,0.5);
	width:100%;
	
	div.ag-header{
		@include theadStyle;
		@include thStyle();
		//2列目のフィルター設定
		div.ag-floating-filter-body{
			width:100%  !important;

			//テーブル2行目フィルター設定
			.ag-floating-filter-input{
				width: 100% !important;
				margin:auto;
				height: 25px !important;

				@include txtCommon;
				padding-right: 20px;
				box-sizing: border-box;
				margin-top: 2.5px;
			}

			.ag-floating-filter-input:focus{
				border: 1.5px solid rgba(124,189,221, 0.8);


			}
			.ag-floating-filter-input.active{
				@include txtActive;
			}

		}
		//テーブルヘッダー2行目フィルター設定　ボタン変更
		.ag-floating-filter-button{
			position: relative;
			line-height: 1em;
			button{
				position: absolute;
				top:3.5px;
				left: 3px;
				//buttonのスタイルを無効化
				border: none;
				background: none;
				color: rgba(255, 255, 255, 0);
				background-image:url("../images/search.png");
				background-size:12px 13px;
				background-repeat: no-repeat;
				background-position: center center;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				width: 20px;
				height: 25px;
				cursor: pointer;
			}
			//検索ボタンアクティブの挙動
			button:focus{
				background: none;
				background-color: $hoverColor;
				background-image:url("../images/search_a.png");
				background-size:12px 13px;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
		
		//テーブルヘッダー1行目チェックボックス設定
		.ag-checkbox-unchecked{
			background: none;
			position: absolute;
			@include cbDefColor1;
			margin: 0;
			padding: 0;
			border: 2px solid #FFFFFF;
			border-radius: 2px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			box-sizing: border-box;
			height: 16px;
			width: 16px;
		}
		//チェックボックスchekedのスタイル
		.ag-checkbox-checked{
			background: none;
			position: absolute;
			@include cbChkBGColor;
			margin: 0;
			padding: 0;
			border-radius: 2px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			box-sizing: border-box;
			height: 16px;
			width: 16px;
		}
		.ag-checkbox-checked:after{
			background: none;
			@include cbSpanStyleAfter;
			top: -1px;
			left: 2px;
			width: 8px;
			height: 11px;
			box-sizing: border-box;
			//transform: rotate(180deg);

		}
		//ボディ内のチェックボックスが一つ以上すべて未満のときのスタイル
		.ag-checkbox-indeterminate{
			background: none;
			position: absolute;
			@include cbDefColor1;
			border: 2px solid #FFFFFF;
			border-radius: 2px;
			margin: 0;
			padding: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			box-sizing: border-box;
			height: 16px;
			width: 16px;

			.ag-icon-checkbox-indeterminate{
				background: none;
			}
		}
	}
	//テーブルヘッダー1行目セル設定（ソートボタンやドラッグアンドドロップ時の設定）
	div.ag-header-row:first-child{
		.ag-header-cell{
			text-align: left;
			padding-left: 14px;
			padding-top: 8px;
		}
		.ag-header-cell:hover{
			@include thMoveStyle;
		}
		.ag-header-cell:hover:before{
			@include thMoveStyle_bf;
		}

		.ag-header-cell div.ag-cell-label-container{
			//position: relative;
		}
		//sortしていないときのスタイル
		.ag-sort-none-icon{
			background: none;

			@include thArrowStyle_ba;
			svg{
				display: none;
			}
		}
		//sort昇順
		.ag-sort-ascending-icon{
			background: none;
			@include thArrowStyle_ba_active;
			svg{
				display: none;
			}
		}
		//sort降順
		.ag-sort-descending-icon{
			background: none;
			@include thArrowStyle_ba_active;
			transform:rotate(180deg);            
			svg{
				display: none;
			}
		}
		//フィルター時に出てくるフィルターマーク除去
		.ag-filter-icon{
			display: none;
			
		}

		//ヘッダーテキスト設定
		.ag-header-cell-text{
			overflow:inherit;
			text-overflow:inherit;
			width: calc(100% - 10px);
			display: block;
		}
	}
	//ヘッダー2行目のセルのパディングは個別設定
	div.ag-header-row:nth-child(2){
		.ag-header-cell{
			padding-left: 0.5px !important;
			padding-right: 0.5px !important;
		}

	}
	//データ列セルの設定
	.ag-cell{
		@include tdStyle;
	}
	//データ行の設定
	div.ag-row{
		background-color: #FFFFFF;
		border-bottom: 1px solid #ebebeb;
		@include tdStyle;
		.ag-selection-checkbox{
			position: relative;
			top: 1px;
			left: 30px;
			height: 16px !important;
			width: 16px !important;;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
		//チェックボックス
		//ver12.02にしたことによりspanに埋め来なくなった。チェックボックスは画像に変更
		.ag-selection-checkbox img{
			position: relative;
			top: 1px;
			left: -33px;
			height: 16px;
			width: 16px;
		}
		//valu値は非表示
		.ag-selection-checkbox + span.ag-cell-value{
			display: none;
		}
		/*ver12.02にしたことにより
		.ag-icon-checkbox-checked{
			background: none;
			@include cbChkBGColor;
			border-radius: 2px;
			top: 1px;
			left: -35px;
			height: 16px;
			width: 16px;
		}
		.ag-icon-checkbox-checked:after{
			background: none;
			@include cbSpanStyleAfter;
			top: 0px;
			left: 4px;
			width: 6px;
			height: 11px;
			//transform: rotate(180deg);

		}*/

		//ステータス非表示時の表示領域
		.statusdiv{
			@include tdStatusStyle;
		}

		.ag-cell-focus{
			border: none;
			transform: translate(2px,-1px) ;
			box-shadow: 0 0 1px 1px rgba(5,167,193,0.5);
			outline: none !important;
		}
		.ag-cell-focus:focus{
			border: none;
			transform: translate(2px,-1px) ;
			box-shadow: 0 0 1px 1px rgba(5,167,193,0.5);
		}

	}
	.noCellFocus{
		border: none !important;
		transform: translate(0,0) !important;
		box-shadow: 0 0 0 0  rgba(255,255,255,0.0) !important;

	}
	
	.cl_w{
		color: transparent;
	}
	//行のhover設定
	.ag-row-hover{
		@include trHoverStyle;

	}
	.status3_rowstyle{
		background-color: #f2f2f2 !important;
	}	
	//行のセレクト設定
	.ag-row-selected{
		@include trActiveStyle;

	}
	.row-default{
		transition: 1s;
	}
	.row-update{
		@include trActiveStyle;
	}
	//行のcell設定
	.cellclass{
		border-left: 1.5px solid $menu-color1;
	}
	//フィルターのtxt部分を非表示
	.ag-filter-body{
		display: none;
	}
	.ag-menu{
		box-shadow: 0px 0px 4px rgba(0,0,0,0.5) !important;
		border: none !important;
		border-radius: 2px;
		background-color: #FFFFFF;
		z-index: 51;
	}
	.ag-filter-select{
		@include selectcommon;
		color: $menu-color3;
		width: 120px !important;
		height: 145px !important;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
		overflow: hidden;
		background: none;
		margin:0 !important;
		padding: 0;
		> option{
			padding-left: 10px;
			padding-top: 1.5px;
			padding-bottom: 1.5px;
		}
		
		> option[selected]{
			color:red !important;
		}
	}
	.ag-filter-condition{
		display: none;
	}
	//編集可能フィールドのクラス設定とデザイン
	.editClass{
		height: 40px !important;
		background-color: #FFFFFF !important;
		border-bottom: 1px solid #ebebeb !important;
		border-left: 1px solid #ebebeb !important;
		&:hover::after{
			
		}
	}
	
	.editClass::after{
		content:"";
		@include txtCommon;
		width: calc(100% - 10px);
		height: 30px !important;;
		margin: auto;
		position: absolute;
		top:5px;
		left:5px;

	}
	.txtactive::after{
		@include txtActive;
		z-index: -1;
	}
	.txterror{
		color:$errorStrColor !important ;
	}
	.txterror::after{
		@include txtError;
		z-index: -1;
	}
	.ag-cell-inline-editing{
		height: 40px !important;
	}
	.ag-pinned-left-header{
		.ag-header-cell:first-child,.ag-header-cell:nth-child(2){
			.ag-floating-filter-body{display: none;}
			.ag-floating-filter-button{display: none;}
			
		}
	}
	.ag-cell-edit-input{
		border: none !important;
		width: calc(100% - 15px);
		height: 30px !important;
		line-height: 3em;
		margin: auto;
	}
	
	
	.tl{
		.ag-cell-edit-input{
			text-align: left;
			padding-left: 5px;
		}
	}

	.tr{
		.ag-cell-edit-input{
			text-align: right;
			padding-right: 5px;
		}
	}
	//外枠を除去
	.ag-root{
		border:none !important;
	}
	.ag-row-odd{
		background:#FFFFFF;
	}
	.ag-paging-panel{
		height: 36px;
		background-color: #e7e7e7;
		border-top: 1px solid rgba(188,188,188,1.0);
		.ag-paging-button{
			border:none;
			color: transparent;
			background-color: #e7e7e7;
			content: "\f100";
		}
	}
	.ag-paging-row-summary-panel,.ag-paging-page-summary-panel{
		display: none;
	}
	.exc_relative{
		position: relative;
	}
	.exc_red{
		@include exclamation;
		@include exclamation_red;
		height:14px;
		width:14px;
		font-size: 12px;
		top:2px;
		right:-7px;				
	}
	.exc_blue{
		@include exclamation;
		@include exclamation_blue;
		height:14px;
		width:14px;
		font-size: 12px;
		top:2px;
		right:-7px;				
	}
	
	a.btn_secondary{
		white-space: nowrap;
		margin: auto;
		min-width: 75px !important;
		min-height: 30px !important;
		line-height: 1.5em;
		margin: auto;
		margin-top: 3px;
		margin-right: 0;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	div.itemcode{
		display: flex;
		justify-content: space-between;
	}
	
}




//テーブル横スクロールスタイル
.scrollArrow{
	width: 50px;
	height: calc(100vh - 323px);			
	position: absolute;
	top: 60px;
	right: 0px;
	cursor: pointer;
	background-color: rgba(153,153,153,0.5);
	z-index: 50;
}
.scrollArrow:after{
	content: "〉";
	color:#FFFFFF;
	font-size:30px;
	position: relative;
	top:45%;
	left:45%;
	transform: translate(-50%,-50%);
}
//データがない時の設定
.nodata{
	color: $menu-color5;
	font-size: 1.6em;
	position: absolute;
	text-align: center;
	width: 100%;
	top:300px;
	left:50%;
	transform: translate(-50%,50%);

	>span {
		font-size: $content-font-size2;
	}
}

//ローダー設定
.loaderdiv{
	width: 107px;
	height: 107px;
	margin: auto;
	position: absolute;
	top:300px;
	left:50%;
	transform: translate(-50%,-50%);

	&-loader{
		width: 107px;
		height: 107px;
		border: 5px solid $mainColor;
		border-right: 5px solid transparent;
		border-radius: 50%;
		position: absolute;
		top: -5px;
		left:-5px;;


		animation: loading 1.25s linear infinite;
	}
	
	&:after{
		content: "LOADING";
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%,-50%);
		color:$menu-color2; 
		font-size: $content-font-size4;
	}

}

/*テーブル系設定ここまで*/
.tableitem{
//ボタン表示エリア
	position: relative;
	&__btnarea{
		width: 100%;
		position: relative;

		//入荷完了以外チェックっボックスや他ボタン
		&--leftarea{
			display: flex;
			justify-content: flex-start;
			list-style: none;
			color: $menu-color3;
			margin: 15px $left-padding 15px auto;
			margin-left: $left-padding;
			> span{

				margin-right: 15px;

				.cb1span::before{
					top: 9px;
					left: -25px;
				}

				.cb1:checked + .cb1span::after{
					top: 10.5px;
					left: -20px;
				}



			}

			>span.lh{
				padding-left: 25px;
				line-height: 2.1em;
			}
		}
		//ボタン右側配置の場合
		&--rightarea{

			display: flex;
			justify-content: flex-end;
			list-style: none;
			position: absolute;
			right: $left-padding;
			top: 0;
			
			&__select{
				margin-right: 20px;
				font-size: $content-font-size4;
				position: relative;
				

				
				> span{
					padding-left: 20px;
					padding-right: 20px;
					cursor: pointer;
					line-height: 2.3em;
					display: block;
				}
				
				&--list{
					position: absolute;
					top:35px;
					left: 50%;
					transform: translate(-50%,0);
					list-style: none;
					background-color: #FFFFFF;
					width: 145px;
					box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.16);
					margin-top: 0;
					margin-bottom: 0;
					z-index: 101;
					&--item {
						padding-top: 10px;
						padding-bottom: 10px;
						text-align: center;
						font-size: $content-font-size5;
					}
					&--item:hover,&--item.active{
						background-color: rgba(217,238,248,1.0);
					}
					&--item:not(:first-child){
						border-top: 1px solid rgba(157,157,157,0.5);
					}
				}
			}
			&__select span::after{
				content:"▼";
				width: 9px;
				height: 5px;
				font-size: 10px;
				position: absolute;
				top:0;
				right: 7px;
			}
			
			
			
			&__select span:hover,&__select span.active{
				background-color: rgba(255,255,255,0.5);
				border-radius: 18px;
			}
			
			&__select span.disabled{
				color:rgba(0, 0, 0, 0.2);
			}
			> span{
				margin-left: 10px;
			}
		}
	}
	&__tablearea{
		position: relative;
		&__pagerAllCount{
			position: absolute;
			bottom: 8px;
			left: 10px;
			display: flex;
			justify-content: flex-end;
			&--desc{
				font-size: $content-font-size5;
			}
		}
		&__pagerItem{
			width: 200px;
			
			position: absolute;
			bottom: 8px;
			left: 50%;
			transform: translate(-50%,0);
			display: flex;
			justify-content:space-between;
			i{
				cursor: pointer;
			}
			.disabled{
				color: #CCCCCC;
				cursor: default;
			}
			&__nowpage{
				
				&--desc{
					font-size: $content-font-size5;
					letter-spacing: 5px;
					&--big{
						font-size: $content-font-size5;
						font-weight: bold;
						letter-spacing: 0px;
					}
				}
			}
		}
		&__pagercounter{
			position: absolute;
			bottom: 1.5px;
			right: 10px;
			display: flex;
			justify-content: flex-end;
			
			&--desc{
				font-size: $content-font-size5;
				margin-bottom:8px;
				margin-top: auto;
				margin-right: 10px;
			}
			
			&--select{
				width: 70px;
				height: 24px !important;
				font-size: $content-font-size5;
				padding-left: 5px !important;
				text-align: center;
				margin-bottom:4px;
				margin-top: auto;
				background:none !important;
				background: url("../images/select_def.png") right 7px top 50% no-repeat !important;
				background-size: 9px, 100% !important;
				background-color: #FFFFFF !important;
			}
		}
	}
}

//画面下から出てくる別画面
//他でも使用できそうなのでこの画面の共通部分はこちらに書き出す
.otherwindow{
	position: absolute;
	height: 100%;
	width: 100%;
	top:100vh;
	left: 0;
	background-color: $content-bgColor;
	z-index: 500;
	animation: closeOtherWindow 0.3s linear 0s;
	&-exclamation{
		position: relative;
		&__container{
			display: flex;
			justify-content: flex-end;
			position: relative;
			top:15px;
			right:40px ;
			
		}
		&__items{
			color:#FFFFFF;
			height: 26px;
			border-radius: 13px;
			padding-right: 15px;
			display: flex;
			justify-content: flex-start;
			margin-left: 10px;
			&--desc{
				font-size: $menu-font-size4;
				line-height: 2.0em;	
				color: #FFFFFF;
			}
			&--exc{
				text-align: center;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				background-color: #FFFFFF;
				display: inline-block;
				font-size: $menu-font-size2;
				line-height: 1.1em;
				padding: 2px;
				margin-left: 3px;
				margin-right: 5px;
				margin-top: 2px;
				&.blueexc{
					color: rgba(115,205,232,1.0);
				}
				&.redexc{
					color: rgba(255,141,141,1.0);
				}
			}
			&.blue{
				background-color: rgba(115,205,232,1.0);
			}
			&.red{
				background-color: rgba(255,141,141,1.0);
				cursor: pointer;
			}
		}
		
	}
	&-disabled{
		background-color: rgba(191,191,191,0.6);
		pointer-events: auto !important;
	}
	#otherwindow-disabled1{
		position: absolute;
		left: -30px;
		width: calc(100% + 60px);
		top:-30px;
		height: calc(100% + 51px);
		pointer-events: none;		
	}
	#otherwindow-disabled2{
		position: absolute;
		top:0px;
		left: -30px;
		width: calc(100% + 60px);
		height: calc(100% + 21px);
		pointer-events: none;
	}
	#otherwindow-disabled3{
		position: absolute;
		top:0px;
		left: -30px;
		width: calc(100% + 60px);
		height: calc(100% + 31px);
		pointer-events: none;
	}
	
	.otherwindow-dropshadow{
		box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.4);
	}
	.otherwindow-dropshadow::after{
		content:'';
		position: absolute;
		bottom:-22px;
		left:50%;
		transform: translate(-50%,0);
		margin:0;
		width:0;
		height:0;
		border-right:25px solid transparent;
		border-top:25px solid $content-bgColor;
		border-left:25px solid transparent;
		filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
		z-index: 501;
	}
	//@include transition;
	&-header{
		width: 100%;
		border-top: 1px solid #FFFFFF;
		border-bottom: 1px solid $content-borderColor;
		position: relative;
		background-color: #FFFFFF;
		.page-title{
			margin-left: $left-padding;
		}

		&__title {
			list-style: none;
			display:flex;
			justify-content: flex-start;
			width: 100%;
		
			&--icondiv {
				line-height: 1.9em;
			
				svg.icon{
					width: 42px;
					height: 32px;
					color: $mainColor;
					margin-top: 18px;
					margin-left: $left-padding;
				}
			
			}
			.page-title{
				margin-left: 0;
			}
		}

		//そのヘッダーに付随するボタン
		&__btnarea{
			display: flex;
			justify-content: flex-end;
			list-style: none;
			position: absolute;
			top:15px;
			right: $left-padding;

			span{
				margin-left: 10px;
			}
		}

	}
	&__btnarea{
		width: 100%;
		position: relative;

		//入荷完了以外チェックっボックスや他ボタン
		&--leftarea{
			display: flex;
			justify-content: flex-start;
			list-style: none;
			color: $menu-color3;
			margin: 15px $left-padding auto auto;
			margin-left: $left-padding;

			>span.lh{
				padding-left: 25px;
				line-height: 2.1em;
			}
			>span{
				margin-right: 10px;
			}
		}
		//ボタン右側配置の場合
		&--rightarea{

			display: flex;
			justify-content: flex-end;
			list-style: none;
			position: absolute;
			right: $left-padding;
			top: 0;

			> span{
				margin-left: 10px;
			}
		}
	}	
	&-tablearea{
		width: calc(100% - #{$left-padding});
		height: calc(100vh - 110px);
		background-color: $content-bgColor;
		padding-right:$left-padding;
		
		//テーブル設定
		div.ag-spread{
			height: calc(100% - 20px);	
			margin-top:20px;
			margin-left:$left-padding;
			margin-right:$left-padding;

			//ここはテーブルのサイズ感に合わせておく
			a.btn_secondary{
				white-space: nowrap;
				margin: auto;
				min-width: 100px !important;
				min-height: 30px !important;
				line-height: 1.5em;
				font-size: $content-font-size4;
				margin: auto;
				margin-top: 2px;
			}
		}

	}
	
	&-contents{
		margin-left: $left-padding;
		margin-right: $left-padding;
		padding-bottom: 30px;
		
		h3{
			font-size: $content-font-size3;
			color: $mainColor;
		}
		h4{
			font-size: $content-font-size4;
			color: $menu-color3;
		}
		.headMargin{
			margin-top: 15px;
		}
		&__location{
			position: relative;
			margin-top: 20px;
			
			&.topmargin{
				margin-top: 30px;
			}
			&.sectionmargin{
				padding-top: 50px;
				border-top:1px solid #DDDDDD;
			}

			&.bottompadding{
				padding-bottom: 40px;
			}
			
			&--desc{
				line-height: 1.4em;
				font-size: $content-font-size4;
				margin-top: 5px;
			}
			&--btn{
				display: inline-block;
				margin-top: 5px;
			}
			&--btncenter{
				margin: auto;
				margin-top: 20px;
				text-align: center;
				&--div{
					width: auto;
					margin: auto;
					a{
						display: inline-block;
					}
					a.btn_secondary{
						margin-right: 10px;
					}
				}
			}
			&--grid{
				margin-top: 10px;
				width: calc(100% + 30px);
			}
			&__items{
				background-color: #FFFFFF;
				display: flex;
				justify-content: flex-start;
				flex-wrap: nowrap;
				width: 100%;
				margin-top: 10px;
				border-radius: 4px;
				padding-top: 15px;
				padding-bottom: 15px;
				&__content{
					margin-top: 20px;
					margin-bottom: 20px;
					width: calc(25% - 25px);
					margin-left: 20px;
					&.lastrow{
						margin-left: 20px;
						margin-right: auto;
					}
					
					&.ml{
						//margin-left: 20px;
					}
					&.mr{
						margin-right: 20px;
					}
					&--top{
						color:$menu-color5;
						font-size: $content-font-size5;
						padding-bottom: 5px;
						border-bottom: 1px solid #E8E8E8;
						line-height: 1.4em;
						&--req{
							@include textHissu;
						}
					}
					&--bottom{
						color:$menu-color3;
						font-size: $content-font-size4;
						padding-top: 10px;
						line-height: 1.4em;
					}
				}
			}
			
		}
		
		&__inputarea{
			margin-top: 20px;
			
			&__input{
				margin-top: 25px;
				display: flex;
				justify-content: flex-start;
				
				&__sep{
					width:240px;
					margin-right: 10px;
					position: relative;
					&.div130{
						width:130px;
					}
					&--name{
						color:$menu-color3;
						font-size: $content-font-size4;
						line-height: 1.4em;
						margin-bottom: 5px;
						box-sizing: border-box;
						min-height: 17px;
						&--req{
							@include textHissu;

						}
					}
					
					&--desc{
						line-height: 1.4em;
						font-size: $content-font-size6;
						margin-top: 3px;
					}
					
					&--select,input{
						
						width: 100%;
					}
				}
			}
		}
		
		&__otherarea{
			margin-top: 20px;
			border-top:1px solid #DDDDDD;
			
			h4{
				margin-top: 10px;
			}
			
			&--desc{
				margin-top: 5px;
				font-size: $content-font-size5;
				display: flex;
				justify-content: flex-start;
				flex-wrap: nowrap;
				&--item{
					position: relative;
					margin-top: 10px
				}
				
				.tooltip{
					margin-top: 10px					
				}
			}
			&--text{
				line-height: 1.4em;
				font-size: $content-font-size6;
				margin-top: 3px;

			}
			&__items{
				display: flex;
				justify-content: flex-start;
				flex-wrap: nowrap;
				margin-top: 15px;
				&__input{
					width:100px;
					margin-right: 10px;
					&--name{
						font-size: $content-font-size4;
					}
					input{
						margin-top: 5px;
						width: 100%;
					}
					
				}
				.ml{
					margin-left: 10px;
				}
				label{
					margin-left: 32px;
					.cb1span::before{
						top: 2px;
						left: -30px;
					}

					.cb1:checked + .cb1span::after{
						top: 4px;
						left: -25px;
					}
					.radio1span::before{
						top: 2px;
						left: -30px;
					}

					.radio1:checked + .radio1span::after{
						top: 4px;
						left: -25px;
					}
					
				}
				textarea{
					height: 95px;
				}
			}
			&--name{
				margin-top: 15px;
				font-size: $content-font-size4;
			}
		}
	}
	&-details{
		background-color: #FFFFFF;
		width: calc(100% - 60px);
		height: auto;
		padding-left: $left-padding;
		padding-right: $left-padding;
		padding-bottom: 30px;
		&.toppadding{
			padding-top: 30px;
		}
		h4{
			font-size: $content-font-size5;
			color: $menu-color3;
			margin-left: 20px;
		}
		.headMargin{
			margin-top: 25px;
			width: 100%;
		}
		&__location{
			background-color: rgba(240,240,240,0.5);
			border-radius: 4px;		
			border:0.5px solid $menu-color5;
			position: relative;
			margin-top: 30px;
			

			&.sectionmargin{
				padding-top: 50px;
				border-top:1px solid #DDDDDD;
			}

			&.bottommargin{
				margin-bottom: 10px;
			}
			

			&__items{
				display: flex;
				justify-content: flex-start;
				flex-wrap: nowrap;
				width: 100%;
				margin-top: 10px;
				padding-top: 15px;
				padding-bottom: 15px;
				&__content{
					margin-top: 15px;
					margin-bottom: 15px;
					width: calc(25% - 25px);
					margin-left: 20px;
					&.lastrow{
						margin-left: 20px;
						margin-right: auto;
					}
					
					&.ml{
						//margin-left: 20px;
					}
					&.mr{
						margin-right: 20px;
					}
					&--top{
						color:$menu-color5;
						font-size: $content-font-size5;
						padding-bottom: 5px;
						border-bottom: 1px solid #E8E8E8;
						line-height: 1.4em;
					}
					&--bottom{
						color:$menu-color3;
						font-size: $content-font-size4;
						padding-top: 10px;
						line-height: 1.4em;
					}
				}
			}
			
		}	}
	
}
.otherwindow.openotherwindow{
	top:0;
	animation: openOtherWindow 0.3s linear 0s;
}
/*モーダル*/
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 5000;

	//modalコンテンツ設定
	.modal{
	
		background-color: $menu-color1;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%,-50%);
	
		max-width: 800px;
		height: auto;
		max-height: calc(100vh - 160px);
		min-height: 400px;

		padding-bottom: 20px;
		position: relative;
	
		//閉じるボタン（×）設定	
		i.close::after,i.close::before{
			position: absolute;
			right: 0px;
			top: -23px;
			content: '';
			background-color: #FFFFFF;
			height: 3px;
			width: 25px;
			cursor: pointer;
		}
		i.close::before{
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		i.close::after{
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	
		//モーダルのタイトル
		&-header{
			border-bottom:1px solid $content-borderColor;
			padding-left:$left-padding;
			position: relative;
			background-color: #FFFFFF;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			&--title {
				color: $mainColor;
				font-size: $content-font-size2;
				line-height: 2.2em;
				margin: 12.5px auto 12.5px 0;
				padding-top: 10px;
			}
			//入荷実績送信
			> a.btn_primary,> a.btn_secondary{
				display: block;
				position: absolute;
				top: 15px;
				right: $left-padding;
			}
		}		
		&-content{
			padding-left:$left-padding;
			padding-right:$left-padding;
			&__contentarea{
				
				margin-top: 20px;
				font-size: $content-font-size5;
				border-top: 1px solid #999999;
				
				
				&--title{
					font-size: $content-font-size4;
					margin-top: 15px;
					line-height: 1.4em;
				}
				&--description{
					margin-top: 15px;
					line-height: 1.4em;
				}
				&.nbt{
					border: none;
					margin-top: 0;
				}
				
				&--list{
					margin-top: 15px;
					margin-left: 17px;
					display: flex;
					justify-content: flex-start;
					font-size: $content-font-size4;
				
					li{
						margin-right: 35px;
					}
				}
				
				
				textarea{
					margin-top: 5px;
					width: 100%; 
					height: 85px;
					font-size: $content-font-size3;
				}
			}
			

			&--desc{
				margin-top: 20px;
				line-height: 1.6em;
				font-size: $content-font-size4;
			}
			&__contentarea{
				
				width:310px;
				margin: auto;

				&--selectdesc{
					margin-top: 25px;
					font-size: $content-font-size4;
					margin-bottom: 5px;
				}
				
				&__btnarea{
					display: flex;
					justify-content: space-between;
					margin-top: 35px;
				}
			
			

			}
		}

	}
}
//ボタン押下後上部から出るメッセージ
.messageBox{
	position: fixed;
	width:70%;
	top:-100px;
	left: 50%;
	transform: translate(-50%,0);
	background-color: rgba(239,253,250,0.95);
	border-radius: 6px;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	z-index: 2000;
	box-sizing: border-box;
	@include transition;
	&--msg{
		font-size: $menu-font-size3;
		line-height: 1.4em;
		text-align: center;
		margin: 20px auto;
		padding-left:10px;
		padding-right:10px;
	}
	
	&.messageBox-open{
		top:20px;
		left: 50%;
		transform: translate(-50%,0);
		@include transition;
	}
}
.messageBox-error{
	position: fixed;
	width:70%;
	top:-100px;
	left: 50%;
	transform: translate(-50%,0);
	background-color: rgba(255,226,233,0.95);
	border-radius: 6px;
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	z-index: 2000;
	box-sizing: border-box;
	@include transition;
	&--msg{
		color: rgba(217,59,59,1.0);
		font-size: $menu-font-size3;
		line-height: 1.4em;
		text-align: center;
		margin: 20px auto;
		padding-left:10px;
		padding-right:10px;
	}
	
	&.messageBox-open{
		top:20px;
		left: 50%;
		transform: translate(-50%,0);
		@include transition;
	}
}
//表示非表示切り替え用
.dspnone{
	display: none !important;
}
.dspblock{
	display: block !important;
}




//高さ設定アップロードで文字がはみ出るため
@media screen and (max-height: 700px) {
	.dspnone_h{
		display: none;
	}

	
}
//ツールチップ設定

.question{
	margin-left: 10px;
	width: 15px;
	height: 15px;
}
.hatena{
	font-size: $content-font-size4;
	color: #FFFFFF;
	background-color: $menu-color3;
	border-radius: 50%;
	margin-left: 30px;
	padding: 1px;
	width: 16px;
	height: 16px;
	text-align: center;
}
.tooltip span{
	display: none;
}
.tooltip:hover {
	position: relative;
}
/*ツールチップ*/
.tooltip:hover span {
	@include tooltip;

	> a{
		color: $tooltip-font-color_active;
	}
	> a:hover{
		text-decoration: underline;
	}
}

.tooltip:hover span:before{
	@include tooltip_hover;
}

//textにカーソルでautoloaderを表示する
.autoloader{
	position: absolute;
	top: 0;
	left: 0;
	max-height: 200px;
	width: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index:1100;
	background-color: #FFFFFF;
	border-radius: 4px;
	list-style: none;
	padding: 0;
	&::-webkit-scrollbar{
	@include scrollbar;
	}
	&::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	&::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}
	
	&-list{
		font-size:$content-font-size4;
		padding: 7px 10px;
		border-bottom: 1px solid #CCCCCC;
		cursor: pointer;
		width: 100%;
	}

}

//モーダルの横幅設定アップロードで文字がはみ出るため

@media screen and (max-width: 840px) {
	div.modal{
		width: calc(100% - 40px);
	}
}
//ローダーアニメーションの設定
@keyframes loading{
	from{
		
	}
	to{
		transform: rotate(360deg);
		transform-origin: 50% 50%;
	}
}

//下からwindowを立ち上げる
@keyframes openOtherWindow{
	from{
		top:100vh;
	}
	to{
		top:0;
	}
}
//下からのwindowをさげる
@keyframes closeOtherWindow{
	from{
		top:0;
	}
	to{
		top:100vh;
	}
}


/*エラー共通メッセージ************************************************************/
/*エラータイトルヘッダー*/
.error {
	color:$errorTxtColor;
	&-messageHead {
		@include txtError;
		text-align: center;
		line-height: 1.5em;
		svg.icon {
			max-width: 16px;
			font-size: 16px;
			margin-right:10px;
		}
		.error-message__title{
			font-weight: 500;
		}
	  &__business {//業務エラー枠
			margin: 20px 30px 0;
			padding: 18px;
		}
		&__system {//システムエラー枠
			padding: 22px;
			.error-message__text  {
				margin-top: 10px;
			}
		}
		.error-message__text {//エラー内容説明テキスト
			color:$font-base-color;
			font-size:$content-font-size4;
		}
	}
	/*単項目エラー事由テキスト*/
	&-reason {
		font-size:$content-font-size5;
		&--inputField {//入力フィールド用
			margin-top: 7px;
		}
		&--fileSelect {
			@include txtError;
			@include unorder-list-style;
			width: 100%;
			padding: 20px;
			box-sizing: border-box;
		}
	}
}

.input--error{
	font-size: $content-font-size6;
	color:#D95165;
	line-height: 1.4em;
	margin-top: 3px;
}


