@charset "UTF-8";
// index.html 専用設定

//original設定
@import '_import';


/* homeformat ********************************************************/

//ボタンセッティングエリアの高さ定義
$buttonSettingHight: 50px;
//タブの高さ定義
$tab_itemHight: 93px;
//マスタ登録ボタンの高さ定義
$masterBtHight: 35px;

//※$headHight変数は_mixin.scssに記載


/*ボタンセッティングエリアのスタイル*/
.buttonSetting {
	padding: 10px 20px 0;
	height: $buttonSettingHight;
	box-sizing: border-box;
	text-align: right;
	>ul {
		list-style: none;
		li {
			display: inline-block;
			margin-left: 1.5em;
			font-size: 14px;
		}
	}
}

/*タブ切り替え全体のスタイル*/
.tabs {
	width: 100%;
	text-align: center;
	letter-spacing: -.4em;
}

/*タブのスタイル************************************************************/
.tab_item {
	display: inline-block;
	letter-spacing: 0;
	padding: 0 5px;
//	max-width: 180px;
//★タブ数が増えたら割数↓を変更する
	width: calc(100%/6.5);
	box-sizing: border-box;
	height: $tab_itemHight;
	font-size: 18px;
	text-align: center;
	color: rgba(153,153,153,1);
	text-align: center;
	vertical-align: bottom;
	cursor: pointer;
	.itemBox {
		display: block;
		height: $tab_itemHight - 10px;
		margin-bottom: 10px;
		background-color: rgba(222,222,222,1);
		svg.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			padding-top: 5px;
			height: 52px;
			font-size: 45px;
			color: rgba(179,179,179,1);
		}
	}
}
.tab_item:hover {
	.itemBox {
		background-color: rgba(222,222,222,0.7);
		svg.icon {
		}
	}
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
	display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
	display: none;
	letter-spacing: 0;
	padding-bottom: $masterBtHight;
	box-sizing: border-box;
	height: calc(100vh - calc(#{$headHight} + #{$buttonSettingHight} + #{$tab_itemHight}));
	overflow: hidden;
	background-color: white;
	clear: both;
}

/*選択されているタブのコンテンツのみを表示*/
#ct01:checked ~ #ct01_content,
#ct02:checked ~ #ct02_content,
#ct03:checked ~ #ct03_content,
#ct04:checked ~ #ct04_content,
#ct05:checked ~ #ct05_content,
#ct06:checked ~ #ct06_content {
	display: block;
}
/*タブ選択時*/
.tabs input:checked + .tab_item {
	.itemBox {
		height: $tab_itemHight;
		margin-bottom: 0;
		color: rgba(123,123,123,1);
		background-color: white;
		cursor: default;
		svg.icon {
			color: rgba(76,174,222,1);
			filter: drop-shadow(0px -1px rgba(0,0,0,0.2));
		}
	}
}


/*ボタンエリアスタイル*/
.tab_content_description {
	padding: 40px 8%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
}

/* ボタンスタイル */
#buttonBlock {
	display: block;
	/*大きく表示されるボタン領域*/
	.priorityArea {
		text-align: left;
		.btn {
			width: 200px;
			height: 200px;
			background-color: rgba(233,239,242,1);
			svg.icon {
				font-size: 60px;
				padding-bottom: 10px;
			}
			.name {
				position: absolute;
				bottom: 0;
				padding: 0 15px;
				width: 100%;
				height: 66px;
				box-sizing: border-box;
				text-align: center;
				font-size: 18px;
			}
		}
	}
	/*通常のボタン領域*/
	.defaultArea  {
		text-align: left;
		.btn {
			width: 200px;
			height: 60px;
			>a {justify-content: left;}
			svg.icon {
				margin: 5px 10px;
				font-size: 35px;
			}
			.name {
				padding: 0 10px 0 0;
				max-width: 130px;
				font-size: 14px;
				text-align: left;
			}
		}
	}
}

/* マスター登録 ************************************************************/
footer#masterArea {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(153,153,153,1);
	box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
	overflow: auto;
/* 帯ボタンのスタイル */
	#obi_item {
		display: flex;
		align-items: center;
		height: $masterBtHight;
		padding-left: 15px;
		color: white;
		overflow: hidden;
		&:hover {
			background-color: rgba(255,255,255,0.1);
		}
		.itemBox {
			line-height: 1;
			.iconCircle {
				display: inline-block;
				width: 24px;
				height: 24px;
				margin-right: 5px;
				text-align: center;
				font-size: 24px;
				line-height: 24px;
				border-radius: 12px;
				vertical-align: middle;
				background-color: rgba(255,255,255,0.2);
				transition: all 0.8s ease;
			}
		}
	}

/*ラジオボタンを全て消す*/
input[name="obi_item"] {
	display: none;
}
/*マスタ登録エリアスタイル*/
.footer_content {
	height: 0;
	box-sizing: border-box;
	overflow: hidden;
	clear: both;
	transition: all 0.3s ease;
}

/*マスタ登録エリア選択時の高さ*/
#obiBT:checked ~ #ft01_content {
	height: calc(100vh - calc(#{$headHight} + #{$masterBtHight}));
	/*header+マスター登録ボタン高さ*/
}
/*選択時ボタンスタイル*/
#obiBT:checked ~ #obi_item {
	.itemBox {
		.iconCircle {
			transform: rotateZ(180deg);
			background-color: rgba(255,255,255,1);
			color: #4caede;
		}
	}
}

	/*ボタンエリアスタイル*/
	.footer_content_description {
		padding: 40px 8%;
		height: 100%;
		overflow: auto;
		box-sizing: border-box;
	}
}