@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .tabs-nav {
  position: relative;
  top: 1px; }
article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__btnarea--rightarea a.btn_secondary {
    min-width: 100px; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 140px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }

/*モーダル*/
.overlay .modal {
  max-width: 560px;
  min-height: auto; }
  .overlay .modal-content__contentarea {
    width: 100%; }
