/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	.tabs{
		&-nav{
			position: relative;
			top:1px;
		}
	}
	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		
		&__btnarea{
			
			&--rightarea{
				a.btn_secondary{
					min-width: 100px;
				}
			}
		}
		
		//テーブルエリア
		&__tablearea{			
			width: calc(100% - #{$left-padding});
			height: calc(100% - 140px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
			}
		
		}

	}
}
/*モーダル*/
.overlay{
	//modalコンテンツ設定
	.modal{
		max-width: 560px;
		min-height: auto;
		
		&-content{
			&__contentarea{
				width: 100%;
				&__btnaarea{
					
					
				}
			}
		}

	}
}
