/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';
#wrap {
	overflow-y: auto;
	background-color: $activeColor;
}
//table系スタイル
article{
	.contentheader{
		&-title{
			justify-content: center !important;
			
			&--icondiv {
				line-height: 1.9em;
			
				svg.icon{
					margin-top: 23px !important;
					margin-left: 0px !important;
				}
			
			}
			.page-title{
				
				font-size: 23px;
			}
		}
	}
	.tabs{

		//TAB制御
		&-nav{
			position: relative;
			top:1px;
			left: 0;
			justify-content: center;

			&__item{
				border-top: 1px solid $menu-color2;
				border-left: 1px solid $menu-color2;
				border-right: 1px solid $menu-color2;
				height: 61px;
				font-size: $content-font-size2;
				color: #9B9B9B;	
				line-height: 3.3em;
				padding-left: 20px;
				padding-right: 20px;
			}
			&__item:hover,&__item--active{
				background-color: $activeColor;
				height: 61px;
				z-index: 10;
				border-top: 1px solid $activeColor;
				border-left: 1px solid $activeColor;
				border-right: 1px solid $activeColor;
				
				a{
					color: #9B9B9B;
					font-weight: bold;
				}
			}
		}

	}
	
	.pickitem{
		border-top: 1px solid $menu-color2;
		height: calc(100vh - 210px);;
		h3{
			font-size: 20px;
			color: $hoverColor;
		}
		background-color: $activeColor;
		.pt90{
			padding-top: 90px;
		}
		&-input{
			width: 40%;
			min-width: 490px;
			max-width: 700px;
			margin: auto;
			padding-top: 25px;
			
			
			input[type="text"]{
				margin-top: 10px;
				width: 100%;
				height: 50px;
				font-size: 20px;
				border: 3px solid $menu-color5;
				border-radius: 4px;
				
				&.error{
					border: 3px solid #F5BFBF;
				}
			}
			
			&--error{
				font-size: 18px;
				color:#DD5A6E;
				padding-top: 2px;
				display: block;
			}
		}
		
		&-btns{
			display: flex;
			justify-content: space-between;
			width: 325px;
			//min-width: 490px;
			margin: auto;
			margin-top: 40px;
			
			a{
				min-height: 50px;
				font-size: $content-font-size2;
				padding-top: 11px;
				padding-bottom: 11px;
				margin: 0;
			}
			
			a.btn_primary{
				@include btnprimary-hover;
				cursor: pointer;
			}
			a.btn_primary.disabled{
				@include btnprimary-disabled;
			}
		}
		
		&-logarea{
			width:95%;
			max-width: 1200px;
			margin: auto;
			
			h3{
				margin-top: 10px;
			}
			
			&-log{
				overflow-y: auto;
				margin-top: 10px;
				height: 185px;
				border: 3px solid $menu-color5;
				border-radius: 4px;
				background-color: #FFFFFF;
				
				padding-left: 45px;
				padding-right: 45px;
				&--item{
					margin-top: 10px;
					font-size: 20px;
					font-weight: bold;
					line-height: 1.4em;
					&--time{
						font-weight: normal;
					}
				}
				&--error{
					font-size: 18px;
					color:#D93B3B;
					margin-left: 87px;
				}
			}
		}
		
		&-ctrlbtns{
			width:95%;
			max-width: 1200px;
			display: flex;
			justify-content: flex-end;
			margin: 20px auto;
			a{
				margin-right:0;
				height: 45px;
				padding-top: 9.5px;
				padding-bottom: 9.5px;
			}
		}
	}
	
}