@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

#wrap {
  overflow-y: auto;
  background-color: #d9eef8; }

article .contentheader-title {
  justify-content: center !important; }
  article .contentheader-title--icondiv {
    line-height: 1.9em; }
    article .contentheader-title--icondiv svg.icon {
      margin-top: 23px !important;
      margin-left: 0px !important; }
  article .contentheader-title .page-title {
    font-size: 23px; }
article .tabs-nav {
  position: relative;
  top: 1px;
  left: 0;
  justify-content: center; }
  article .tabs-nav__item {
    border-top: 1px solid #b2b2b2;
    border-left: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    height: 61px;
    font-size: 18px;
    color: #9B9B9B;
    line-height: 3.3em;
    padding-left: 20px;
    padding-right: 20px; }
  article .tabs-nav__item:hover, article .tabs-nav__item--active {
    background-color: #d9eef8;
    height: 61px;
    z-index: 10;
    border-top: 1px solid #d9eef8;
    border-left: 1px solid #d9eef8;
    border-right: 1px solid #d9eef8; }
    article .tabs-nav__item:hover a, article .tabs-nav__item--active a {
      color: #9B9B9B;
      font-weight: bold; }
article .pickitem {
  border-top: 1px solid #b2b2b2;
  height: calc(100vh - 210px);
  background-color: #d9eef8; }
  article .pickitem h3 {
    font-size: 20px;
    color: #008bd0; }
  article .pickitem .pt90 {
    padding-top: 90px; }
  article .pickitem-input {
    width: 40%;
    min-width: 490px;
    max-width: 700px;
    margin: auto;
    padding-top: 25px; }
    article .pickitem-input input[type="text"] {
      margin-top: 10px;
      width: 100%;
      height: 50px;
      font-size: 20px;
      border: 3px solid #b3b3b3;
      border-radius: 4px; }
      article .pickitem-input input[type="text"].error {
        border: 3px solid #F5BFBF; }
    article .pickitem-input--error {
      font-size: 18px;
      color: #DD5A6E;
      padding-top: 2px;
      display: block; }
  article .pickitem-btns {
    display: flex;
    justify-content: space-between;
    width: 325px;
    margin: auto;
    margin-top: 40px; }
    article .pickitem-btns a {
      min-height: 50px;
      font-size: 18px;
      padding-top: 11px;
      padding-bottom: 11px;
      margin: 0; }
    article .pickitem-btns a.btn_primary {
      background-color: #008bd0;
      color: #FFFFFF;
      cursor: pointer; }
    article .pickitem-btns a.btn_primary.disabled {
      background-color: rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.2);
      cursor: default;
      box-shadow: none; }
  article .pickitem-logarea {
    width: 95%;
    max-width: 1200px;
    margin: auto; }
    article .pickitem-logarea h3 {
      margin-top: 10px; }
    article .pickitem-logarea-log {
      overflow-y: auto;
      margin-top: 10px;
      height: 185px;
      border: 3px solid #b3b3b3;
      border-radius: 4px;
      background-color: #FFFFFF;
      padding-left: 45px;
      padding-right: 45px; }
      article .pickitem-logarea-log--item {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.4em; }
        article .pickitem-logarea-log--item--time {
          font-weight: normal; }
      article .pickitem-logarea-log--error {
        font-size: 18px;
        color: #D93B3B;
        margin-left: 87px; }
  article .pickitem-ctrlbtns {
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    margin: 20px auto; }
    article .pickitem-ctrlbtns a {
      margin-right: 0;
      height: 45px;
      padding-top: 9.5px;
      padding-bottom: 9.5px; }
