.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-wa2010 {
  width: 1.029296875em;
}

.icon-wa2030 {
  width: 1.068359375em;
}

.icon-wa7011 {
  width: 1.1123046875em;
}

.icon-wa9103 {
  width: 1.0537109375em;
}

.icon-wa9123 {
  width: 1.06640625em;
}

.icon-wa9141 {
  width: 1.1982421875em;
}

.icon-wa9144 {
  width: 1.1220703125em;
}

.icon-wa9163 {
  width: 1.1162109375em;
}

.icon-wa9183 {
  width: 1.1240234375em;
}

.icon-wa9231 {
  width: 1.095703125em;
}

.icon-seaoswms {
  width: 4.8828125em;
}

.icon-xble {
  width: 2.587890625em;
}