@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .tabs-btn {
  display: flex;
  justify-content: flex-end;
  margin: 15px 30px 15px auto;
  list-style: none; }
  article .tabs-btn > span {
    margin-left: 10px; }
article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 140px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }

/*モーダル*/
.overlay .modal-content {
  padding-left: 30px; }
  .overlay .modal-content__btnarea {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    list-style: none; }
    .overlay .modal-content__btnarea > span {
      margin-right: 10px; }
  .overlay .modal-content__tablearea {
    width: calc(100% - 30px);
    height: auto;
    max-height: calc(100vh - 355px);
    min-height: 220px;
    background-color: #EEE;
    margin-top: 15px;
    position: static; }
    .overlay .modal-content__tablearea div.ag-spread {
      width: 100%;
      height: 100%;
      max-height: calc(100vh - 390px); }
      .overlay .modal-content__tablearea div.ag-spread .ag-body {
        max-height: calc(100vh - 430px);
        min-height: 230px; }
      .overlay .modal-content__tablearea div.ag-spread .ag-body-viewport-wrapper {
        max-height: calc(100vh - 430px);
        min-height: 230px; }
      .overlay .modal-content__tablearea div.ag-spread .ag-body-viewport, .overlay .modal-content__tablearea div.ag-spread .ag-pinned-left-cols-viewport {
        max-height: calc(100vh - 430px);
        min-height: 230px; }
