/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	.tabs{
		&-btn{
			display: flex;
			justify-content: flex-end;
			margin: 15px $left-padding 15px auto;
			list-style: none;

			> span{
				margin-left: 10px;
			}
		}
	}
	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		

		
		//テーブルエリア
		&__tablearea{
			width: calc(100% - #{$left-padding});
			height: calc(100% - 140px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
			}
		
		}

	}
}

/*モーダル*/
.overlay{
	//modalコンテンツ設定
	.modal{
		
		&-content{
			padding-left:$left-padding;
			
			&__btnarea {
				display: flex;
				justify-content: flex-start;
				margin-top: 15px;
				list-style: none;
				
				> span{
					margin-right: 10px;
				}
			}
			
			//テーブル設定
			&__tablearea{
				width: calc(100% - #{$left-padding});
				height: auto;
				max-height: calc(100vh - 355px);
				min-height: 220px;
				background-color: #EEE;
				margin-top: 15px;
				position: static;
				
				div.ag-spread{
					width: 100%;
					height: 100%;
					max-height: calc(100vh - 390px);
					//min-height: 290px;
					
					.ag-body{
						max-height: calc(100vh - 430px);
						min-height: 230px;

					}
					.ag-body-viewport-wrapper {
						max-height: calc(100vh - 430px);
						min-height: 230px;
					}
					.ag-body-viewport,.ag-pinned-left-cols-viewport {
						max-height: calc(100vh - 430px);
						min-height: 230px;
					}
					.ag-body-container,.ag-pinned-left-cols-container {
						//height: auto !important;
					}


				}
			}
		}
	}
}