@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 160px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(1) .ag-floating-filter-body {
        display: block; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(1) .ag-floating-filter-button {
        display: block; }
      article .tableitem__tablearea div.ag-spread a.btn_secondary {
        margin-right: 10px; }
      article .tableitem__tablearea div.ag-spread div.itemcode {
        display: flex;
        justify-content: space-between; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px); }
  .otherwindow-search {
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 20px;
    border-bottom: 1px solid #999999; }
    .otherwindow-search__tab {
      display: flex;
      justify-content: flex-start;
      margin-left: 30px;
      padding-top: 15px;
      list-style: none;
      cursor: pointer; }
      .otherwindow-search__tab--list {
        min-width: 130px;
        text-align: center;
        padding: 0 10px;
        height: 45px;
        line-height: 3em;
        box-sizing: border-box;
        background-color: #F0F0F0;
        margin-right: 10px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-size: 14px;
        color: #808080; }
        .otherwindow-search__tab--list a {
          display: block;
          text-decoration: none;
          width: 100%; }
      .otherwindow-search__tab--list:hover, .otherwindow-search__tab--list.active {
        background-color: #D9EEF8; }
    .otherwindow-search__area {
      margin-left: 30px;
      margin-right: 30px;
      display: flex;
      justify-content: flex-start;
      background-color: #D9EEF8;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
      .otherwindow-search__area input, .otherwindow-search__area a {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px; }
      .otherwindow-search__area .w120 {
        width: 120px; }
      .otherwindow-search__area .w220 {
        width: 220px; }
      .otherwindow-search__area .w145 {
        width: 145px; }
  .otherwindow-tablearea {
    width: calc(100% - 30px);
    height: calc(100vh - 330px);
    background-color: #f0f0f0;
    padding-right: 30px;
    position: relative; }
    .otherwindow-tablearea .tableitem__tablearea__pagerAllCount {
      left: 40px; }
    .otherwindow-tablearea div.ag-spread {
      height: calc(100%); }

p.nodata {
  top: 450px;
  left: 50%; }
