/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		

		
		//テーブルエリア
		&__tablearea{			

			width: calc(100% - #{$left-padding});
			height: calc(100% - 160px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{

				height: 100%;	
				.ag-pinned-left-header{
					.ag-header-cell:nth-child(1){
						.ag-floating-filter-body{display: block;}
						.ag-floating-filter-button{display: block;}

					}
				}
				//ここはテーブルのサイズ感に合わせておく
				a.btn_secondary{
					margin-right: 10px;
				}
				
				div.itemcode{
					display: flex;
					justify-content: space-between;
				}
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);

	&-search{
		width: 100%;
		background-color: #FFFFFF;
		padding-bottom: 20px;
		
		border-bottom: 1px solid $menu-color4;
		&__tab{
			display: flex;
			justify-content: flex-start;
			margin-left: $left-padding;
			padding-top: 15px;
			list-style: none;
			cursor: pointer;
			
			&--list{
				min-width: 130px;
				text-align: center;
				padding: 0 10px;
				height: 45px;
				line-height: 3em;
				box-sizing: border-box;
				background-color: #F0F0F0;
				margin-right: 10px;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				font-size: $content-font-size4;
				color: #808080;
				a{
					display: block;
					text-decoration: none;
					width: 100%;
				}
			}
			&--list:hover,&--list.active{
				background-color: #D9EEF8;
				a{
					//color: $hoverColor;
				}
			}
		}
		
		&__area{
			margin-left: $left-padding;
			margin-right: $left-padding;
			display: flex;
			justify-content: flex-start;
			background-color: #D9EEF8;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;

			
			input,a{
				margin-top: 15px;
				margin-bottom: 15px;
				margin-left: 10px;
			}
			
			.w120{
				width: 120px;
			}
			
			.w220{
				width: 220px;
			}
			
			.w145{
				width: 145px;
			}
			
		}
	}
	&-tablearea{
		width: calc(100% - #{$left-padding});
		height: calc(100vh - 330px);
		background-color: $content-bgColor;
		padding-right:$left-padding;
		position: relative;
		.tableitem__tablearea__pagerAllCount{
			left: 40px;
		}
		//テーブル設定
		div.ag-spread{
			height: calc(100%);	
			//padding-top:20px;
			//padding-left:$left-padding;
			//padding-right:$left-padding;
		}
	}

}
p.nodata{
	top:450px;
	left:50%;
}