/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	.tabs{
		&-btn{
			display: flex;
			justify-content: flex-end;
			margin: 15px $left-padding 15px auto;
			list-style: none;

			> span{
				margin-left: 10px;
			}
		}
	}
	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		

		
		//テーブルエリア
		&__tablearea{			
			width: calc(100% - #{$left-padding});
			height: calc(100% - 140px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
				.ag-pinned-left-header{
					.ag-header-cell:first-child,.ag-header-cell:nth-child(3){
						.ag-floating-filter-body{display: none;}
						.ag-floating-filter-button{display: none;}

					}
					.ag-header-cell:nth-child(2){
						.ag-floating-filter-body{display: block;}
						.ag-floating-filter-button{display: block;}

					}
				}
                //ここはテーブルのサイズ感に合わせておく
				a.btn_secondary{
					white-space: nowrap;
					margin: auto;
					min-width: 50px !important;
					min-height: 22px !important;
					line-height: 1.5em;
					font-size: $content-font-size5;
					margin: auto;
					margin-top: 9px;
					margin-right: 0;
					padding-top: 2px;
					padding-bottom: 0;
				}
				
				div.itemcode{
					display: flex;
					justify-content: space-between;
				}
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	&-contentsScroll::-webkit-scrollbar{
		@include scrollbar;
	}
	&-contentsScroll::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	&-contentsScroll::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
	&-contentsScroll{
		height: calc(100% - 70px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	&-buttons{
		position: relative;
		&__box{
			display: flex;
			justify-content: flex-end;
			flex-wrap: nowrap;
			//width: 365px;

			position: absolute;
			right: 10px;
			top:-85px;
			>a {
				min-width: 115px;
				margin-right: 15px;

			}
		}
	}
	&-contents{
		&__location{
			&.bottompadding{
				padding-bottom: 25px;
			}
			&__items{
				&__content{
					&--top{
						&.bordernone{
							border: none;
						}
					}
				&--flexbottom{
						color:$menu-color3;
						font-size: $content-font-size4;
						padding-top: 10px;
						line-height: 1.4em;
						padding-top: 5px;
						display: flex;
						justify-content: space-between;
						input[type="text"]{
							width: calc(100% - 80px);
							margin-right: 10px;
						}
						.btn_secondary{
							min-width: 70px;
						}
					}	
				}
			}
			
			&__items--middle{
				flex-wrap:wrap;
				.otherwindow-contents__location__items__content{
					width: calc(25% - 25px);					
				}
				.width44{
					width:calc(50% - 30px);
				}
				.mr{
					margin-right: 20px;
				}				
				&.bottompadding2{
					padding-bottom: 80px;
				}
			}

		}
	}
	&-details{
		&__location{
			&.bottompadding{
				padding-bottom: 20px;
			}
			&__items--middle{
				flex-wrap:wrap;
				.otherwindow-contents__location__items__content{
					width: calc(25% - 25px);					
				}
				.width44{
					width:calc(50% - 30px);
				}
				.mr{
					margin-right: 20px;
				}				
			}

		}
	}

}
#otherwindow2{
	.otherwindow-contents__location__items__content--bottom{
		padding-top: 5px;
		input[type="text"],input[type="date"],select{
			width: 100%;
		}
	}
}
	
#otherwindow3{
	.tabs{
		
		background-color: #FFFFFF;
		padding-top: 30px;
		&-nav{
			position: relative;
			margin-top: 0;
			top:1px;
		}
	}

	.otherwindow-tablearea{
		border-top: 1px solid #999999;
		//テーブル設定
		div.ag-spread{
			height: calc(100% - 140px);	
			//padding-top:20px;
			//padding-left:$left-padding;
		}
	}

}
/*モーダル*/
#modal1.overlay{
	//modalコンテンツ設定
	.modal{
		max-width: 470px;
		min-height: auto;

	}
}

/*モーダル*/
#modal2.overlay{
	//modalコンテンツ設定
	.modal{
		width: 90%;
		max-width: none;
		min-width: 1000px;
		min-height: 530px;
		padding-bottom: 5px;
		&-content{
			padding-left:$left-padding;
			&__btnarea {
				display: flex;
				justify-content: flex-start;
				margin-top: 15px;
				list-style: none;
				
				> span{
					margin-right: 10px;
				}
			}
			
			//テーブル設定
			&__tablearea{
				width: calc(100% + #{$left-padding});
				height: auto;
				max-height: calc(100vh - 355px);
				min-height: 245px;
				background-color: #EEE;
				margin-top: 15px;
				position: relative;
				
				div.ag-spread{
					width: 100%;
					height: 100%;
					max-height: calc(100vh - 390px);
					//min-height: 290px;
					
					.ag-root,.ag-body,.ag-body-viewport-wrapper,.ag-body-viewport,.ag-pinned-left-cols-viewport{
						max-height: calc(100vh - 440px);
						min-height: 200px;
					}
					.ag-body-container,.ag-pinned-left-cols-container {
						//height: auto !important;
					}


				}
			}
		}
	
	}
}

//データがない時の設定
.nodata2{
	font-size: 1.6em;
	position: absolute;
	text-align: center;
	width: 100%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: $menu-color5;
	>span {
		font-size: $content-font-size2;
	}
}
