@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; }
  article .tableitem__btnarea {
    width: 100%;
    position: relative; }
    article .tableitem__btnarea--leftarea {
      padding-top: 15px;
      margin-top: 0;
      margin-left: 30px; }
    article .tableitem__btnarea--rightarea {
      margin: 0 30px 15px auto;
      top: 15px; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 70px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }
