@charset "UTF-8";
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

html, body {
  height: 100%;
  min-width: 1024px; }

* {
  font-family: 'Noto Sans JP', sans-serif; }

o
a {
  color: #999999; }
  o
  a:hover {
    color: #008bd0;
    text-decoration: none; }

#shortcutMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 5px;
  width: 42px;
  height: 100%;
  box-sizing: border-box;
  background-color: #595757;
  color: white;
  text-align: center;
  font-size: 16px;
  float: left;
  position: relative;
  z-index: 2100; }
  #shortcutMenu a {
    color: white; }
    #shortcutMenu a:hover {
      color: rgba(255, 255, 255, 0.5); }
  #shortcutMenu ul#shortcutIconBlock li {
    margin-bottom: 15px; }
  #shortcutMenu svg.icon {
    max-width: 30px;
    font-size: 30px; }

#wrap {
  position: relative;
  height: 100%;
  background-color: #f0f0f0;
  overflow: hidden; }

#commonHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 40px;
  background-color: #008bd0;
  color: white;
  z-index: 3;
  /* プルダウンメニュー */ }
  #commonHead svg.icon {
    color: white;
    font-size: 19px; }
  #commonHead form {
    display: inline-block;
    vertical-align: top; }
  #commonHead label.ninushiSelect {
    position: relative;
    display: inline-block;
    padding-left: 0.5em;
    width: 450px;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background-color: #2ca6e0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    /*&:before {
    	position: absolute;
    	content: "▼";
    	top: 50%;
    	right: 10px;
    	margin-top: -0.5em;
    	width:1em;
    	height:1em;
    	font-size: 10px;
    	color: #BBE3F5;
    	text-shadow: 0 -1px rgba(0,0,0,0.6);
    	pointer-events: none;
    }*/ }
    #commonHead label.ninushiSelect:hover {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.6); }
    #commonHead label.ninushiSelect .nnme {
      font-size: 14px; }
    #commonHead label.ninushiSelect .headerInput {
      height: 25px;
      width: 400px;
      background-color: #2ca6e0;
      color: white;
      font-size: 16px;
      line-height: 1.5em;
      transition: all 0.3s ease;
      border: none;
      padding-right: 25px;
      box-sizing: border-box; }
    #commonHead label.ninushiSelect .headerAutoloader {
      position: absolute;
      top: 27px;
      left: 0px;
      max-height: 200px;
      width: 400px;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 1100;
      background-color: #FFFFFF;
      border-radius: 4px;
      list-style: none;
      padding: 0; }
      #commonHead label.ninushiSelect .headerAutoloader::-webkit-scrollbar {
        width: 9px;
        /* スクロールバーの幅 */ }
      #commonHead label.ninushiSelect .headerAutoloader::-webkit-scrollbar-track {
        /* スクロールバーのバー背景装飾 */
        background: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: inset 0 0 2px #777; }
      #commonHead label.ninushiSelect .headerAutoloader::-webkit-scrollbar-thumb {
        /* スクロールバー自体の装飾 */
        background: #cdcdcd;
        border-radius: 10px;
        box-shadow: none; }
      #commonHead label.ninushiSelect .headerAutoloader-list {
        font-size: 14px;
        padding: 7px 10px;
        border-bottom: 1px solid #CCCCCC;
        color: #808080;
        cursor: pointer;
        width: 100%; }
      #commonHead label.ninushiSelect .headerAutoloader li:hover {
        background-color: #d9eef8; }
    #commonHead label.ninushiSelect #headerAutoloaderReset {
      position: absolute;
      top: 5px;
      right: 0px;
      font-size: 18px;
      width: 25px;
      height: 25px; }
    #commonHead label.ninushiSelect select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      display: inline-block;
      min-width: 200px;
      padding: 0 2em 0 10px;
      border: none;
      border-radius: 0 4px 4px 0;
      background-color: #2ca6e0;
      color: white;
      font-size: 16px;
      line-height: 1.5em;
      transition: all 0.3s ease; }
      #commonHead label.ninushiSelect select:hover {
        background-color: #50b0dd; }
      #commonHead label.ninushiSelect select option {
        font-size: 15px;
        color: #999999;
        background-color: white;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }
        #commonHead label.ninushiSelect select option.default {
          display: none; }

::-ms-expand {
  /* Dropdown selectのデザインを無効（IE用） */
  display: none; }

/*ユーザー表示*/
#mypage {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  padding: 0 0.25em 0 0.5em;
  height: 24px;
  vertical-align: top;
  border-radius: 12px;
  background-color: #2ca6e0;
  cursor: pointer;
  transition: all 0.3s ease; }
  #mypage:hover {
    background-color: #50b0dd; }
    #mypage:hover #listBlock {
      padding: 5px 10px 10px;
      height: auto;
      transition: all 0.8s ease; }
  #mypage #name {
    font-size: 14px;
    line-height: 24px;
    -webkit-font-feature-settings: "palt" 1;
    font-feature-settings: "palt" 1; }
    #mypage #name #authority {
      vertical-align: middle; }
      #mypage #name #authority:before {
        content: '（'; }
      #mypage #name #authority:after {
        content: '）'; }
  #mypage #listBlock {
    position: absolute;
    top: 24px;
    right: -10px;
    z-index: 999;
    padding: 0 10px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease; }
    #mypage #listBlock ul#mypagelist {
      list-style: none;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
      color: #7b7b7b; }
      #mypage #listBlock ul#mypagelist li {
        padding: 10px 15px; }
        #mypage #listBlock ul#mypagelist li.separator {
          border-bottom: solid 1px #c8c8c8; }
        #mypage #listBlock ul#mypagelist li dl {
          width: 100%; }
          #mypage #listBlock ul#mypagelist li dl dt {
            display: block;
            font-size: 12px;
            color: #c8c8c8;
            white-space: nowrap; }
          #mypage #listBlock ul#mypagelist li dl dd {
            display: block;
            white-space: nowrap; }
        #mypage #listBlock ul#mypagelist li .btn {
          display: block;
          margin: 0 0 10px; }

/*ボタンスタイル************************************************************/
.btn {
  position: relative;
  display: inline-block;
  min-width: 150px;
  height: 35px;
  margin: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background-color: #ebebeb;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
  transition: all 0.3s ease;
  /* ボタン名称の改行位置コントロール */ }
  .btn:hover {
    background-color: #008bd0;
    color: white; }
  .btn > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    text-decoration: none;
    color: gray;
    transition: all 0.3s ease; }
    .btn > a:hover {
      color: white;
      background-color: #008bd0; }
      .btn > a:hover svg.icon {
        color: white;
        text-shadow: none;
        filter: drop-shadow(0px -1px rgba(0, 0, 0, 0.3)); }
  .btn .name {
    padding: 5px 10px;
    font-size: 16px;
    -webkit-font-feature-settings: "palt" 1;
    font-feature-settings: "palt" 1; }
  .btn svg.icon {
    color: #83c6e8; }
  .btn span.break {
    display: inline-block; }

/*SVGアイコン凹み*/
.bt svg.icon,
.tab_item svg.icon {
  filter: drop-shadow(0px 1px white); }

/*ラベルスタイル************************************************************/
span.itemLabel {
  height: 18px;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 12px;
  color: #ffffff;
  margin-right: 6px; }
  span.itemLabel__required {
    /*必須ラベル*/
    background-color: #008bd0; }

/*坂本　共通設定*/
a.btn_primary {
  display: block;
  min-width: 150px;
  margin: auto;
  text-align: center;
  border: none;
  background: none;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  min-height: 25px;
  line-height: 1.3em;
  padding-top: 8px;
  padding-bottom: 8px;
  width: auto;
  background-color: #80c5e7;
  color: #FFFFFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

a.btn_primary:hover {
  background-color: #008bd0;
  color: #FFFFFF; }

a.btn_primary.disabled {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
  box-shadow: none; }

a.btn_secondary {
  display: block;
  min-width: 150px;
  margin: auto;
  text-align: center;
  border: none;
  background: none;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  min-height: 25px;
  line-height: 1.3em;
  padding-top: 8px;
  padding-bottom: 8px;
  width: auto;
  background-color: #ebebeb;
  color: #808080;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

a.btn_secondary:hover {
  background-color: #008bd0;
  color: #FFFFFF; }

a.btn_secondary.disabled {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
  box-shadow: none; }

a.btn_secondary_grayback {
  background-color: #dedede; }

a.btn_controller_primary {
  min-width: 100px;
  margin: auto;
  border: none;
  background: none;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  min-height: 25px;
  line-height: 1.3em;
  padding-top: 8px;
  padding-bottom: 8px;
  width: auto;
  border: 1px solid #008BD0;
  color: #008BD0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); }

a.btn_controller_primary:hover {
  border: 1px solid #00BAFF;
  color: #00BAFF; }

a.btn_controller_primary.disabled {
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.25);
  cursor: default;
  box-shadow: none; }

a.btn_controller {
  min-width: 100px;
  margin: auto;
  border: none;
  background: none;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  min-height: 25px;
  line-height: 1.3em;
  padding-top: 8px;
  padding-bottom: 8px;
  width: auto;
  border: 1px solid #999999;
  color: #808080;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); }

a.btn_controller:hover {
  border: 1px solid #008bd0;
  color: #008bd0; }

a.btn_controller.disabled {
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.25);
  cursor: default;
  box-shadow: none; }

a.btn_controller_grayback {
  border: 1px solid white;
  color: white; }

input[type="text"], input[type="time"], input[type="password"], input[type="date"], input[type="number"] {
  border-radius: 2px;
  border: 1px solid #b5b6b6;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  color: #808080;
  outline: none !important;
  box-sizing: border-box; }

input[type="text"] {
  padding-left: 10px; }

input[type="text"].active, input[type="time"].active, input[type="password"].active, input[type="date"].active, input[type="number"].active {
  background-color: #d9eef8; }

input[type="text"].disabled, input[type="time"].disabled, input[type="password"].disabled, input[type="date"].disabled, input[type="number"].disabled {
  background-color: #dddddd;
  border: none; }

input[type="text"].disabledgrey, input[type="time"].disabledgrey, input[type="password"].disabledgrey, input[type="date"].disabledgrey, input[type="number"].disabledgrey {
  background-color: #a4a4a4;
  border: none; }

input[type="text"].error, input[type="time"].error, input[type="password"].error, input[type="date"].error, input[type="number"].error {
  border: 1px solid #f1c1c1;
  background-color: #fff6f6;
  color: #dd5a6e !important; }

input[type="text"]:focus, input[type="time"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="number"]:focus {
  border: 1px solid #7cbddd; }

input[type="date"]::-ms-clear {
  visibility: hidden; }

input[type="text"].textright, input[type="time"].textright, input[type="password"].textright, input[type="date"].textright, input[type="number"].textright {
  text-align: right; }

.calenderdiv {
  position: relative; }

i.calender {
  font-family: "Font Awesome 5 Free";
  content: '\f073';
  font-weight: 900;
  font-size: 18px;
  position: absolute;
  top: 9px;
  right: -13px;
  width: 35px;
  height: 35px;
  pointer-events: none;
  cursor: pointer; }

input[type="date"] {
  position: relative;
  cursor: pointer; }

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none; }

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0;
  width: 35px;
  height: 35px;
  background: transparent;
  color: transparent;
  cursor: pointer; }

textarea {
  border-radius: 2px;
  border: 1px solid #b5b6b6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #808080;
  outline: none !important;
  box-sizing: border-box;
  width: 100%;
  resize: none; }

textarea.active {
  background-color: #d9eef8; }

textarea.error {
  border: 1px solid #f1c1c1;
  background-color: #fff6f6;
  color: #dd5a6e !important; }

textarea:focus {
  border: 1px solid #7cbddd; }

textarea.disabled {
  background-color: #dddddd;
  border: none; }

textarea.disabledgrey {
  background-color: #a4a4a4;
  border: none; }

select.content {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  height: 35px;
  border-radius: 2px;
  font-size: 14px;
  color: #b3b3b3;
  cursor: pointer;
  background: url("../images/select_def.png") right 10px top 50% no-repeat;
  background-size: 9px, 100%;
  background-color: #FFFFFF;
  outline: none; }

select.content.normal {
  color: #808080; }

select.content.active {
  background: url("../images/select_a.png") right 10px top 50% no-repeat;
  background-color: #d9eef8;
  color: #808080; }

select.content.error {
  background: url("../images/select_e.png") right 10px top 50% no-repeat;
  background-color: #fff6f6;
  color: #dd5a6e; }

select.content.disabled {
  background: url("../images/select_a.png") right 10px top 50% no-repeat;
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.2); }

select.content:focus {
  border: 1px solid #7cbddd; }

input[type="checkbox"].cb1 {
  display: none; }

.cb1span {
  position: relative;
  cursor: pointer; }

.cb1span::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 2px solid #808080; }

.cb1span.disabled::before {
  border: 2px solid #999999; }

.cb1span.disabledGrey::before {
  border: 2px solid #8e8e8e; }

/*.cb1span:hover::before{
	@include cbDefColor_hover;
}*/
input[type="checkbox"].cb1:checked + .cb1span {
  color: #FFF; }

input[type="checkbox"].cb1:checked + .cb1span::before {
  background-color: #008bd0;
  border: 2px solid #008bd0; }

input[type="checkbox"].cb1:checked + .cb1span::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 9px;
  transform: rotate(45deg);
  border-bottom: 2px solid #FFF;
  border-right: 2px solid #FFF;
  top: -1px; }

input[type="radio"].radio1 {
  display: none; }

.radio1span {
  position: relative;
  cursor: pointer; }

.radio1span::before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #FFF;
  border-radius: 50%;
  border: 2px solid #808080;
  top: 5px; }

input[type="radio"].radio1:checked + .radio1span {
  color: #FFF; }

input[type="radio"].radio1:checked + .radio1span::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  border: 2px solid #008bd0;
  background-color: #008bd0;
  border-radius: 50%;
  top: 9.5px;
  left: 4px; }

.radio1span.disabled::before {
  border: 2px solid #e9e9e9; }

.radio1span.disabledGrey::before {
  border: 2px solid #8e8e8e; }

h1.page-title {
  color: #008bd0;
  font-size: 21px;
  line-height: 1.9em;
  margin-left: 0px; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

article.shortwidth {
  width: calc(100% - 200px); }

/*MENU関連*/
/*→の初期値*/
.arrowdiv {
  position: fixed;
  width: 200px;
  height: 30px;
  background-color: #808080;
  bottom: 0;
  left: -128px;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1);
  z-index: 2001; }
  .arrowdiv svg.icon {
    position: absolute;
    color: white;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0; }

/*→オープン時の挙動*/
.openarrow {
  left: 42px; }
  .openarrow svg.icon {
    transform: scale(-1, 1); }

/*メニュー（オープン時）*/
#openmenu {
  width: 200px;
  height: calc(100% - 40px);
  position: fixed;
  left: -158px;
  top: 40px;
  background-color: #999999;
  z-index: 2000;
  justify-content: center;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 100; }
  #openmenu .openmenu-desc {
    font-size: 12px;
    padding-left: 20px;
    margin: 0 auto 8px 0;
    color: #b2b2b2; }
  #openmenu .openmenu-menumargin {
    margin: 20px auto 8px 0; }
  #openmenu .openmenu-btnarea {
    height: auto;
    width: 100%;
    padding: 20px 0;
    background-color: #808080; }
    #openmenu .openmenu-btnarea__btnareabtns {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 12px; }
      #openmenu .openmenu-btnarea__btnareabtns a.btn_secondary {
        width: 160px !important;
        margin-top: 8px; }
  #openmenu .openmenu-menuscroll {
    display: block;
    position: static;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden; }
  #openmenu .openmenu-menuscroll::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  #openmenu .openmenu-menuscroll::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  #openmenu .openmenu-menuscroll::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  #openmenu .openmenu-systemmenu {
    width: 100%;
    list-style: none; }
    #openmenu .openmenu-systemmenu__titlelist {
      position: relative;
      width: 100%;
      min-height: 40px;
      background-color: #999999;
      overflow: hidden; }
      #openmenu .openmenu-systemmenu__titlelist--childmenu {
        width: 100%;
        height: auto;
        transition: all 0.4s cubic-bezier(0, 0, 0, 1); }
        #openmenu .openmenu-systemmenu__titlelist--childmenu > li {
          position: relative;
          width: 100%;
          min-height: 30px;
          font-size: 16px;
          padding-right: 20px; }
        #openmenu .openmenu-systemmenu__titlelist--childmenu > li > a {
          display: block;
          width: calc(100% - 20px - 13px);
          min-height: 20px;
          color: #FFFFFF;
          text-decoration: none;
          padding: 5px 10px 5px 28px;
          transition: all 0.4s cubic-bezier(0, 0, 0, 1); }
        #openmenu .openmenu-systemmenu__titlelist--childmenu > li > a:hover {
          background-color: rgba(255, 255, 255, 0.25); }
        #openmenu .openmenu-systemmenu__titlelist--childmenu > li > a.active {
          color: #00c9ff; }
        #openmenu .openmenu-systemmenu__titlelist--childmenu > li > a.active::before {
          width: 4px;
          height: calc(100% - 10px);
          content: "";
          border-left: 4px solid #00c9ff;
          position: absolute;
          top: 0;
          left: 0; }
        #openmenu .openmenu-systemmenu__titlelist--childmenu > li:first-child {
          padding-top: 10px; }
        #openmenu .openmenu-systemmenu__titlelist--childmenu > li:last-child {
          padding-bottom: 10px; }
        #openmenu .openmenu-systemmenu__titlelist--childmenu > li:first-child > a.active::before {
          top: 10px;
          left: 0; }
      #openmenu .openmenu-systemmenu__titlelist .childMenuOpen {
        transition: all 0.4s cubic-bezier(0, 0, 0, 1); }
    #openmenu .openmenu-systemmenu__titlelist--title {
      display: block;
      width: 100%;
      min-height: 40px;
      color: #FFFFFF;
      text-decoration: none; }
    #openmenu .openmenu-systemmenu__titlelist__iconul {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      list-style: none; }
      #openmenu .openmenu-systemmenu__titlelist__iconul--svg {
        margin-left: 20px;
        position: relative; }
        #openmenu .openmenu-systemmenu__titlelist__iconul--svg > svg.icon {
          position: relative;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          margin: 7px auto;
          height: 26px;
          width: 26px; }
      #openmenu .openmenu-systemmenu__titlelist__iconul--title {
        padding: 8px 0;
        margin-left: 10px;
        padding-right: 30px; }
    #openmenu .openmenu-systemmenu__titlelist--title {
      padding-top: 5px; }
      #openmenu .openmenu-systemmenu__titlelist--title:hover, #openmenu .openmenu-systemmenu__titlelist--title.active {
        background-color: #b2b2b2;
        position: relative; }
      #openmenu .openmenu-systemmenu__titlelist--title:hover::after {
        content: "▼";
        font-size: 11px;
        color: #008bd0;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translate(-50%, -50%);
        cursor: pointer; }
      #openmenu .openmenu-systemmenu__titlelist--title.active:hover::after {
        content: "▲";
        font-size: 11px;
        color: #008bd0;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translate(-50%, -50%);
        cursor: pointer; }
  #openmenu .openmenu-master {
    position: absolute;
    bottom: 30px;
    width: 100%;
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.3);
    list-style: none;
    background-color: #999999; }
    #openmenu .openmenu-master__masterlist {
      position: relative;
      height: 40px;
      line-height: 2.2em;
      width: 100%;
      transition: all 0.4s cubic-bezier(0, 0, 0, 1);
      cursor: pointer; }
      #openmenu .openmenu-master__masterlist--title > a {
        display: block;
        color: #FFF;
        width: calc(100% - 20px );
        height: 40px;
        text-decoration: none;
        padding: 0 0 0 20px; }
        #openmenu .openmenu-master__masterlist--title > a:hover, #openmenu .openmenu-master__masterlist--title > a.active {
          background-color: #b2b2b2; }
        #openmenu .openmenu-master__masterlist--title > a:hover::before {
          content: "▼";
          font-size: 11px;
          color: #008bd0;
          position: absolute;
          top: 0;
          right: 10px;
          cursor: pointer; }
      #openmenu .openmenu-master__masterlist--scroll {
        width: 100%;
        height: calc(100% - 30px - 10px );
        overflow-y: auto;
        overflow-x: hidden; }
        #openmenu .openmenu-master__masterlist--scroll--menu {
          list-style: none; }
          #openmenu .openmenu-master__masterlist--scroll--menu > li {
            width: 100%; }
          #openmenu .openmenu-master__masterlist--scroll--menu > li > a {
            font-size: 14px;
            min-height: 20px;
            line-height: 1.4em;
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            padding: 5px 0 5px 28px;
            width: calc(100% - 28px - 5px); }
          #openmenu .openmenu-master__masterlist--scroll--menu > li > a:hover {
            background-color: #b2b2b2; }
      #openmenu .openmenu-master__masterlist--scroll::-webkit-scrollbar {
        width: 9px;
        /* スクロールバーの幅 */ }
      #openmenu .openmenu-master__masterlist--scroll::-webkit-scrollbar-track {
        /* スクロールバーのバー背景装飾 */
        background: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: inset 0 0 2px #777; }
      #openmenu .openmenu-master__masterlist--scroll::-webkit-scrollbar-thumb {
        /* スクロールバー自体の装飾 */
        background: #cdcdcd;
        border-radius: 10px;
        box-shadow: none; }
    #openmenu .openmenu-master .masteropen > p.openmenu-master--masterlist__title > a::before {
      content: "▲";
      font-size: 11px;
      color: #FFF !important;
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer; }

.open {
  left: 42px !important;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3); }

.page-block {
  width: 100%;
  margin: 0 0 0 auto;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1);
  background-color: #FFFFFF;
  height: calc(100% - 40px - 65px);
  min-height: calc(100% - 40px - 65px);
  position: relative; }
  .page-block .contentheader {
    width: 100%;
    border-bottom: 1px solid #999999;
    position: relative; }
    .page-block .contentheader-title {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      width: 100%; }
      .page-block .contentheader-title--icondiv {
        line-height: 1.9em; }
        .page-block .contentheader-title--icondiv svg.icon {
          width: 42px;
          height: 32px;
          color: #008bd0;
          margin-top: 18px;
          margin-left: 30px; }
    .page-block .contentheader-counterbars {
      position: absolute;
      width: 50%;
      top: 5px;
      right: 30px;
      color: #808080;
      max-width: 650px; }
      .page-block .contentheader-counterbars__descripton {
        width: 100%;
        display: flex;
        list-style: none; }
        .page-block .contentheader-counterbars__descripton--counter {
          width: 50%;
          font-size: 12px;
          font-weight: normal; }
          .page-block .contentheader-counterbars__descripton--counter > span#date {
            margin-right: 10px; }
          .page-block .contentheader-counterbars__descripton--counter > span#counter {
            margin-left: 10px;
            font-size: 21px;
            font-weight: normal; }
        .page-block .contentheader-counterbars__descripton__status {
          font-size: 12px;
          font-weight: normal;
          width: 50%; }
          .page-block .contentheader-counterbars__descripton__status--list {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-top: 10px;
            margin-right: 10%;
            list-style: none;
            text-align: right; }
            .page-block .contentheader-counterbars__descripton__status--list > li {
              width: 30%; }
            .page-block .contentheader-counterbars__descripton__status--list > li::before {
              content: "●";
              position: relative;
              top: 0;
              left: -5px; }
            .page-block .contentheader-counterbars__descripton__status--list .status1::before {
              color: #eb99af; }
            .page-block .contentheader-counterbars__descripton__status--list .status2::before {
              color: #e3e657; }
            .page-block .contentheader-counterbars__descripton__status--list .status3::before {
              color: #c9caca; }
      .page-block .contentheader-counterbars--counterbar {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-top: 10px; }
        .page-block .contentheader-counterbars--counterbar li {
          height: 10px; }
        .page-block .contentheader-counterbars--counterbar li.status1 {
          background-color: #eb99af;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px; }
        .page-block .contentheader-counterbars--counterbar li.status2 {
          background-color: #e3e657;
          margin-left: 5px;
          margin-right: 5px; }
        .page-block .contentheader-counterbars--counterbar li.status3 {
          background-color: #c9caca;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px; }

.menucontent {
  background-color: #FFFFFF; }
  .menucontent-dl1 {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    max-width: 500px;
    min-width: 250px;
    margin-left: 30px;
    padding-top: 30px; }
    .menucontent-dl1--title {
      color: #808080;
      font-size: 14px;
      line-height: 1em;
      padding: 10px 10px 10px 0;
      width: 100px;
      min-width: 100px; }
    .menucontent-dl1--desc {
      color: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      text-align: left;
      font-size: 14px;
      background-color: #ebebeb;
      line-height: 1em;
      margin-left: 10px;
      padding: 10px 10px;
      width: 100%; }
  .menucontent-dl2 {
    width: 40%;
    max-width: 500px;
    min-width: 250px;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px; }
    .menucontent-dl2__titleitem {
      color: #808080;
      font-size: 14px;
      line-height: 1em;
      padding: 10px 10px 10px 0;
      width: auto;
      position: relative; }
      .menucontent-dl2__titleitem__item {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        position: relative;
        /*ツールチップ*/ }
        .menucontent-dl2__titleitem__item > dd > img {
          margin-left: 10px;
          width: 15px;
          height: 15px; }
        .menucontent-dl2__titleitem__item .tooltip:hover span {
          bottom: calc(50% + 15px);
          left: -55px; }
        .menucontent-dl2__titleitem__item .tooltip:hover span:before {
          bottom: -11px;
          left: calc(45% - 1px); }
    .menucontent-dl2__selectitem {
      width: 100%; }
      .menucontent-dl2__selectitem > select {
        width: 100%; }

.uploader {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 405px);
  background-color: #f0f0f0;
  padding-bottom: 30px; }
  .uploader-title {
    padding-top: 30px;
    margin-left: 30px;
    color: #808080;
    font-size: 16px; }
  .uploader-dropzone__centering {
    border: 3px dashed #999999;
    border-radius: 4px;
    width: calc(100% - 30px - 30px);
    margin: auto 30px;
    margin-top: 20px;
    min-height: calc(100% - 100px);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .uploader-dropzone__centering--title {
      text-align: center;
      color: #808080;
      margin-top: 5px;
      font-size: 25px;
      font-weight: 300;
      line-height: 1.4em; }
    .uploader-dropzone__centering .btn_primary {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      font-size: 14px; }
    .uploader-dropzone__centering--filename {
      width: auto;
      text-align: center;
      margin: 40px auto 20px auto;
      color: #808080;
      font-size: 14px; }
    .uploader-dropzone__centering span {
      position: relative; }
    .uploader-dropzone__centering img.deletebtn {
      position: absolute;
      top: -10px;
      left: -30px;
      width: 19px;
      height: 19px;
      cursor: pointer;
      margin: 10px 0 5px 0;
      float: left; }

.uploadbtn {
  border-top: 1px solid #999999;
  width: 100%;
  background-color: #f0f0f0;
  text-align: right; }
  .uploadbtn .btn_primary {
    display: inline-block;
    margin: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 30px; }

.btns-area {
  display: flex;
  justify-content: flex-end;
  margin: 15px 30px 15px auto;
  list-style: none; }
  .btns-area > span {
    margin-left: 10px; }

.tabs {
  width: 100%;
  position: relative; }
  .tabs-nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    min-width: 600px;
    margin-top: 30px;
    position: absolute;
    top: -17px;
    left: 30px; }
    .tabs-nav__item {
      position: relative;
      white-space: nowrap;
      min-width: 125px;
      border-top: 1px solid #b2b2b2;
      border-left: 1px solid #b2b2b2;
      border-right: 1px solid #b2b2b2;
      height: 35px;
      font-size: 16px;
      line-height: 2.1em;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: center;
      margin-right: 5px;
      color: #b2b2b2;
      padding-left: 10px;
      padding-right: 10px; }
      .tabs-nav__item > a {
        display: block;
        text-decoration: none;
        width: 100%;
        color: #b3b3b3; }
      .tabs-nav__item--exclamation {
        color: #FFFFFF;
        border-radius: 50%;
        padding: 2px;
        text-align: center;
        font-size: 16px;
        position: absolute;
        line-height: 1em;
        background-color: #ff8d8d;
        height: 18px;
        width: 18px;
        top: -10px;
        right: -5px;
        z-index: 11; }
    .tabs-nav__item:hover, .tabs-nav__item--active {
      background-color: #f0f0f0;
      height: 36px;
      z-index: 10; }
      .tabs-nav__item:hover > a, .tabs-nav__item--active > a {
        color: #008bd0; }

.search {
  width: 100%;
  position: relative; }
  .search__searcharea {
    padding-top: 10px;
    margin-left: 30px; }
    .search__searcharea--title {
      display: inline-block;
      width: auto;
      height: 45px;
      font-size: 14px;
      white-space: nowrap;
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      background-color: #D9EEF8;
      box-sizing: border-box;
      line-height: 1.7em;
      font-weight: 500;
      cursor: pointer;
      position: relative; }
      .search__searcharea--title:before {
        font-family: "Font Awesome 5 Free";
        content: '\f106';
        font-weight: 900;
        font-size: 20px;
        position: absolute;
        top: 6px;
        left: 12px; }
      .search__searcharea--title.closed {
        height: 35px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px; }
        .search__searcharea--title.closed:before {
          font-family: "Font Awesome 5 Free";
          content: '\f107';
          font-weight: 900;
          font-size: 20px;
          position: absolute;
          top: 6px;
          left: 12px; }
    .search__searcharea__items {
      background-color: #D9EEF8;
      box-sizing: border-box;
      width: calc(100% - 30px);
      margin-right: 30px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px; }
      .search__searcharea__items__top {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: calc(100% - 20px);
        margin: auto; }
        .search__searcharea__items__top--object {
          margin-left: 10px;
          width: 100%;
          max-width: 400px; }
          .search__searcharea__items__top--object.mr {
            margin-right: 10px; }
          .search__searcharea__items__top--object--name {
            padding-top: 15px;
            font-size: 14px;
            line-height: 1.4em; }
          .search__searcharea__items__top--object__list {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            width: auto;
            height: 35px;
            list-style: none;
            margin-top: 5px;
            border: 1px solid #999999;
            border-radius: 2px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box; }
            .search__searcharea__items__top--object__list label {
              position: relative;
              margin-left: 18px; }
              .search__searcharea__items__top--object__list label .radio1span::before {
                top: 2px;
                left: -17px; }
              .search__searcharea__items__top--object__list label input[type="radio"].radio1:checked + .radio1span::after {
                top: 6px;
                left: -13px; }
          .search__searcharea__items__top--object.w290 {
            width: 290px;
            min-width: 290px; }
          .search__searcharea__items__top--object--text, .search__searcharea__items__top--object--select, .search__searcharea__items__top--object--date {
            margin-top: 5px;
            width: 100%; }
          .search__searcharea__items__top--object--date {
            width: 135px; }
          .search__searcharea__items__top--object__during {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap; }
            .search__searcharea__items__top--object__during i.calender {
              top: 13px; }
            .search__searcharea__items__top--object__during p {
              text-align: center;
              line-height: 2.5em;
              margin-left: 5px;
              margin-right: 5px; }
      .search__searcharea__items__bottom {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 20px; }
        .search__searcharea__items__bottom span.mr {
          margin-right: 10px; }
  .search__btnarea {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 30px;
    position: absolute;
    top: 10px;
    right: 15px; }

.notice {
  height: 65px; }
  .notice-desc {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.4em;
    margin-left: 30px;
    margin-right: 30px; }

/*テーブル系共通設定*/
.tl {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left; }

.tc {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; }

.tr {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: right; }

div.ag-spread {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%; }
  div.ag-spread div.ag-header {
    background-color: #b3b3b3;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #b3b3b3 !important;
    font-size: 12px;
    color: #595757;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    cursor: pointer; }
    div.ag-spread div.ag-header div.ag-floating-filter-body {
      width: 100%  !important; }
      div.ag-spread div.ag-header div.ag-floating-filter-body .ag-floating-filter-input {
        width: 100% !important;
        margin: auto;
        height: 25px !important;
        border-radius: 2px;
        border: 1px solid #b5b6b6;
        height: 35px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
        color: #808080;
        outline: none !important;
        box-sizing: border-box;
        padding-right: 20px;
        box-sizing: border-box;
        margin-top: 2.5px; }
      div.ag-spread div.ag-header div.ag-floating-filter-body .ag-floating-filter-input:focus {
        border: 1.5px solid rgba(124, 189, 221, 0.8); }
      div.ag-spread div.ag-header div.ag-floating-filter-body .ag-floating-filter-input.active {
        background-color: #d9eef8; }
    div.ag-spread div.ag-header .ag-floating-filter-button {
      position: relative;
      line-height: 1em; }
      div.ag-spread div.ag-header .ag-floating-filter-button button {
        position: absolute;
        top: 3.5px;
        left: 3px;
        border: none;
        background: none;
        color: rgba(255, 255, 255, 0);
        background-image: url("../images/search.png");
        background-size: 12px 13px;
        background-repeat: no-repeat;
        background-position: center center;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        width: 20px;
        height: 25px;
        cursor: pointer; }
      div.ag-spread div.ag-header .ag-floating-filter-button button:focus {
        background: none;
        background-color: #008bd0;
        background-image: url("../images/search_a.png");
        background-size: 12px 13px;
        background-repeat: no-repeat;
        background-position: center center; }
    div.ag-spread div.ag-header .ag-checkbox-unchecked {
      background: none;
      position: absolute;
      border: 2px solid #808080;
      margin: 0;
      padding: 0;
      border: 2px solid #FFFFFF;
      border-radius: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      height: 16px;
      width: 16px; }
    div.ag-spread div.ag-header .ag-checkbox-checked {
      background: none;
      position: absolute;
      background-color: #008bd0;
      border: 2px solid #008bd0;
      margin: 0;
      padding: 0;
      border-radius: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      height: 16px;
      width: 16px; }
    div.ag-spread div.ag-header .ag-checkbox-checked:after {
      background: none;
      content: "";
      display: block;
      position: absolute;
      width: 6px;
      height: 9px;
      transform: rotate(45deg);
      border-bottom: 2px solid #FFF;
      border-right: 2px solid #FFF;
      top: -1px;
      top: -1px;
      left: 2px;
      width: 8px;
      height: 11px;
      box-sizing: border-box; }
    div.ag-spread div.ag-header .ag-checkbox-indeterminate {
      background: none;
      position: absolute;
      border: 2px solid #808080;
      border: 2px solid #FFFFFF;
      border-radius: 2px;
      margin: 0;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      height: 16px;
      width: 16px; }
      div.ag-spread div.ag-header .ag-checkbox-indeterminate .ag-icon-checkbox-indeterminate {
        background: none; }
  div.ag-spread div.ag-header-row:first-child .ag-header-cell {
    text-align: left;
    padding-left: 14px;
    padding-top: 8px; }
  div.ag-spread div.ag-header-row:first-child .ag-header-cell:hover {
    background-color: #8ca3b4; }
  div.ag-spread div.ag-header-row:first-child .ag-header-cell:hover:before {
    content: "";
    background-image: url("../images/move.png");
    width: 11px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 1px; }
  div.ag-spread div.ag-header-row:first-child .ag-sort-none-icon {
    background: none;
    content: "";
    background-image: url("../images/arrow.png");
    width: 8px;
    height: 14px;
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 100; }
    div.ag-spread div.ag-header-row:first-child .ag-sort-none-icon svg {
      display: none; }
  div.ag-spread div.ag-header-row:first-child .ag-sort-ascending-icon {
    background: none;
    content: "";
    background-image: url("../images/arrow_h.png");
    width: 8px;
    height: 14px;
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 101; }
    div.ag-spread div.ag-header-row:first-child .ag-sort-ascending-icon svg {
      display: none; }
  div.ag-spread div.ag-header-row:first-child .ag-sort-descending-icon {
    background: none;
    content: "";
    background-image: url("../images/arrow_h.png");
    width: 8px;
    height: 14px;
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 101;
    transform: rotate(180deg); }
    div.ag-spread div.ag-header-row:first-child .ag-sort-descending-icon svg {
      display: none; }
  div.ag-spread div.ag-header-row:first-child .ag-filter-icon {
    display: none; }
  div.ag-spread div.ag-header-row:first-child .ag-header-cell-text {
    overflow: inherit;
    text-overflow: inherit;
    width: calc(100% - 10px);
    display: block; }
  div.ag-spread div.ag-header-row:nth-child(2) .ag-header-cell {
    padding-left: 0.5px !important;
    padding-right: 0.5px !important; }
  div.ag-spread .ag-cell {
    color: #808080;
    font-size: 14px;
    cursor: pointer;
    line-height: 2.8em; }
  div.ag-spread div.ag-row {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ebebeb;
    color: #808080;
    font-size: 14px;
    cursor: pointer;
    line-height: 2.8em;
    		/*ver12.02にしたことにより
    		.ag-icon-checkbox-checked{
    			background: none;
    			@include cbChkBGColor;
    			border-radius: 2px;
    			top: 1px;
    			left: -35px;
    			height: 16px;
    			width: 16px;
    		}
    		.ag-icon-checkbox-checked:after{
    			background: none;
    			@include cbSpanStyleAfter;
    			top: 0px;
    			left: 4px;
    			width: 6px;
    			height: 11px;
    			//transform: rotate(180deg);
    
    		}*/ }
    div.ag-spread div.ag-row .ag-selection-checkbox {
      position: relative;
      top: 1px;
      left: 30px;
      height: 16px !important;
      width: 16px !important;
      box-sizing: border-box;
      margin: 0;
      padding: 0; }
    div.ag-spread div.ag-row .ag-selection-checkbox img {
      position: relative;
      top: 1px;
      left: -33px;
      height: 16px;
      width: 16px; }
    div.ag-spread div.ag-row .ag-selection-checkbox + span.ag-cell-value {
      display: none; }
    div.ag-spread div.ag-row .statusdiv {
      display: none;
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0px; }
    div.ag-spread div.ag-row .ag-cell-focus {
      border: none;
      transform: translate(2px, -1px);
      box-shadow: 0 0 1px 1px rgba(5, 167, 193, 0.5);
      outline: none !important; }
    div.ag-spread div.ag-row .ag-cell-focus:focus {
      border: none;
      transform: translate(2px, -1px);
      box-shadow: 0 0 1px 1px rgba(5, 167, 193, 0.5); }
  div.ag-spread .noCellFocus {
    border: none !important;
    transform: translate(0, 0) !important;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important; }
  div.ag-spread .cl_w {
    color: transparent; }
  div.ag-spread .ag-row-hover {
    background-color: #ffffff !important;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px); }
  div.ag-spread .status3_rowstyle {
    background-color: #f2f2f2 !important; }
  div.ag-spread .ag-row-selected {
    background-color: #d9eef8 !important; }
  div.ag-spread .row-default {
    transition: 1s; }
  div.ag-spread .row-update {
    background-color: #d9eef8 !important; }
  div.ag-spread .cellclass {
    border-left: 1.5px solid #ebebeb; }
  div.ag-spread .ag-filter-body {
    display: none; }
  div.ag-spread .ag-menu {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    border-radius: 2px;
    background-color: #FFFFFF;
    z-index: 51; }
  div.ag-spread .ag-filter-select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 0 10px;
    height: 35px;
    border-radius: 2px;
    font-size: 14px;
    color: #b3b3b3;
    cursor: pointer;
    background: url("../images/select_def.png") right 10px top 50% no-repeat;
    background-size: 9px, 100%;
    background-color: #FFFFFF;
    outline: none;
    color: #808080;
    width: 120px !important;
    height: 145px !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    background: none;
    margin: 0 !important;
    padding: 0; }
    div.ag-spread .ag-filter-select > option {
      padding-left: 10px;
      padding-top: 1.5px;
      padding-bottom: 1.5px; }
    div.ag-spread .ag-filter-select > option[selected] {
      color: red !important; }
  div.ag-spread .ag-filter-condition {
    display: none; }
  div.ag-spread .editClass {
    height: 40px !important;
    background-color: #FFFFFF !important;
    border-bottom: 1px solid #ebebeb !important;
    border-left: 1px solid #ebebeb !important; }
  div.ag-spread .editClass::after {
    content: "";
    border-radius: 2px;
    border: 1px solid #b5b6b6;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    color: #808080;
    outline: none !important;
    box-sizing: border-box;
    width: calc(100% - 10px);
    height: 30px !important;
    margin: auto;
    position: absolute;
    top: 5px;
    left: 5px; }
  div.ag-spread .txtactive::after {
    background-color: #d9eef8;
    z-index: -1; }
  div.ag-spread .txterror {
    color: #dd5a6e !important; }
  div.ag-spread .txterror::after {
    border: 1px solid #f1c1c1;
    background-color: #fff6f6;
    color: #dd5a6e !important;
    z-index: -1; }
  div.ag-spread .ag-cell-inline-editing {
    height: 40px !important; }
  div.ag-spread .ag-pinned-left-header .ag-header-cell:first-child .ag-floating-filter-body, div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(2) .ag-floating-filter-body {
    display: none; }
  div.ag-spread .ag-pinned-left-header .ag-header-cell:first-child .ag-floating-filter-button, div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(2) .ag-floating-filter-button {
    display: none; }
  div.ag-spread .ag-cell-edit-input {
    border: none !important;
    width: calc(100% - 15px);
    height: 30px !important;
    line-height: 3em;
    margin: auto; }
  div.ag-spread .tl .ag-cell-edit-input {
    text-align: left;
    padding-left: 5px; }
  div.ag-spread .tr .ag-cell-edit-input {
    text-align: right;
    padding-right: 5px; }
  div.ag-spread .ag-root {
    border: none !important; }
  div.ag-spread .ag-row-odd {
    background: #FFFFFF; }
  div.ag-spread .ag-paging-panel {
    height: 36px;
    background-color: #e7e7e7;
    border-top: 1px solid #bcbcbc; }
    div.ag-spread .ag-paging-panel .ag-paging-button {
      border: none;
      color: transparent;
      background-color: #e7e7e7;
      content: "\f100"; }
  div.ag-spread .ag-paging-row-summary-panel, div.ag-spread .ag-paging-page-summary-panel {
    display: none; }
  div.ag-spread .exc_relative {
    position: relative; }
  div.ag-spread .exc_red {
    color: #FFFFFF;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    line-height: 1em;
    background-color: #ff8d8d;
    height: 14px;
    width: 14px;
    font-size: 12px;
    top: 2px;
    right: -7px; }
  div.ag-spread .exc_blue {
    color: #FFFFFF;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    line-height: 1em;
    background-color: #73cde8;
    height: 14px;
    width: 14px;
    font-size: 12px;
    top: 2px;
    right: -7px; }
  div.ag-spread a.btn_secondary {
    white-space: nowrap;
    margin: auto;
    min-width: 75px !important;
    min-height: 30px !important;
    line-height: 1.5em;
    margin: auto;
    margin-top: 3px;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px; }
  div.ag-spread div.itemcode {
    display: flex;
    justify-content: space-between; }

.scrollArrow {
  width: 50px;
  height: calc(100vh - 323px);
  position: absolute;
  top: 60px;
  right: 0px;
  cursor: pointer;
  background-color: rgba(153, 153, 153, 0.5);
  z-index: 50; }

.scrollArrow:after {
  content: "〉";
  color: #FFFFFF;
  font-size: 30px;
  position: relative;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%); }

.nodata {
  color: #b3b3b3;
  font-size: 1.6em;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 300px;
  left: 50%;
  transform: translate(-50%, 50%); }
  .nodata > span {
    font-size: 18px; }

.loaderdiv {
  width: 107px;
  height: 107px;
  margin: auto;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%); }
  .loaderdiv-loader {
    width: 107px;
    height: 107px;
    border: 5px solid #008bd0;
    border-right: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    animation: loading 1.25s linear infinite; }
  .loaderdiv:after {
    content: "LOADING";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b2b2b2;
    font-size: 14px; }

/*テーブル系設定ここまで*/
.tableitem {
  position: relative; }
  .tableitem__btnarea {
    width: 100%;
    position: relative; }
    .tableitem__btnarea--leftarea {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      color: #808080;
      margin: 15px 30px 15px auto;
      margin-left: 30px; }
      .tableitem__btnarea--leftarea > span {
        margin-right: 15px; }
        .tableitem__btnarea--leftarea > span .cb1span::before {
          top: 9px;
          left: -25px; }
        .tableitem__btnarea--leftarea > span .cb1:checked + .cb1span::after {
          top: 10.5px;
          left: -20px; }
      .tableitem__btnarea--leftarea > span.lh {
        padding-left: 25px;
        line-height: 2.1em; }
    .tableitem__btnarea--rightarea {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      position: absolute;
      right: 30px;
      top: 0; }
      .tableitem__btnarea--rightarea__select {
        margin-right: 20px;
        font-size: 14px;
        position: relative; }
        .tableitem__btnarea--rightarea__select > span {
          padding-left: 20px;
          padding-right: 20px;
          cursor: pointer;
          line-height: 2.3em;
          display: block; }
        .tableitem__btnarea--rightarea__select--list {
          position: absolute;
          top: 35px;
          left: 50%;
          transform: translate(-50%, 0);
          list-style: none;
          background-color: #FFFFFF;
          width: 145px;
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.16);
          margin-top: 0;
          margin-bottom: 0;
          z-index: 101; }
          .tableitem__btnarea--rightarea__select--list--item {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            font-size: 12px; }
          .tableitem__btnarea--rightarea__select--list--item:hover, .tableitem__btnarea--rightarea__select--list--item.active {
            background-color: #d9eef8; }
          .tableitem__btnarea--rightarea__select--list--item:not(:first-child) {
            border-top: 1px solid rgba(157, 157, 157, 0.5); }
      .tableitem__btnarea--rightarea__select span::after {
        content: "▼";
        width: 9px;
        height: 5px;
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 7px; }
      .tableitem__btnarea--rightarea__select span:hover, .tableitem__btnarea--rightarea__select span.active {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 18px; }
      .tableitem__btnarea--rightarea__select span.disabled {
        color: rgba(0, 0, 0, 0.2); }
      .tableitem__btnarea--rightarea > span {
        margin-left: 10px; }
  .tableitem__tablearea {
    position: relative; }
    .tableitem__tablearea__pagerAllCount {
      position: absolute;
      bottom: 8px;
      left: 10px;
      display: flex;
      justify-content: flex-end; }
      .tableitem__tablearea__pagerAllCount--desc {
        font-size: 12px; }
    .tableitem__tablearea__pagerItem {
      width: 200px;
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      justify-content: space-between; }
      .tableitem__tablearea__pagerItem i {
        cursor: pointer; }
      .tableitem__tablearea__pagerItem .disabled {
        color: #CCCCCC;
        cursor: default; }
      .tableitem__tablearea__pagerItem__nowpage--desc {
        font-size: 12px;
        letter-spacing: 5px; }
        .tableitem__tablearea__pagerItem__nowpage--desc--big {
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0px; }
    .tableitem__tablearea__pagercounter {
      position: absolute;
      bottom: 1.5px;
      right: 10px;
      display: flex;
      justify-content: flex-end; }
      .tableitem__tablearea__pagercounter--desc {
        font-size: 12px;
        margin-bottom: 8px;
        margin-top: auto;
        margin-right: 10px; }
      .tableitem__tablearea__pagercounter--select {
        width: 70px;
        height: 24px !important;
        font-size: 12px;
        padding-left: 5px !important;
        text-align: center;
        margin-bottom: 4px;
        margin-top: auto;
        background: none !important;
        background: url("../images/select_def.png") right 7px top 50% no-repeat !important;
        background-size: 9px, 100% !important;
        background-color: #FFFFFF !important; }

.otherwindow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100vh;
  left: 0;
  background-color: #f0f0f0;
  z-index: 500;
  animation: closeOtherWindow 0.3s linear 0s; }
  .otherwindow-exclamation {
    position: relative; }
    .otherwindow-exclamation__container {
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 15px;
      right: 40px; }
    .otherwindow-exclamation__items {
      color: #FFFFFF;
      height: 26px;
      border-radius: 13px;
      padding-right: 15px;
      display: flex;
      justify-content: flex-start;
      margin-left: 10px; }
      .otherwindow-exclamation__items--desc {
        font-size: 12px;
        line-height: 2.0em;
        color: #FFFFFF; }
      .otherwindow-exclamation__items--exc {
        text-align: center;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #FFFFFF;
        display: inline-block;
        font-size: 16px;
        line-height: 1.1em;
        padding: 2px;
        margin-left: 3px;
        margin-right: 5px;
        margin-top: 2px; }
        .otherwindow-exclamation__items--exc.blueexc {
          color: #73cde8; }
        .otherwindow-exclamation__items--exc.redexc {
          color: #ff8d8d; }
      .otherwindow-exclamation__items.blue {
        background-color: #73cde8; }
      .otherwindow-exclamation__items.red {
        background-color: #ff8d8d;
        cursor: pointer; }
  .otherwindow-disabled {
    background-color: rgba(191, 191, 191, 0.6);
    pointer-events: auto !important; }
  .otherwindow #otherwindow-disabled1 {
    position: absolute;
    left: -30px;
    width: calc(100% + 60px);
    top: -30px;
    height: calc(100% + 51px);
    pointer-events: none; }
  .otherwindow #otherwindow-disabled2 {
    position: absolute;
    top: 0px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 21px);
    pointer-events: none; }
  .otherwindow #otherwindow-disabled3 {
    position: absolute;
    top: 0px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% + 31px);
    pointer-events: none; }
  .otherwindow .otherwindow-dropshadow {
    box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.4); }
  .otherwindow .otherwindow-dropshadow::after {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-top: 25px solid #f0f0f0;
    border-left: 25px solid transparent;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    z-index: 501; }
  .otherwindow-header {
    width: 100%;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #999999;
    position: relative;
    background-color: #FFFFFF; }
    .otherwindow-header .page-title {
      margin-left: 30px; }
    .otherwindow-header__title {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      width: 100%; }
      .otherwindow-header__title--icondiv {
        line-height: 1.9em; }
        .otherwindow-header__title--icondiv svg.icon {
          width: 42px;
          height: 32px;
          color: #008bd0;
          margin-top: 18px;
          margin-left: 30px; }
      .otherwindow-header__title .page-title {
        margin-left: 0; }
    .otherwindow-header__btnarea {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      position: absolute;
      top: 15px;
      right: 30px; }
      .otherwindow-header__btnarea span {
        margin-left: 10px; }
  .otherwindow__btnarea {
    width: 100%;
    position: relative; }
    .otherwindow__btnarea--leftarea {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      color: #808080;
      margin: 15px 30px auto auto;
      margin-left: 30px; }
      .otherwindow__btnarea--leftarea > span.lh {
        padding-left: 25px;
        line-height: 2.1em; }
      .otherwindow__btnarea--leftarea > span {
        margin-right: 10px; }
    .otherwindow__btnarea--rightarea {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      position: absolute;
      right: 30px;
      top: 0; }
      .otherwindow__btnarea--rightarea > span {
        margin-left: 10px; }
  .otherwindow-tablearea {
    width: calc(100% - 30px);
    height: calc(100vh - 110px);
    background-color: #f0f0f0;
    padding-right: 30px; }
    .otherwindow-tablearea div.ag-spread {
      height: calc(100% - 20px);
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 30px; }
      .otherwindow-tablearea div.ag-spread a.btn_secondary {
        white-space: nowrap;
        margin: auto;
        min-width: 100px !important;
        min-height: 30px !important;
        line-height: 1.5em;
        font-size: 14px;
        margin: auto;
        margin-top: 2px; }
  .otherwindow-contents {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px; }
    .otherwindow-contents h3 {
      font-size: 16px;
      color: #008bd0; }
    .otherwindow-contents h4 {
      font-size: 14px;
      color: #808080; }
    .otherwindow-contents .headMargin {
      margin-top: 15px; }
    .otherwindow-contents__location {
      position: relative;
      margin-top: 20px; }
      .otherwindow-contents__location.topmargin {
        margin-top: 30px; }
      .otherwindow-contents__location.sectionmargin {
        padding-top: 50px;
        border-top: 1px solid #DDDDDD; }
      .otherwindow-contents__location.bottompadding {
        padding-bottom: 40px; }
      .otherwindow-contents__location--desc {
        line-height: 1.4em;
        font-size: 14px;
        margin-top: 5px; }
      .otherwindow-contents__location--btn {
        display: inline-block;
        margin-top: 5px; }
      .otherwindow-contents__location--btncenter {
        margin: auto;
        margin-top: 20px;
        text-align: center; }
        .otherwindow-contents__location--btncenter--div {
          width: auto;
          margin: auto; }
          .otherwindow-contents__location--btncenter--div a {
            display: inline-block; }
          .otherwindow-contents__location--btncenter--div a.btn_secondary {
            margin-right: 10px; }
      .otherwindow-contents__location--grid {
        margin-top: 10px;
        width: calc(100% + 30px); }
      .otherwindow-contents__location__items {
        background-color: #FFFFFF;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 10px;
        border-radius: 4px;
        padding-top: 15px;
        padding-bottom: 15px; }
        .otherwindow-contents__location__items__content {
          margin-top: 20px;
          margin-bottom: 20px;
          width: calc(25% - 25px);
          margin-left: 20px; }
          .otherwindow-contents__location__items__content.lastrow {
            margin-left: 20px;
            margin-right: auto; }
          .otherwindow-contents__location__items__content.mr {
            margin-right: 20px; }
          .otherwindow-contents__location__items__content--top {
            color: #b3b3b3;
            font-size: 12px;
            padding-bottom: 5px;
            border-bottom: 1px solid #E8E8E8;
            line-height: 1.4em; }
            .otherwindow-contents__location__items__content--top--req {
              color: #FFFFFF;
              font-size: 10px;
              background-color: #008bd0;
              display: inline-block;
              border-radius: 4px;
              min-width: 36px;
              text-align: center;
              box-sizing: border-box;
              margin-right: 5px;
              line-height: 1.8em;
              padding: 0px 5px 0px 5px;
              top: -1px;
              left: 0; }
          .otherwindow-contents__location__items__content--bottom {
            color: #808080;
            font-size: 14px;
            padding-top: 10px;
            line-height: 1.4em; }
    .otherwindow-contents__inputarea {
      margin-top: 20px; }
      .otherwindow-contents__inputarea__input {
        margin-top: 25px;
        display: flex;
        justify-content: flex-start; }
        .otherwindow-contents__inputarea__input__sep {
          width: 240px;
          margin-right: 10px;
          position: relative; }
          .otherwindow-contents__inputarea__input__sep.div130 {
            width: 130px; }
          .otherwindow-contents__inputarea__input__sep--name {
            color: #808080;
            font-size: 14px;
            line-height: 1.4em;
            margin-bottom: 5px;
            box-sizing: border-box;
            min-height: 17px; }
            .otherwindow-contents__inputarea__input__sep--name--req {
              color: #FFFFFF;
              font-size: 10px;
              background-color: #008bd0;
              display: inline-block;
              border-radius: 4px;
              min-width: 36px;
              text-align: center;
              box-sizing: border-box;
              margin-right: 5px;
              line-height: 1.8em;
              padding: 0px 5px 0px 5px;
              top: -1px;
              left: 0; }
          .otherwindow-contents__inputarea__input__sep--desc {
            line-height: 1.4em;
            font-size: 10px;
            margin-top: 3px; }
          .otherwindow-contents__inputarea__input__sep--select, .otherwindow-contents__inputarea__input__sep input {
            width: 100%; }
    .otherwindow-contents__otherarea {
      margin-top: 20px;
      border-top: 1px solid #DDDDDD; }
      .otherwindow-contents__otherarea h4 {
        margin-top: 10px; }
      .otherwindow-contents__otherarea--desc {
        margin-top: 5px;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap; }
        .otherwindow-contents__otherarea--desc--item {
          position: relative;
          margin-top: 10px; }
        .otherwindow-contents__otherarea--desc .tooltip {
          margin-top: 10px; }
      .otherwindow-contents__otherarea--text {
        line-height: 1.4em;
        font-size: 10px;
        margin-top: 3px; }
      .otherwindow-contents__otherarea__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin-top: 15px; }
        .otherwindow-contents__otherarea__items__input {
          width: 100px;
          margin-right: 10px; }
          .otherwindow-contents__otherarea__items__input--name {
            font-size: 14px; }
          .otherwindow-contents__otherarea__items__input input {
            margin-top: 5px;
            width: 100%; }
        .otherwindow-contents__otherarea__items .ml {
          margin-left: 10px; }
        .otherwindow-contents__otherarea__items label {
          margin-left: 32px; }
          .otherwindow-contents__otherarea__items label .cb1span::before {
            top: 2px;
            left: -30px; }
          .otherwindow-contents__otherarea__items label .cb1:checked + .cb1span::after {
            top: 4px;
            left: -25px; }
          .otherwindow-contents__otherarea__items label .radio1span::before {
            top: 2px;
            left: -30px; }
          .otherwindow-contents__otherarea__items label .radio1:checked + .radio1span::after {
            top: 4px;
            left: -25px; }
        .otherwindow-contents__otherarea__items textarea {
          height: 95px; }
      .otherwindow-contents__otherarea--name {
        margin-top: 15px;
        font-size: 14px; }
  .otherwindow-details {
    background-color: #FFFFFF;
    width: calc(100% - 60px);
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; }
    .otherwindow-details.toppadding {
      padding-top: 30px; }
    .otherwindow-details h4 {
      font-size: 12px;
      color: #808080;
      margin-left: 20px; }
    .otherwindow-details .headMargin {
      margin-top: 25px;
      width: 100%; }
    .otherwindow-details__location {
      background-color: rgba(240, 240, 240, 0.5);
      border-radius: 4px;
      border: 0.5px solid #b3b3b3;
      position: relative;
      margin-top: 30px; }
      .otherwindow-details__location.sectionmargin {
        padding-top: 50px;
        border-top: 1px solid #DDDDDD; }
      .otherwindow-details__location.bottommargin {
        margin-bottom: 10px; }
      .otherwindow-details__location__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px; }
        .otherwindow-details__location__items__content {
          margin-top: 15px;
          margin-bottom: 15px;
          width: calc(25% - 25px);
          margin-left: 20px; }
          .otherwindow-details__location__items__content.lastrow {
            margin-left: 20px;
            margin-right: auto; }
          .otherwindow-details__location__items__content.mr {
            margin-right: 20px; }
          .otherwindow-details__location__items__content--top {
            color: #b3b3b3;
            font-size: 12px;
            padding-bottom: 5px;
            border-bottom: 1px solid #E8E8E8;
            line-height: 1.4em; }
          .otherwindow-details__location__items__content--bottom {
            color: #808080;
            font-size: 14px;
            padding-top: 10px;
            line-height: 1.4em; }

.otherwindow.openotherwindow {
  top: 0;
  animation: openOtherWindow 0.3s linear 0s; }

/*モーダル*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000; }
  .overlay .modal {
    background-color: #ebebeb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    height: auto;
    max-height: calc(100vh - 160px);
    min-height: 400px;
    padding-bottom: 20px;
    position: relative; }
    .overlay .modal i.close::after, .overlay .modal i.close::before {
      position: absolute;
      right: 0px;
      top: -23px;
      content: '';
      background-color: #FFFFFF;
      height: 3px;
      width: 25px;
      cursor: pointer; }
    .overlay .modal i.close::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .overlay .modal i.close::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .overlay .modal-header {
      border-bottom: 1px solid #999999;
      padding-left: 30px;
      position: relative;
      background-color: #FFFFFF;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .overlay .modal-header--title {
        color: #008bd0;
        font-size: 18px;
        line-height: 2.2em;
        margin: 12.5px auto 12.5px 0;
        padding-top: 10px; }
      .overlay .modal-header > a.btn_primary, .overlay .modal-header > a.btn_secondary {
        display: block;
        position: absolute;
        top: 15px;
        right: 30px; }
    .overlay .modal-content {
      padding-left: 30px;
      padding-right: 30px; }
      .overlay .modal-content__contentarea {
        margin-top: 20px;
        font-size: 12px;
        border-top: 1px solid #999999; }
        .overlay .modal-content__contentarea--title {
          font-size: 14px;
          margin-top: 15px;
          line-height: 1.4em; }
        .overlay .modal-content__contentarea--description {
          margin-top: 15px;
          line-height: 1.4em; }
        .overlay .modal-content__contentarea.nbt {
          border: none;
          margin-top: 0; }
        .overlay .modal-content__contentarea--list {
          margin-top: 15px;
          margin-left: 17px;
          display: flex;
          justify-content: flex-start;
          font-size: 14px; }
          .overlay .modal-content__contentarea--list li {
            margin-right: 35px; }
        .overlay .modal-content__contentarea textarea {
          margin-top: 5px;
          width: 100%;
          height: 85px;
          font-size: 16px; }
      .overlay .modal-content--desc {
        margin-top: 20px;
        line-height: 1.6em;
        font-size: 14px; }
      .overlay .modal-content__contentarea {
        width: 310px;
        margin: auto; }
        .overlay .modal-content__contentarea--selectdesc {
          margin-top: 25px;
          font-size: 14px;
          margin-bottom: 5px; }
        .overlay .modal-content__contentarea__btnarea {
          display: flex;
          justify-content: space-between;
          margin-top: 35px; }

.messageBox {
  position: fixed;
  width: 70%;
  top: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(239, 253, 250, 0.95);
  border-radius: 6px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  box-sizing: border-box;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1); }
  .messageBox--msg {
    font-size: 14px;
    line-height: 1.4em;
    text-align: center;
    margin: 20px auto;
    padding-left: 10px;
    padding-right: 10px; }
  .messageBox.messageBox-open {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.4s cubic-bezier(0, 0, 0, 1); }

.messageBox-error {
  position: fixed;
  width: 70%;
  top: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 226, 233, 0.95);
  border-radius: 6px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  box-sizing: border-box;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1); }
  .messageBox-error--msg {
    color: #d93b3b;
    font-size: 14px;
    line-height: 1.4em;
    text-align: center;
    margin: 20px auto;
    padding-left: 10px;
    padding-right: 10px; }
  .messageBox-error.messageBox-open {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.4s cubic-bezier(0, 0, 0, 1); }

.dspnone {
  display: none !important; }

.dspblock {
  display: block !important; }

@media screen and (max-height: 700px) {
  .dspnone_h {
    display: none; } }
.question {
  margin-left: 10px;
  width: 15px;
  height: 15px; }

.hatena {
  font-size: 14px;
  color: #FFFFFF;
  background-color: #808080;
  border-radius: 50%;
  margin-left: 30px;
  padding: 1px;
  width: 16px;
  height: 16px;
  text-align: center; }

.tooltip span {
  display: none; }

.tooltip:hover {
  position: relative; }

/*ツールチップ*/
.tooltip:hover span {
  display: block;
  position: absolute;
  bottom: calc(50% + 15px);
  left: -300%;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3em;
  background-color: #595757;
  width: auto;
  max-width: 250px;
  min-width: 180px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  z-index: 10000; }
  .tooltip:hover span > a {
    color: #00c4ff; }
  .tooltip:hover span > a:hover {
    text-decoration: underline; }

.tooltip:hover span:before {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  bottom: -11px;
  left: calc(45% - 1px);
  border: 10px transparent solid;
  border-right-width: 0;
  border-left-color: #595757;
  transform: rotate(90deg);
  z-index: 9950; }

.autoloader {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 200px;
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1100;
  background-color: #FFFFFF;
  border-radius: 4px;
  list-style: none;
  padding: 0; }
  .autoloader::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  .autoloader::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .autoloader::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  .autoloader-list {
    font-size: 14px;
    padding: 7px 10px;
    border-bottom: 1px solid #CCCCCC;
    cursor: pointer;
    width: 100%; }

@media screen and (max-width: 840px) {
  div.modal {
    width: calc(100% - 40px); } }
@keyframes loading {
  to {
    transform: rotate(360deg);
    transform-origin: 50% 50%; } }
@keyframes openOtherWindow {
  from {
    top: 100vh; }
  to {
    top: 0; } }
@keyframes closeOtherWindow {
  from {
    top: 0; }
  to {
    top: 100vh; } }
/*エラー共通メッセージ************************************************************/
/*エラータイトルヘッダー*/
.error {
  color: #dd5a6e;
  /*単項目エラー事由テキスト*/ }
  .error-messageHead {
    border: 1px solid #f1c1c1;
    background-color: #fff6f6;
    color: #dd5a6e !important;
    text-align: center;
    line-height: 1.5em; }
    .error-messageHead svg.icon {
      max-width: 16px;
      font-size: 16px;
      margin-right: 10px; }
    .error-messageHead .error-message__title {
      font-weight: 500; }
    .error-messageHead__business {
      margin: 20px 30px 0;
      padding: 18px; }
    .error-messageHead__system {
      padding: 22px; }
      .error-messageHead__system .error-message__text {
        margin-top: 10px; }
    .error-messageHead .error-message__text {
      color: #808080;
      font-size: 14px; }
  .error-reason {
    font-size: 12px; }
    .error-reason--inputField {
      margin-top: 7px; }
    .error-reason--fileSelect {
      border: 1px solid #f1c1c1;
      background-color: #fff6f6;
      color: #dd5a6e !important;
      list-style-type: none;
      width: 100%;
      padding: 20px;
      box-sizing: border-box; }
      .error-reason--fileSelect li {
        padding-bottom: 10px; }
        .error-reason--fileSelect li:before {
          display: inline-block;
          content: "・"; }
        .error-reason--fileSelect li:last-child {
          padding-bottom: 0; }

.input--error {
  font-size: 10px;
  color: #D95165;
  line-height: 1.4em;
  margin-top: 3px; }
