/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';
//table系スタイル
article{
	
	.search{
		&__searcharea{


			&__items{
				&__top{
					&--object{
						width: calc(25% - (50px / 4) );
						min-width: 200px;
						&__list{


						}
					}
				}
			}
		}

	}
	
	//テーブルスタイル
	.tableitem{
		margin-top: 15px;
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		
		//テーブルエリア
		&__tablearea{
			width: calc(100% - #{$left-padding});
			height: calc(100% - 295px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;

		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	::-webkit-scrollbar{
		@include scrollbar;
	}
	::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
	.tooltip:hover span {
		bottom: calc(50% + 15px);
		left: -300%;
	}

	.tooltip:hover span:before{
		bottom:-11px; 
		left:calc(45% - 2px);
	}			
	&-contentsScroll{
		height: calc(100% - 70px);
		overflow-y: auto;
		overflow-x: hidden;
	}
}
/*モーダル*/
.overlay{
	//modalコンテンツ設定
	.modal{
		
		&-content{
			padding-left:$left-padding;
			&__contentarea{
				width: auto;
				margin-top: 20px;
				font-size: $content-font-size5;
				.radio1span::before{
					top:3px;
					left: -17px;
				}

				input[type="radio"].radio1:checked + .radio1span::after{
					top:7px;
					left:-13px;
				}
				
			}
			

		}
	}
}

.autoloader{
	top: 62px;
	left: 0;	
}