@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .search__searcharea__items__top--object {
  width: calc(25% - (50px / 4) );
  min-width: 200px; }
article .tableitem {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 295px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px); }
  .otherwindow ::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  .otherwindow ::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .otherwindow ::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  .otherwindow .tooltip:hover span {
    bottom: calc(50% + 15px);
    left: -300%; }
  .otherwindow .tooltip:hover span:before {
    bottom: -11px;
    left: calc(45% - 2px); }
  .otherwindow-contentsScroll {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden; }

/*モーダル*/
.overlay .modal-content {
  padding-left: 30px; }
  .overlay .modal-content__contentarea {
    width: auto;
    margin-top: 20px;
    font-size: 12px; }
    .overlay .modal-content__contentarea .radio1span::before {
      top: 3px;
      left: -17px; }
    .overlay .modal-content__contentarea input[type="radio"].radio1:checked + .radio1span::after {
      top: 7px;
      left: -13px; }

.autoloader {
  top: 62px;
  left: 0; }
