/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	
	.search{
		&__searcharea{


			&__items{
				&__top{
					&--object{
						width: calc(25% - (50px / 4) );
						min-width: 200px;
						&__list{


						}
					}
				}
			}
		}

	}
	
	//テーブルスタイル
	.tableitem{
		margin-top: 15px;
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		&__btnarea{
			
			&--rightarea{
				a.btn_secondary{
					min-width: 100px;
				}
			}
		}
		
		//テーブルエリア
		&__tablearea{
			width: calc(100% - #{$left-padding});
			height: calc(100% - 140px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;

		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
				//ここはテーブルのサイズ感に合わせておく
				
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	::-webkit-scrollbar{
		@include scrollbar;
	}
	::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
	.tooltip:hover span {
		bottom: calc(50% + 15px);
		left: -300%;
	}

	.tooltip:hover span:before{
		bottom:-11px; 
		left:calc(45% - 2px);
	}			
	&-contentsScroll{
		height: calc(100% - 70px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	&-contents{
		&__location{
			
			&__items{
				flex-wrap:wrap;
				.width44{
					width:calc(50% - 30px);
				}
				.mr{
					margin-right: 20px;
				}				
			}

		}
		
		&__inputarea{
			
			&.topmargin{
				margin-top: 45px;
			}
			&__input{
				&__sep{
					&.w70{
						width: 70px;
					}
				}
				label{
					margin-left: 25px;
					.cb1span::before{
						top: 2px;
						left: -23px;
					}

					.cb1:checked + .cb1span::after{
						top: 4px;
						left: -18px;
					}
					
				}
				
				label:nth-child(2){
					margin-left: 52px;
				}
				
			}
		}
		&__otherarea{
			border-top: none;
			margin-top: 30px;
		}
	}
	
	
}
.otherwindow{
	&-tablearea{
		width: calc(100% - #{$left-padding});
		height: calc(100vh - 180px);
		background-color: $content-bgColor;
		padding-right:$left-padding;
		position: relative;
		.tableitem__tablearea__pagerAllCount{
			left: 40px;
		}
		
		//テーブル設定
		div.ag-spread{
			height: 100%;
			select.content{
				width:135px;
			}
		}

	}
}