@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .search__searcharea__items__top--object {
  width: calc(25% - (50px / 4) );
  min-width: 200px; }
article .tableitem {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__btnarea--rightarea a.btn_secondary {
    min-width: 100px; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 140px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px); }
  .otherwindow ::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  .otherwindow ::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .otherwindow ::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  .otherwindow .tooltip:hover span {
    bottom: calc(50% + 15px);
    left: -300%; }
  .otherwindow .tooltip:hover span:before {
    bottom: -11px;
    left: calc(45% - 2px); }
  .otherwindow-contentsScroll {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden; }
  .otherwindow-contents__location__items {
    flex-wrap: wrap; }
    .otherwindow-contents__location__items .width44 {
      width: calc(50% - 30px); }
    .otherwindow-contents__location__items .mr {
      margin-right: 20px; }
  .otherwindow-contents__inputarea.topmargin {
    margin-top: 45px; }
  .otherwindow-contents__inputarea__input__sep.w70 {
    width: 70px; }
  .otherwindow-contents__inputarea__input label {
    margin-left: 25px; }
    .otherwindow-contents__inputarea__input label .cb1span::before {
      top: 2px;
      left: -23px; }
    .otherwindow-contents__inputarea__input label .cb1:checked + .cb1span::after {
      top: 4px;
      left: -18px; }
  .otherwindow-contents__inputarea__input label:nth-child(2) {
    margin-left: 52px; }
  .otherwindow-contents__otherarea {
    border-top: none;
    margin-top: 30px; }

.otherwindow-tablearea {
  width: calc(100% - 30px);
  height: calc(100vh - 180px);
  background-color: #f0f0f0;
  padding-right: 30px;
  position: relative; }
  .otherwindow-tablearea .tableitem__tablearea__pagerAllCount {
    left: 40px; }
  .otherwindow-tablearea div.ag-spread {
    height: 100%; }
    .otherwindow-tablearea div.ag-spread select.content {
      width: 135px; }
