@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

#wrap {
  overflow-y: auto; }

article .tabs-nav {
  position: relative;
  top: 1px; }
article .datacontent {
  width: 100%; }
  article .datacontent-items {
    height: auto;
    min-height: calc(100vh - 310px);
    background-color: #f0f0f0;
    padding-bottom: 30px;
    border-top: 1px solid #999999;
    padding-top: 30px;
    padding-left: 30px; }
    article .datacontent-items--desc {
      font-size: 14px;
      color: #808080; }
    article .datacontent-items h3 {
      margin-top: 30px;
      font-size: 16px;
      color: #008bd0; }
    article .datacontent-items--content {
      margin-top: 20px;
      font-size: 14px;
      color: #808080; }
      article .datacontent-items--content--req {
        color: #FFFFFF;
        font-size: 10px;
        background-color: #008bd0;
        display: inline-block;
        border-radius: 4px;
        min-width: 36px;
        text-align: center;
        box-sizing: border-box;
        margin-right: 5px;
        line-height: 1.8em;
        padding: 0px 5px 0px 5px;
        top: -1px;
        left: 0; }
    article .datacontent-items select {
      margin-top: 5px;
      margin-bottom: 30px;
      min-width: 240px; }
    article .datacontent-items-title {
      padding-top: 85px;
      color: #808080;
      font-size: 16px; }
    article .datacontent-items-dropzone__centering {
      border: 3px dashed #999999;
      border-radius: 4px;
      width: calc(100% - 30px );
      margin: auto 30px auto 0;
      margin-top: 20px;
      min-height: calc(100% - 100px);
      padding: 30px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center; }
      article .datacontent-items-dropzone__centering--title {
        text-align: center;
        color: #808080;
        margin-top: 5px;
        font-size: 25px;
        font-weight: 300;
        line-height: 1.4em; }
      article .datacontent-items-dropzone__centering .btn_primary {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        font-size: 14px; }
      article .datacontent-items-dropzone__centering--filename {
        width: auto;
        text-align: center;
        margin: 40px auto 20px auto;
        color: #808080;
        font-size: 14px; }
      article .datacontent-items-dropzone__centering span {
        position: relative; }
      article .datacontent-items-dropzone__centering img.deletebtn {
        position: absolute;
        top: -10px;
        left: -30px;
        width: 19px;
        height: 19px;
        cursor: pointer;
        margin: 10px 0 5px 0;
        float: left; }
  article .datacontent-btn {
    border-top: 1px solid #999999;
    width: 100%;
    background-color: #f0f0f0;
    text-align: right; }
    article .datacontent-btn .btn_primary {
      display: inline-block;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: 30px; }
