/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';
#wrap {
	overflow-y: auto;
}

//table系スタイル
article{
	.tabs{
		&-nav{
			position: relative;
			top:1px;
		}
	}
	
	.datacontent{
		width: 100%;
		
		&-items{
			height: auto;
			min-height: calc(100vh - 310px);

			background-color: $content-bgColor;
			padding-bottom: 30px;
			border-top: 1px solid $content-borderColor;
			padding-top: 30px;
			padding-left: $left-padding;
			
			&--desc{
				font-size: $content-font-size4;
				color: $menu-color3;
			}
			
			h3{
				margin-top: 30px;
				font-size: $content-font-size3;
				color: $hoverColor;
			}
			
			&--content{
				margin-top: 20px;
				font-size: $content-font-size4;
				color: $menu-color3;
				&--req{
					@include textHissu;
				}
			}
			
			select{
				margin-top: 5px;
				margin-bottom: 30px;
				min-width: 240px;
			}
			
			&-title {
				padding-top: 85px;
				color: $menu-color3;
				font-size: $content-font-size3;
			}
			
			&-dropzone {

				&__centering {
					border: 3px dashed $menu-color4;
					border-radius: 4px;
					width: calc(100% - #{$left-padding} );
					margin: auto $left-padding auto 0;
					margin-top: 20px;
		//			height: calc(100% - 370px);
					min-height: calc(100% - 100px);
		//			position: relative;
					padding: 30px;
					box-sizing: border-box;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;

					text-align: center;
					&--title {
						text-align: center;
						color: $menu-color3;
						margin-top: 5px;
						font-size: 25px;
						font-weight: 300;
						line-height: 1.4em;
					}

					.btn_primary {


						display: inline-block;
						margin-left: auto;
						margin-right: auto;
						margin-top: 20px;
						font-size: $content-font-size4;
					}

					&--filename {
						width: auto;
						text-align: center;
						margin: 40px auto 20px auto;
						color: $menu-color3;
						font-size: $content-font-size4;
					}

					span{
						position: relative;
					}

					img.deletebtn{
						position: absolute;
						top:-10px;
						left: -30px;
						width: 19px;
						height: 19px;
						cursor: pointer;
						margin: 10px 0 5px 0;
						float: left;
					}
				}
			}			
			
		}
		
		&-btn{
			border-top: 1px solid $content-borderColor;
			//border-bottom: 1px solid $content-borderColor;
			width: 100%;
			//height: 65px;
			//max-height: 65px;
			background-color: $content-bgColor;
			text-align: right;

			.btn_primary{
				//width: 150px !important;
				display: inline-block;
				margin: auto;
				margin-top: 20px;
				margin-bottom: 15px;
				margin-left: auto;
				margin-right: $left-padding;
			}

		}
	}

}
