/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	.tabs{
		&-btn{
			display: flex;
			justify-content: flex-end;
			margin: 15px $left-padding 15px auto;
			list-style: none;

			> span{
				margin-left: 10px;
			}
		}
	}

	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		
		&__btnarea{
			
			&--rightarea{
				a.btn_secondary{
					min-width: 100px;
				}
			}
		}
		
		//テーブルエリア
		&__tablearea{			
			width: calc(100% - #{$left-padding});
			height: calc(100% - 140px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
				//ここはテーブルのサイズ感に合わせておく
				a.btn_secondary{
					margin-right: 10px;
				}
				
				div.itemcode{
					display: flex;
					justify-content: flex-start;
				}
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	&-contentsScroll::-webkit-scrollbar{
		@include scrollbar;
	}
	&-contentsScroll::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	&-contentsScroll::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
	&-contentsScroll{
		height: calc(100% - 70px);
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #FFFFFF;
	}
	
	&-buttons{
		position: relative;
		&__box{
			display: flex;
			justify-content: flex-end;
			flex-wrap: nowrap;
			//width: 365px;

			position: absolute;
			right: 10px;
			top:-85px;
			>a {
				min-width: 115px;
				margin-right: 15px;

			}
		}
	}

	&-details{
		padding-bottom: 20px;
		h4.headMargin{
			margin-top: 20px;
		}
		&__location{
			&--checkbox{
				position: absolute;
				top:15px;
				right: 22px;
				label{
					font-size: $content-font-size4;
				}
				.cb1span{
					left: -25px;
					top:2px;
				}
				.cb1:checked + .cb1span::after{
					left: 5px !important;
					top:1px !important;
				}
			}
			&.bottompadding{
				padding-bottom: 20px;
			}
			&__forms{
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				width: 100%;
				&_item{
					width: calc(100% - 40px);
					margin-top: 20px;
					margin-left: 20px;
					&--top{
						font-size: $content-font-size5;
						color: $menu-color3;
						&--hissu{
							@include textHissu;
						}
						line-height: 1.8em;
						padding: 0px 5px 0px 5px;
					}
					&--bottom{
						margin-top: 10px;
					}
					.nohissu{
						//margin-top: 15px;
					}
				}
				
				&_item1{
					width: 150px;
					margin-left: 20px;
					
					
				}
				
				&_item2{
					width: calc(50% - 125px);
					margin-left: 30px;
				}
				
				&_item3{
					width: 70px;
					margin-left: 30px;
				}
				&_item4{
					width: 80px;
					margin-left: 20px;
				}
				&_item5{
					width: 70px;
					margin-left: 20px;
				}
				&_item6{
					width: 90px;
					margin-left: 20px;
				}
				
				
				input,select,textarea{
					width: 100%;
				}
				textarea{
					height: 65px;
				}
				.mr{
					margin-right: 20px;
				}				
			}
			&__btns{
				display: flex;
				justify-content: flex-end;
				margin-top: 15px;
				margin-bottom: 20px;
				a{
					margin-right: 20px;
				}
			}
		}
		
	}
	&-addBtns{
		display: flex;
		justify-content: center;
		margin-bottom: $left-padding;
	}
	&-tablearea{
		width: calc(100% - #{$left-padding});
		height: calc(100vh - 130px);
		background-color: $content-bgColor;
		padding-right:$left-padding;

		position: relative;
		.tableitem__tablearea__pagerAllCount{
			left: 40px;
		}
		
		//テーブル設定
		div.ag-spread{
			height: 100%;
			select.content{
				width:135px;
			}
		}

	}
}
#otherwindow2{
	.otherwindow-details__location{
		padding-bottom: 20px;	
	}
}