@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .tabs-btn {
  display: flex;
  justify-content: flex-end;
  margin: 15px 30px 15px auto;
  list-style: none; }
  article .tabs-btn > span {
    margin-left: 10px; }
article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__btnarea--rightarea a.btn_secondary {
    min-width: 100px; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 140px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }
      article .tableitem__tablearea div.ag-spread a.btn_secondary {
        margin-right: 10px; }
      article .tableitem__tablearea div.ag-spread div.itemcode {
        display: flex;
        justify-content: flex-start; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px); }
  .otherwindow-contentsScroll::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  .otherwindow-contentsScroll::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .otherwindow-contentsScroll::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  .otherwindow-contentsScroll {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFFFFF; }
  .otherwindow-buttons {
    position: relative; }
    .otherwindow-buttons__box {
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      position: absolute;
      right: 10px;
      top: -85px; }
      .otherwindow-buttons__box > a {
        min-width: 115px;
        margin-right: 15px; }
  .otherwindow-details {
    padding-bottom: 20px; }
    .otherwindow-details h4.headMargin {
      margin-top: 20px; }
    .otherwindow-details__location--checkbox {
      position: absolute;
      top: 15px;
      right: 22px; }
      .otherwindow-details__location--checkbox label {
        font-size: 14px; }
      .otherwindow-details__location--checkbox .cb1span {
        left: -25px;
        top: 2px; }
      .otherwindow-details__location--checkbox .cb1:checked + .cb1span::after {
        left: 5px !important;
        top: 1px !important; }
    .otherwindow-details__location.bottompadding {
      padding-bottom: 20px; }
    .otherwindow-details__location__forms {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%; }
      .otherwindow-details__location__forms_item {
        width: calc(100% - 40px);
        margin-top: 20px;
        margin-left: 20px; }
        .otherwindow-details__location__forms_item--top {
          font-size: 12px;
          color: #808080;
          line-height: 1.8em;
          padding: 0px 5px 0px 5px; }
          .otherwindow-details__location__forms_item--top--hissu {
            color: #FFFFFF;
            font-size: 10px;
            background-color: #008bd0;
            display: inline-block;
            border-radius: 4px;
            min-width: 36px;
            text-align: center;
            box-sizing: border-box;
            margin-right: 5px;
            line-height: 1.8em;
            padding: 0px 5px 0px 5px;
            top: -1px;
            left: 0; }
        .otherwindow-details__location__forms_item--bottom {
          margin-top: 10px; }
      .otherwindow-details__location__forms_item1 {
        width: 150px;
        margin-left: 20px; }
      .otherwindow-details__location__forms_item2 {
        width: calc(50% - 125px);
        margin-left: 30px; }
      .otherwindow-details__location__forms_item3 {
        width: 70px;
        margin-left: 30px; }
      .otherwindow-details__location__forms_item4 {
        width: 80px;
        margin-left: 20px; }
      .otherwindow-details__location__forms_item5 {
        width: 70px;
        margin-left: 20px; }
      .otherwindow-details__location__forms_item6 {
        width: 90px;
        margin-left: 20px; }
      .otherwindow-details__location__forms input, .otherwindow-details__location__forms select, .otherwindow-details__location__forms textarea {
        width: 100%; }
      .otherwindow-details__location__forms textarea {
        height: 65px; }
      .otherwindow-details__location__forms .mr {
        margin-right: 20px; }
    .otherwindow-details__location__btns {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
      margin-bottom: 20px; }
      .otherwindow-details__location__btns a {
        margin-right: 20px; }
  .otherwindow-addBtns {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
  .otherwindow-tablearea {
    width: calc(100% - 30px);
    height: calc(100vh - 130px);
    background-color: #f0f0f0;
    padding-right: 30px;
    position: relative; }
    .otherwindow-tablearea .tableitem__tablearea__pagerAllCount {
      left: 40px; }
    .otherwindow-tablearea div.ag-spread {
      height: 100%; }
      .otherwindow-tablearea div.ag-spread select.content {
        width: 135px; }

#otherwindow2 .otherwindow-details__location {
  padding-bottom: 20px; }
