/* CSS Document */
// Sass Document　レイアウト設定

//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';
#wrap {
	overflow: auto;
}

h1{
	color: $mainColor;
	font-size: $content-font-size1;
	line-height: 1.9em;
	margin-left: 10px;
}

.contentheader{
	background-color: #FFFFFF;
}
//共通ヘッダー
.page-block{
	width: 100%;
	margin: 0 0 0 auto;
	@include transition;
	background-color:$content-bgColor;
	height: calc(100% - #{$menu-title-height} - 65px);
	//height: calc(100% - #{$menu-title-height} - 65px);
	//min-height: 880px;
	position: relative;



}