/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	.tabs{
		&-btn{
			display: flex;
			justify-content: flex-end;
			margin: 15px $left-padding 15px auto;
			list-style: none;

			> span{
				margin-left: 10px;
			}
		}
	}
	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		

		
		//テーブルエリア
		&__tablearea{			
			width: calc(100% - #{$left-padding});
			height: calc(100% - 140px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);

	&-tablearea{
		
		&__container{
			position: relative;
		}
		div.ag-spread{
			width: 100%;
			height: 100%;
			max-height: calc(100vh - 185px);

			.ag-root,.ag-body,.ag-body-viewport-wrapper,.ag-body-viewport,.ag-pinned-left-cols-viewport{
				max-height: calc(100vh - 235px);
				min-height: 200px;
			}
			.ag-body-container,.ag-pinned-left-cols-container {
				//height: auto !important;
			}


		}
		.tableitem__tablearea__pagerAllCount{
			left: 35px;
			bottom: 10px;
		}
	}

	
}
/*モーダル*/
.overlay{
	//modalコンテンツ設定
	.modal{
		max-width: 470px;
		min-height: auto;

	}
}
.loading_overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 5000;
	
	.loaderdiv{
		bottom:35%;
		left:50%;
		transform: translate(-50%,-50%);
	}
}