@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .tabs-btn {
  display: flex;
  justify-content: flex-end;
  margin: 15px 30px 15px auto;
  list-style: none; }
  article .tabs-btn > span {
    margin-left: 10px; }
article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 140px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px); }
  .otherwindow-tablearea__container {
    position: relative; }
  .otherwindow-tablearea div.ag-spread {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 185px); }
    .otherwindow-tablearea div.ag-spread .ag-root, .otherwindow-tablearea div.ag-spread .ag-body, .otherwindow-tablearea div.ag-spread .ag-body-viewport-wrapper, .otherwindow-tablearea div.ag-spread .ag-body-viewport, .otherwindow-tablearea div.ag-spread .ag-pinned-left-cols-viewport {
      max-height: calc(100vh - 235px);
      min-height: 200px; }
  .otherwindow-tablearea .tableitem__tablearea__pagerAllCount {
    left: 35px;
    bottom: 10px; }

/*モーダル*/
.overlay .modal {
  max-width: 470px;
  min-height: auto; }

.loading_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000; }
  .loading_overlay .loaderdiv {
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -50%); }
