@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .search__searcharea {
  position: relative; }
  article .search__searcharea__btns {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 30px; }
    article .search__searcharea__btns a {
      margin-left: 10px; }
  article .search__searcharea__items {
    padding-bottom: 30px; }
    article .search__searcharea__items__top--object.w300 {
      min-width: 300px; }
    article .search__searcharea__items__top--object.w100 {
      margin-top: 5px;
      width: 100px; }
    article .search__searcharea__items__top .ml {
      margin-left: 15px; }
  article .search__searcharea__desc {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px; }
    article .search__searcharea__desc--item {
      font-size: 14px;
      color: #808080;
      border-right: 1px solid #CCCCCC;
      padding-right: 20px;
      padding-left: 5px;
      height: 20px;
      line-height: 1.5em;
      margin-left: 5px; }
      article .search__searcharea__desc--item .spacer {
        padding-left: 20px; }
article .tableitem {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 295px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }

/*モーダル*/
.overlay .modal {
  max-width: 380px;
  min-height: auto; }
  .overlay .modal-content__contentarea {
    width: 100%; }
