/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	
	.search{
		&__searcharea{
			position: relative;
			
			&__btns{
				
				display: flex;
				justify-content: flex-end;
				
				
				position: absolute;
				
				top:10px;
				right: $left-padding;
				
				a{
					margin-left: 10px;
				}
				
			}

			&__items{
				padding-bottom: 30px;
				&__top{
					&--object{
						&__list{


						}
						&.w300{
							min-width:300px;
						}
						&.w100{
							margin-top: 5px;
							width:100px;
						}
					}
					
					.ml {
						margin-left: 15px;
					}
				}
			}
			
			&__desc{
				display: flex;
				justify-content: flex-start;
				margin-top: 20px;	
				margin-bottom: 20px;	
				&--item{
					font-size: $content-font-size4;
					color: $menu-color3;
					border-right: 1px solid #CCCCCC;
					padding-right: 20px;
					padding-left: 5px;
					height: 20px;
					line-height: 1.5em;
					margin-left: 5px;
					
					.spacer{
						padding-left: 20px;
					}
				}
			}
		}

	}
	
	//テーブルスタイル
	.tableitem{
		margin-top: 15px;
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		
		//テーブルエリア
		&__tablearea{
			width: calc(100% - #{$left-padding});
			height: calc(100% - 295px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;

		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
				//ここはテーブルのサイズ感に合わせておく
			}
		
		}

	}
}
/*モーダル*/
.overlay{
	//modalコンテンツ設定
	.modal{
		max-width: 380px;
		min-height: auto;
		&-content{
			
			&__contentarea{
				width: 100%;
				&__btnarea{
					
				}
				
			}
		}
	}
}