/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//他でも使いそうなので共通にひとまず入れておく
//table系スタイル
article{	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		
		//ボタン表示エリア
		&__btnarea{
			width: 100%;
			position: relative;

			//入荷完了以外チェックっボックスや他ボタン
			&--leftarea{
				padding-top: 15px;
				margin-top: 0;
				margin-left: 30px;
			}
			//ボタン右側配置の場合
			&--rightarea{
				margin: 0 $left-padding 15px auto;
				top: 15px;
			}
		}
		
		//テーブルエリア
		&__tablearea{
			width: calc(100% - #{$left-padding});
			height: calc(100% - 70px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
			}
		
		}

	}
}

