@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

#wrap {
  overflow: auto; }

h1 {
  color: #008bd0;
  font-size: 21px;
  line-height: 1.9em;
  margin-left: 10px; }

.contentheader {
  background-color: #FFFFFF; }

.page-block {
  width: 100%;
  margin: 0 0 0 auto;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1);
  background-color: #f0f0f0;
  height: calc(100% - 40px - 65px);
  position: relative; }

.overlay .modal {
  max-width: 470px;
  min-height: auto; }
  .overlay .modal-header--title {
    margin: 12.5px auto 12.5px 0; }
  .overlay .modal-content__contentarea {
    width: 310px;
    margin: auto; }
    .overlay .modal-content__contentarea--selectdesc {
      margin-top: 25px;
      font-size: 14px;
      margin-bottom: 5px; }
    .overlay .modal-content__contentarea__btnarea {
      display: flex;
      justify-content: center;
      margin-top: 50px; }
