/* CSS Document */
// Sass Document　レイアウト設定

//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';
#wrap {
	overflow: auto;
}

h1{
	color: $mainColor;
	font-size: $content-font-size1;
	line-height: 1.9em;
	margin-left: 10px;
}

.contentheader{
	background-color: #FFFFFF;
}
//共通ヘッダー
.page-block{
	width: 100%;
	margin: 0 0 0 auto;
	@include transition;
	background-color:$content-bgColor;
	height: calc(100% - #{$menu-title-height} - 65px);
	//height: calc(100% - #{$menu-title-height} - 65px);
	//min-height: 880px;
	position: relative;



}
.overlay{
	//modalコンテンツ設定
	.modal{
		max-width: 470px;
		min-height: auto;
		&-header--title{
			margin: 12.5px auto 12.5px 0;
		}
		&-content{
			&__contentarea{
				
				width:310px;
				margin: auto;

				&--selectdesc{
					margin-top: 25px;
					font-size: $content-font-size4;
					margin-bottom: 5px;
				}
				
				&__btnarea{
					display: flex;
					justify-content: center;
					margin-top: 50px;
				}
			
			

			}
		}
	}
}

