/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		

		
		//テーブルエリア
		&__tablearea{			

			width: calc(100% - #{$left-padding});
			height: calc(100% - 160px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{

				height: 100%;	
				.ag-pinned-left-header{
					.ag-header-cell:nth-child(1){
						.ag-floating-filter-body{display: block;}
						.ag-floating-filter-button{display: block;}

					}
				}
				//ここはテーブルのサイズ感に合わせておく
				a.btn_secondary{
					margin-right: 10px;
				}
				
				div.itemcode{
					display: flex;
					justify-content: space-between;
				}
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	::-webkit-scrollbar{
		@include scrollbar;
	}
	::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
	&-contentsScroll{
		height: calc(100% - 280px);
		overflow-y: auto;
		overflow-x: hidden;
	}

	&-contents{
		&__location{
			&--desc{
				font-size: $content-font-size5;
				line-height: 1.4em;
				color: $menu-color3;
			}
			&__items{
				.width44{
					width:calc(50% - 30px);
				}
			}
		}
	}
	
	&-dataarea{
		background-color: #FFFFFF;
		display: flex;
		justify-content: space-between;
		padding-bottom: 30px;
		min-height: calc(100% - 30px);
		position: relative;

		&__items{
			width: calc(50% - 90px);
			
			h4{
				font-size: $content-font-size4;
				font-weight: bold;
				margin-top: 20px;
				color: $menu-color3;
			}
			
			
			&__dataField{
				margin-top: 20px;
				border: 1px solid $menu-color5;
				background-color: rgba(240,240,240,0.5);
				border-radius: 4px;
				
				&__contents{
					margin-top: 15px;
					margin-left: 20px;
					margin-right: 20px;
					
					width: calc(50% - 40px);
					
					&--top{
						font-size: $content-font-size4;
						color: $menu-color5;
						padding-bottom: 5px;
						border-bottom: 1px solid $menu-color5;
						line-height: 1.4em;
					}
					
					&--bottom{
						font-size: $content-font-size4;
						color: $menu-color3;
						padding-top: 10px;
						line-height: 1.4em;
					}
				}
				
				.w100{
					width: calc(100% - 40px);
				}
				
				.topmargin{
					margin-top: 15px;
				}
				.bottommargin{
					margin-bottom: 15px;
				}
			}
		}
		
		.leftmargin{
			margin-left: $left-padding;
		}
		
		.rightmargin{
			margin-right: $left-padding;
		}
	}
}
#afterArrow{
	position: relative;
}
#afterArrow::after{
	content: "";
	background-image:url("../../../../assets/images/wa9144-arrow.png");
	background-size:37px 65px;
	background-repeat: no-repeat;
	width: 37px;
	height: 65px;
	position: absolute;
	top: 43.5%;
	right: -115px;
	transform: translate(-50%,0);
}

