@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 160px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(1) .ag-floating-filter-body {
        display: block; }
      article .tableitem__tablearea div.ag-spread .ag-pinned-left-header .ag-header-cell:nth-child(1) .ag-floating-filter-button {
        display: block; }
      article .tableitem__tablearea div.ag-spread a.btn_secondary {
        margin-right: 10px; }
      article .tableitem__tablearea div.ag-spread div.itemcode {
        display: flex;
        justify-content: space-between; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px); }
  .otherwindow ::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  .otherwindow ::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .otherwindow ::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  .otherwindow-contentsScroll {
    height: calc(100% - 280px);
    overflow-y: auto;
    overflow-x: hidden; }
  .otherwindow-contents__location--desc {
    font-size: 12px;
    line-height: 1.4em;
    color: #808080; }
  .otherwindow-contents__location__items .width44 {
    width: calc(50% - 30px); }
  .otherwindow-dataarea {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    min-height: calc(100% - 30px);
    position: relative; }
    .otherwindow-dataarea__items {
      width: calc(50% - 90px); }
      .otherwindow-dataarea__items h4 {
        font-size: 14px;
        font-weight: bold;
        margin-top: 20px;
        color: #808080; }
      .otherwindow-dataarea__items__dataField {
        margin-top: 20px;
        border: 1px solid #b3b3b3;
        background-color: rgba(240, 240, 240, 0.5);
        border-radius: 4px; }
        .otherwindow-dataarea__items__dataField__contents {
          margin-top: 15px;
          margin-left: 20px;
          margin-right: 20px;
          width: calc(50% - 40px); }
          .otherwindow-dataarea__items__dataField__contents--top {
            font-size: 14px;
            color: #b3b3b3;
            padding-bottom: 5px;
            border-bottom: 1px solid #b3b3b3;
            line-height: 1.4em; }
          .otherwindow-dataarea__items__dataField__contents--bottom {
            font-size: 14px;
            color: #808080;
            padding-top: 10px;
            line-height: 1.4em; }
        .otherwindow-dataarea__items__dataField .w100 {
          width: calc(100% - 40px); }
        .otherwindow-dataarea__items__dataField .topmargin {
          margin-top: 15px; }
        .otherwindow-dataarea__items__dataField .bottommargin {
          margin-bottom: 15px; }
    .otherwindow-dataarea .leftmargin {
      margin-left: 30px; }
    .otherwindow-dataarea .rightmargin {
      margin-right: 30px; }

#afterArrow {
  position: relative; }

#afterArrow::after {
  content: "";
  background-image: url("../../../../assets/images/wa9144-arrow.png");
  background-size: 37px 65px;
  background-repeat: no-repeat;
  width: 37px;
  height: 65px;
  position: absolute;
  top: 43.5%;
  right: -115px;
  transform: translate(-50%, 0); }
