/* CSS Document */
// Sass Document　レイアウト設定

//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';
#wrap {
	overflow: auto;
}

h1{
	color: $mainColor;
	font-size: $content-font-size1;
	line-height: 1.9em;
	margin-left: 10px;
}

.contentheader{
	background-color: #FFFFFF;
}
//共通ヘッダー
.page-block{
	width: 100%;
	margin: 0 0 0 auto;
	@include transition;
	background-color:$content-bgColor;
	height: calc(100% - #{$menu-title-height} - 65px);
	//height: calc(100% - #{$menu-title-height} - 65px);
	//min-height: 880px;
	position: relative;


	.menucontent{
		background-color: #FFFFFF;

		&-dl2 {
			width: 40%;
			max-width: 500px;
			min-width: 250px;
			margin-left: $left-padding;
			padding-top: 30px;

	
			&__titleitem{
				color: $menu-color3;
				font-size: $content-font-size4;
				line-height: 1em;
				padding: 10px 10px 10px 0;
				width: auto;
				position: relative;
		
				&__item {
					list-style: none;
					display: flex;
					justify-content: flex-start;
					position: relative;
				
					>dd > img{
						margin-left: 10px;
						width: 15px;
						height: 15px;
					}
			
				/*ツールチップ*/
					.tooltip:hover span {
						bottom: calc(50% + 15px);
						left: -55px;
					}

					.tooltip:hover span:before{
						bottom:-11px; 
						left:calc(45% - 1px);
					}			
			
				}
			}
	
			&__selectitem{
				width: 100%;
		
				> select {
					width: 100%;
				}
		
			}
		}
		&-dl3{
			margin-top: 30px;
			padding-bottom: 25px;				
			margin-left: $left-padding;
			margin-right: $left-padding;
			h4{
				font-size: $content-font-size4;
				color:$menu-color3;
			}
			&__input{
				border: 1px solid $menu-color4;
				border-radius: 4px;
				
				display: flex;
				justify-content: flex-start;
				margin-top: 5px;

				padding: 30px $left-padding;
				label{
					margin-left: 20px;
					margin-top: 8px;
					font-size: $content-font-size4;
				}
				label.ml{
					margin-left: 30px;
				}
				select {
					margin-left: 10px;
					width: 300px;
				}
				.radio1span::before{
					top: 2px !important;
					left: -20px !important;
				}

				.radio1:checked + .radio1span::after{
					top: 6px !important;
					left: -16px !important;
				}
			}
		}

	}

	.uploader {
		width: 100%;
		height: auto;
		min-height: calc(100vh - 415px);

		background-color: $content-bgColor;
		padding-bottom: 30px;

		&-title {
			padding-top: 30px;
			margin-left: $left-padding;
			color: $menu-color3;
			font-size: $content-font-size3;
		}
		
		&-dropzone {
	
			&__centering {
				border: 3px dashed $menu-color4;
				border-radius: 4px;
				width: calc(100% - #{$left-padding} - #{$left-padding});
				margin: auto $left-padding;
				margin-top: 20px;
	//			height: calc(100% - 370px);
				min-height: calc(100% - 100px);
	//			position: relative;
				padding: 30px;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				text-align: center;
				&--title {
					text-align: center;
					color: $menu-color3;
					margin-top: 5px;
					font-size: 25px;
					font-weight: 300;
					line-height: 1.4em;
				}

				.btn_primary {


					display: inline-block;
					margin-left: auto;
					margin-right: auto;
					margin-top: 20px;
					font-size: $content-font-size4;
				}

				&--filename {
					width: auto;
					text-align: center;
					margin: 40px auto 20px auto;
					color: $menu-color3;
					font-size: $content-font-size4;
				}

				span{
					position: relative;
				}

				img.deletebtn{
					position: absolute;
					top:-10px;
					left: -30px;
					width: 19px;
					height: 19px;
					cursor: pointer;
					margin: 10px 0 5px 0;
					float: left;
				}
			}
		}
	}

	.btnarea{
		border-top: 1px solid $content-borderColor;
		border-bottom: 1px solid $content-borderColor;
		width: 100%;
		height: 65px;
		max-height: 65px;
		background-color: $content-bgColor;
		position: absolute;
		bottom: -65px;
		right: 0;
		
		display: flex;
		justify-content: flex-end;
	
		a{
			margin-right: $left-padding;
		}

	}

}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	
	::-webkit-scrollbar{
		@include scrollbar;
	}
	::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
	.tooltip:hover span {
		bottom: calc(50% + 15px);
		left: -300%;
	}

	.tooltip:hover span:before{
		bottom:-11px; 
		left:calc(45% - 2px);
	}			
	&-contentsScroll{
		height: calc(100% - 70px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	.w100p{
		width: 100%;
	}
	.w80{
		width: 80px;
	}
	.w100{
		width: 100px;
	}
	.w160{
		width: 160px;
	}
	.w250{
		width: 250px;
	}	
	.w260{
		width: 260px;
	}	
	.w330{
		width: 330px;
	}	
	.w460{
		width: 460px;
	}
	.ml5{
		margin-left: 5px;
	}
	&-desc{
		position: absolute;
		background-color: $content-bgColor;
		box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.16);
		top: 68px;
		
		width: 100%;
		z-index: 600;
		
		h4{
			margin-top: 20px;
			margin-left: 50px;
		}
		&__list{
			list-style: none;
			font-size: $content-font-size5;
			color: $menu-color3;
			padding-left: 50px;
			padding-right: 50px;
			margin-top: 10px;
			padding-bottom: 20px;
			list-style: none;
			li{
				padding-top: 5px;
			}
		}
	}
	&-contents{
		&__location{

			&__items{
				border: 1px solid #cccccc;
				&__content{
					width: calc(50% - 45px);
					margin-left: 30px;
					.bbnone{
						border-bottom: none;
					}
					&--top{
						
					}
					&--bottom{
						&.pt0{
							padding-top: 0;
						}
						input{
							width: 100%;
						}
						
						&--span{
							font-size: $content-font-size5;
							color:$menu-color3;
							padding-top: 5px;
						}
					}
				}
			}
			
			&__desc{
				border: 1px solid #cccccc;
				border-radius: 4px;
				margin-top: 20px;
				h4{
					font-size: $content-font-size4;
					color: $menu-color3;
					margin-top: 15px;
					margin-left: 20px;
				}
				
				&--list{
					list-style: none;
					font-size: $content-font-size5;
					color: $menu-color3;
					margin-top: 10px;
					margin-left: 20px;
					padding-bottom: 20px;
					li{
						padding-top: 5px;
					}
				}
			}
			
		}
		&__inputarea{
			&__input{
				&__sep{
					position: relative;
					
					&--name{
						font-size: $content-font-size4;
					}
				
					&--add{
						font-size: $content-font-size4;
					}
				
					.kome{
						font-size: $content-font-size4;
						color:$hoverColor;
					}
					width: 150px;
				}
				&__tooltip{
					display: flex;
					justify-content: flex-start;
					
					img{
						width: 15px;
						height: 15px;
						margin-left: 10px;
					}
				}
			}
		}
		&__otherarea{
			margin-top: 10px;
			&.mt20{
				margin-top: 20px;
			}
			&.bbdisp{
				padding-bottom: 10px;
				border-bottom: 1px solid #dddddd;
			}
			&__items{
				label{
					margin-left: 20px;
				}
				textarea{
					height: 65px;
				}
				
				.radio1span::before{
					top: 2px !important;
					left: -20px !important;
				}

				.radio1:checked + .radio1span::after{
					top: 6px !important;
					left: -16px !important;
				}
				.ml{
					margin-left: 42px;
				}
			}
		}
		&__btnarea{
			margin-top: 30px;
			display: flex;
			justify-content: flex-end;
			a{
				margin-right: 0;
			}
		}
	}
	

	
}