@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

#wrap {
  overflow: auto; }

h1 {
  color: #008bd0;
  font-size: 21px;
  line-height: 1.9em;
  margin-left: 10px; }

.contentheader {
  background-color: #FFFFFF; }

.page-block {
  width: 100%;
  margin: 0 0 0 auto;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1);
  background-color: #f0f0f0;
  height: calc(100% - 40px - 65px);
  position: relative; }
  .page-block .menucontent {
    background-color: #FFFFFF; }
    .page-block .menucontent-dl2 {
      width: 40%;
      max-width: 500px;
      min-width: 250px;
      margin-left: 30px;
      padding-top: 30px; }
      .page-block .menucontent-dl2__titleitem {
        color: #808080;
        font-size: 14px;
        line-height: 1em;
        padding: 10px 10px 10px 0;
        width: auto;
        position: relative; }
        .page-block .menucontent-dl2__titleitem__item {
          list-style: none;
          display: flex;
          justify-content: flex-start;
          position: relative;
          /*ツールチップ*/ }
          .page-block .menucontent-dl2__titleitem__item > dd > img {
            margin-left: 10px;
            width: 15px;
            height: 15px; }
          .page-block .menucontent-dl2__titleitem__item .tooltip:hover span {
            bottom: calc(50% + 15px);
            left: -55px; }
          .page-block .menucontent-dl2__titleitem__item .tooltip:hover span:before {
            bottom: -11px;
            left: calc(45% - 1px); }
      .page-block .menucontent-dl2__selectitem {
        width: 100%; }
        .page-block .menucontent-dl2__selectitem > select {
          width: 100%; }
    .page-block .menucontent-dl3 {
      margin-top: 30px;
      padding-bottom: 25px;
      margin-left: 30px;
      margin-right: 30px; }
      .page-block .menucontent-dl3 h4 {
        font-size: 14px;
        color: #808080; }
      .page-block .menucontent-dl3__input {
        border: 1px solid #999999;
        border-radius: 4px;
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
        padding: 30px 30px; }
        .page-block .menucontent-dl3__input label {
          margin-left: 20px;
          margin-top: 8px;
          font-size: 14px; }
        .page-block .menucontent-dl3__input label.ml {
          margin-left: 30px; }
        .page-block .menucontent-dl3__input select {
          margin-left: 10px;
          width: 300px; }
        .page-block .menucontent-dl3__input .radio1span::before {
          top: 2px !important;
          left: -20px !important; }
        .page-block .menucontent-dl3__input .radio1:checked + .radio1span::after {
          top: 6px !important;
          left: -16px !important; }
  .page-block .uploader {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 415px);
    background-color: #f0f0f0;
    padding-bottom: 30px; }
    .page-block .uploader-title {
      padding-top: 30px;
      margin-left: 30px;
      color: #808080;
      font-size: 16px; }
    .page-block .uploader-dropzone__centering {
      border: 3px dashed #999999;
      border-radius: 4px;
      width: calc(100% - 30px - 30px);
      margin: auto 30px;
      margin-top: 20px;
      min-height: calc(100% - 100px);
      padding: 30px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center; }
      .page-block .uploader-dropzone__centering--title {
        text-align: center;
        color: #808080;
        margin-top: 5px;
        font-size: 25px;
        font-weight: 300;
        line-height: 1.4em; }
      .page-block .uploader-dropzone__centering .btn_primary {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        font-size: 14px; }
      .page-block .uploader-dropzone__centering--filename {
        width: auto;
        text-align: center;
        margin: 40px auto 20px auto;
        color: #808080;
        font-size: 14px; }
      .page-block .uploader-dropzone__centering span {
        position: relative; }
      .page-block .uploader-dropzone__centering img.deletebtn {
        position: absolute;
        top: -10px;
        left: -30px;
        width: 19px;
        height: 19px;
        cursor: pointer;
        margin: 10px 0 5px 0;
        float: left; }
  .page-block .btnarea {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    width: 100%;
    height: 65px;
    max-height: 65px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: -65px;
    right: 0;
    display: flex;
    justify-content: flex-end; }
    .page-block .btnarea a {
      margin-right: 30px; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px); }
  .otherwindow ::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  .otherwindow ::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .otherwindow ::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  .otherwindow .tooltip:hover span {
    bottom: calc(50% + 15px);
    left: -300%; }
  .otherwindow .tooltip:hover span:before {
    bottom: -11px;
    left: calc(45% - 2px); }
  .otherwindow-contentsScroll {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden; }
  .otherwindow .w100p {
    width: 100%; }
  .otherwindow .w80 {
    width: 80px; }
  .otherwindow .w100 {
    width: 100px; }
  .otherwindow .w160 {
    width: 160px; }
  .otherwindow .w250 {
    width: 250px; }
  .otherwindow .w260 {
    width: 260px; }
  .otherwindow .w330 {
    width: 330px; }
  .otherwindow .w460 {
    width: 460px; }
  .otherwindow .ml5 {
    margin-left: 5px; }
  .otherwindow-desc {
    position: absolute;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.16);
    top: 68px;
    width: 100%;
    z-index: 600; }
    .otherwindow-desc h4 {
      margin-top: 20px;
      margin-left: 50px; }
    .otherwindow-desc__list {
      list-style: none;
      font-size: 12px;
      color: #808080;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 10px;
      padding-bottom: 20px;
      list-style: none; }
      .otherwindow-desc__list li {
        padding-top: 5px; }
  .otherwindow-contents__location__items {
    border: 1px solid #cccccc; }
    .otherwindow-contents__location__items__content {
      width: calc(50% - 45px);
      margin-left: 30px; }
      .otherwindow-contents__location__items__content .bbnone {
        border-bottom: none; }
      .otherwindow-contents__location__items__content--bottom.pt0 {
        padding-top: 0; }
      .otherwindow-contents__location__items__content--bottom input {
        width: 100%; }
      .otherwindow-contents__location__items__content--bottom--span {
        font-size: 12px;
        color: #808080;
        padding-top: 5px; }
  .otherwindow-contents__location__desc {
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top: 20px; }
    .otherwindow-contents__location__desc h4 {
      font-size: 14px;
      color: #808080;
      margin-top: 15px;
      margin-left: 20px; }
    .otherwindow-contents__location__desc--list {
      list-style: none;
      font-size: 12px;
      color: #808080;
      margin-top: 10px;
      margin-left: 20px;
      padding-bottom: 20px; }
      .otherwindow-contents__location__desc--list li {
        padding-top: 5px; }
  .otherwindow-contents__inputarea__input__sep {
    position: relative;
    width: 150px; }
    .otherwindow-contents__inputarea__input__sep--name {
      font-size: 14px; }
    .otherwindow-contents__inputarea__input__sep--add {
      font-size: 14px; }
    .otherwindow-contents__inputarea__input__sep .kome {
      font-size: 14px;
      color: #008bd0; }
  .otherwindow-contents__inputarea__input__tooltip {
    display: flex;
    justify-content: flex-start; }
    .otherwindow-contents__inputarea__input__tooltip img {
      width: 15px;
      height: 15px;
      margin-left: 10px; }
  .otherwindow-contents__otherarea {
    margin-top: 10px; }
    .otherwindow-contents__otherarea.mt20 {
      margin-top: 20px; }
    .otherwindow-contents__otherarea.bbdisp {
      padding-bottom: 10px;
      border-bottom: 1px solid #dddddd; }
    .otherwindow-contents__otherarea__items label {
      margin-left: 20px; }
    .otherwindow-contents__otherarea__items textarea {
      height: 65px; }
    .otherwindow-contents__otherarea__items .radio1span::before {
      top: 2px !important;
      left: -20px !important; }
    .otherwindow-contents__otherarea__items .radio1:checked + .radio1span::after {
      top: 6px !important;
      left: -16px !important; }
    .otherwindow-contents__otherarea__items .ml {
      margin-left: 42px; }
  .otherwindow-contents__btnarea {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end; }
    .otherwindow-contents__btnarea a {
      margin-right: 0; }
