/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	
	.search{
		&__searcharea{


			&__items{
				&__top{
					&--object{
						&__list{


						}
						
						&.w40{
							width: calc(40% - 10px);
							min-width: 350px;
						}
						&.w30{
							width: calc(60% - 330px);
							min-width: 200px;
						}
					}
					
					
				}
			}
		}

	}
	
	//テーブルスタイル
	.tableitem{
		margin-top: 15px;
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		
		//テーブルエリア
		&__tablearea{
			width: calc(100% - #{$left-padding});
			height: calc(100% - 290px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;

		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	::-webkit-scrollbar{
		@include scrollbar;
	}
	::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
	.tooltip:hover span {
		bottom: calc(50% + 15px);
		left: -300%;
	}

	.tooltip:hover span:before{
		bottom:-11px; 
		left:calc(45% - 2px);
	}
	&-contentsScroll{
		height: calc(100% - 70px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	&-contents{
		&__location{
			&__items--top{
				.otherwindow-contents__location__items__content{
					width: calc(33.3% - (80px / 3));					
				}
				.mr{
					margin-right: 30px;
				}				
				.ml{
					margin-left: 30px;
				}
			}
			&__items--middle{
				flex-wrap:wrap;
				.otherwindow-contents__location__items__content{
					width: calc(25% - 25px);					
				}
				.width44{
					width:calc(50% - 30px);
				}
				.mr{
					margin-right: 20px;
				}				
			}
			&__items--bottom{
				flex-wrap:wrap;
				justify-content: flex-start;
				.otherwindow-contents__location__items__content{
					width: calc(20% - 24px);
					min-width: 150px;
				}
			}
		}
	}

	
}
/*モーダル*/
.overlay{
	//modalコンテンツ設定
	.modal{
		
		&-content{
			padding-left:$left-padding;
			&__contentarea{
				
				width: auto;
				margin-top: 20px;
				font-size: $content-font-size5;
				.radio1span::before{
					top:3px;
					left: -17px;
				}

				input[type="radio"].radio1:checked + .radio1span::after{
					top:7px;
					left:-13px;
				}
				
			}
			

		}
	}
}

.autoloader{
	top: 62px;
	left: 0;	
}