/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';


//table系スタイル
article{
	.contentheader{
			position: relative;
		&-btn{
			position: absolute;
			right: $left-padding;
			top:15px;
		}
	}
	
	.datacontent{
		width: 100%;
		&-items{
			height: 100%;
			background-color: $content-bgColor;

			padding-top: 0;
			padding-bottom: 30px;
//			border-top: 1px solid $content-borderColor;
			padding-left: $left-padding;
			
			&--desc{
				font-size: $content-font-size4;
				color: $menu-color3;
			}
			
			
			&--content{
				padding-top: 20px;
				font-size: $content-font-size4;
				color: $menu-color3;
				&--req{
					@include textHissu;
				}
			}
			
			.mt35{
				margin-top: 35px;
			}
			
			select{
				margin-top: 5px;
				min-width: 260px;
			}
			
			.w340{
				min-width: 340px;
			}
			
			&-title {
				padding-top: 85px;
				color: $menu-color3;
				font-size: $content-font-size3;
			}
			
			
		}
		
	}

}
