@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article {
  position: relative; }
  article .contentheader {
    position: relative; }
    article .contentheader-btn {
      position: absolute;
      right: 30px;
      top: 15px; }
  article .datacontent {
    width: 100%; }
    article .datacontent-items {
      height: 100%;
      background-color: #f0f0f0;
      padding-bottom: 30px;
      padding-left: 30px; }
      article .datacontent-items--desc {
        font-size: 14px;
        color: #808080; }
      article .datacontent-items--content {
        padding-top: 20px;
        font-size: 14px;
        color: #808080; }
        article .datacontent-items--content--req {
          color: #FFFFFF;
          font-size: 10px;
          background-color: #008bd0;
          display: inline-block;
          border-radius: 4px;
          min-width: 36px;
          text-align: center;
          box-sizing: border-box;
          margin-right: 5px;
          line-height: 1.8em;
          padding: 0px 5px 0px 5px;
          top: -1px;
          left: 0; }
      article .datacontent-items .mt35 {
        margin-top: 35px; }
      article .datacontent-items h4 {
        padding-top: 25px;
        font-size: 16px;
        color: #008bd0; }
      article .datacontent-items select {
        margin-top: 5px;
        min-width: 260px; }
      article .datacontent-items .calenderdiv {
        width: 180px; }
      article .datacontent-items input {
        margin-top: 5px;
        width: 260px; }
      article .datacontent-items i.calender {
        top: 13px;
        right: -10px; }
      article .datacontent-items-title {
        padding-top: 85px;
        color: #808080;
        font-size: 16px; }
  article .btnarea {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    width: 100%;
    height: 65px;
    max-height: 65px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: -65px;
    right: 0;
    display: flex;
    justify-content: flex-end; }
    article .btnarea a {
      margin-right: 30px; }
