/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';


//table系スタイル
article{
	position: relative;
	.contentheader{
			position: relative;
		&-btn{
			position: absolute;
			right: $left-padding;
			top:15px;
		}
	}
	
	.datacontent{
		width: 100%;
		&-items{
			height: 100%;
			background-color: $content-bgColor;

			padding-bottom: 30px;
			//border-top: 1px solid $content-borderColor;
			padding-left: $left-padding;
			
			&--desc{
				font-size: $content-font-size4;
				color: $menu-color3;
			}
			
			
			&--content{
				padding-top: 20px;
				font-size: $content-font-size4;
				color: $menu-color3;
				&--req{
					@include textHissu;
				}
			}
			
			.mt35{
				margin-top: 35px;
			}
			h4{
				padding-top: 25px;
				font-size: $content-font-size3;
				color:$hoverColor
			}
			select{
				margin-top: 5px;
				min-width: 260px;
			}
			.calenderdiv{
				width: 180px;
			}
			input{
				margin-top: 5px;
				width: 260px;
			}
			i.calender{
				top:13px;
				right: -10px;
			}				

			&-title {
				padding-top: 85px;
				color: $menu-color3;
				font-size: $content-font-size3;
			}
			
			
		}
		
	}
	.btnarea{
		border-top: 1px solid $content-borderColor;
		border-bottom: 1px solid $content-borderColor;
		width: 100%;
		height: 65px;
		max-height: 65px;
		background-color: $content-bgColor;
		position: absolute;
		bottom: -65px;
		right: 0;
		
		display: flex;
		justify-content: flex-end;
	
		a{
			margin-right: $left-padding;
		}

	}

}
