/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	
	.search{
		&__searcharea{


			&__items{
				&__top{
					&--object{
						&__list{


						}
						&.w40{
							width: calc(40% - 10px);
							min-width: 300px;
						}
						&.w25{
							width: calc(25% - 10px);
							min-width: 200px;
						}
					}
					
					.ml {
						margin-left: 15px;
					}
				}
			}
		}

	}
	
	//テーブルスタイル
	.tableitem{
		margin-top: 15px;
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		
		//テーブルエリア
		&__tablearea{
			width: calc(100% - #{$left-padding});
			height: calc(100% - 295px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;

		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
			
			}
		
		}

	}
}
