@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .tabs-btn {
  display: flex;
  justify-content: flex-end;
  margin: 15px 30px 15px auto;
  list-style: none; }
  article .tabs-btn > span {
    margin-left: 10px; }
article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 140px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px); }
  .otherwindow-contentsScroll::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  .otherwindow-contentsScroll::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .otherwindow-contentsScroll::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  .otherwindow .tooltip:hover span {
    bottom: calc(50% + 15px);
    left: -300%; }
  .otherwindow .tooltip:hover span:before {
    bottom: -11px;
    left: calc(45% - 2px); }
  .otherwindow-contentsScroll {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden; }
  .otherwindow-contents__location__items--middle {
    flex-wrap: wrap; }
    .otherwindow-contents__location__items--middle .otherwindow-contents__location__items__content {
      width: calc(25% - 25px); }
    .otherwindow-contents__location__items--middle .width44 {
      width: calc(50% - 30px); }
    .otherwindow-contents__location__items--middle .mr {
      margin-right: 20px; }
  .otherwindow-contents__location__sep {
    width: 240px;
    margin-top: 20px;
    margin-right: 10px;
    position: relative; }
    .otherwindow-contents__location__sep.div130 {
      width: 130px; }
    .otherwindow-contents__location__sep--name {
      color: #808080;
      font-size: 14px;
      line-height: 1.4em;
      margin-bottom: 5px;
      box-sizing: border-box;
      min-height: 17px; }
      .otherwindow-contents__location__sep--name--req {
        color: #FFFFFF;
        font-size: 10px;
        background-color: #008bd0;
        display: inline-block;
        border-radius: 4px;
        min-width: 36px;
        text-align: center;
        box-sizing: border-box;
        margin-right: 5px;
        line-height: 1.8em;
        padding: 0px 5px 0px 5px;
        top: -1px;
        left: 0; }
    .otherwindow-contents__location__sep--desc {
      line-height: 1.4em;
      font-size: 10px;
      margin-top: 3px; }
  .otherwindow-contents__location__inputitems {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 15px; }
    .otherwindow-contents__location__inputitems__input {
      width: 100px;
      margin-right: 10px; }
      .otherwindow-contents__location__inputitems__input--name {
        font-size: 14px; }
      .otherwindow-contents__location__inputitems__input input {
        margin-top: 5px;
        width: 100%; }
    .otherwindow-contents__location__inputitems .ml {
      margin-left: 10px; }
    .otherwindow-contents__location__inputitems label {
      margin-left: 32px; }
      .otherwindow-contents__location__inputitems label .cb1span::before {
        top: 2px;
        left: -30px; }
      .otherwindow-contents__location__inputitems label .cb1:checked + .cb1span::after {
        top: 4px;
        left: -25px; }
    .otherwindow-contents__location__inputitems textarea {
      height: 95px; }

/*モーダル*/
.overlay .modal {
  width: 90%;
  max-width: none;
  min-width: 1000px;
  min-height: 530px;
  padding-bottom: 5px; }
  .overlay .modal-content {
    padding-left: 30px; }
    .overlay .modal-content__btnarea {
      display: flex;
      justify-content: flex-start;
      margin-top: 15px;
      list-style: none; }
      .overlay .modal-content__btnarea > span {
        margin-right: 10px; }
    .overlay .modal-content__tablearea {
      width: calc(100% + 30px);
      height: auto;
      max-height: calc(100vh - 545px);
      min-height: 245px;
      background-color: #EEE;
      margin-top: 15px;
      position: relative; }
      .overlay .modal-content__tablearea div.ag-spread {
        width: 100%;
        height: 100%;
        max-height: calc(100vh - 550px); }
        .overlay .modal-content__tablearea div.ag-spread .ag-root, .overlay .modal-content__tablearea div.ag-spread .ag-body, .overlay .modal-content__tablearea div.ag-spread .ag-body-viewport-wrapper, .overlay .modal-content__tablearea div.ag-spread .ag-body-viewport, .overlay .modal-content__tablearea div.ag-spread .ag-pinned-left-cols-viewport {
          max-height: calc(100vh - 600px);
          min-height: 200px; }
  .overlay .modal .search__searcharea__items__top {
    flex-wrap: nowrap; }
    .overlay .modal .search__searcharea__items__top--object {
      width: calc(25% - (50px / 4) );
      min-width: 150px; }

.nodata2 {
  font-size: 1.6em;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b3b3b3; }
  .nodata2 > span {
    font-size: 18px; }
