/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	.tabs{
		&-btn{
			display: flex;
			justify-content: flex-end;
			margin: 15px $left-padding 15px auto;
			list-style: none;

			> span{
				margin-left: 10px;
			}
		}
	}
	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		

		
		//テーブルエリア
		&__tablearea{			
			width: calc(100% - #{$left-padding});
			height: calc(100% - 140px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
			}
		
		}

	}
}
.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	&-contentsScroll::-webkit-scrollbar{
		@include scrollbar;
	}
	&-contentsScroll::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	&-contentsScroll::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
	.tooltip:hover span {
		bottom: calc(50% + 15px);
		left: -300%;
	}

	.tooltip:hover span:before{
		bottom:-11px; 
		left:calc(45% - 2px);
	}
	&-contentsScroll{
		height: calc(100% - 70px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	&-contents{
		&__location{
			&__items--middle{
				flex-wrap:wrap;
				.otherwindow-contents__location__items__content{
					width: calc(25% - 25px);					
				}
				.width44{
					width:calc(50% - 30px);
				}
				.mr{
					margin-right: 20px;
				}				
			}
			&__sep{
				width:240px;
				margin-top: 20px;
				margin-right: 10px;
				position: relative;
				&.div130{
					width:130px;
				}
				&--name{
					color:$menu-color3;
					font-size: $content-font-size4;
					line-height: 1.4em;
					margin-bottom: 5px;
					box-sizing: border-box;
					min-height: 17px;
					&--req{
						color:#FFFFFF;
						font-size: $content-font-size6;
						background-color: $mainColor;
						display: inline-block;
						border-radius: 4px;
						min-width: 36px;
						text-align: center;
						box-sizing: border-box;
						margin-right: 5px;
						line-height: 1.8em;
						padding: 0px 5px 0px 5px;
						top:-1px;
						left:0;

					}
				}
					
					&--desc{
						line-height: 1.4em;
						font-size: $content-font-size6;
						margin-top: 3px;
					}
				}			&__inputitems{
				display: flex;
				justify-content: flex-start;
				flex-wrap: nowrap;
				margin-top: 15px;

				&__input{
					width:100px;
					margin-right: 10px;
					&--name{
						font-size: $content-font-size4;
					}
					input{
						margin-top: 5px;
						width: 100%;
					}
					
				}
				.ml{
					margin-left: 10px;
				}
				label{
					margin-left: 32px;
					.cb1span::before{
						top: 2px;
						left: -30px;
					}

					.cb1:checked + .cb1span::after{
						top: 4px;
						left: -25px;
					}
					
				}
				textarea{
					height: 95px;
				}
			}
		}
	}

	
}
/*モーダル*/
.overlay{
	//modalコンテンツ設定
	.modal{
		width: 90%;
		max-width: none;
		min-width: 1000px;
		min-height: 530px;
		padding-bottom: 5px;
		&-content{
			padding-left:$left-padding;
			&__btnarea {
				display: flex;
				justify-content: flex-start;
				margin-top: 15px;
				list-style: none;
				
				> span{
					margin-right: 10px;
				}
			}
			
			//テーブル設定
			&__tablearea{
				width: calc(100% + #{$left-padding});
				height: auto;
				max-height: calc(100vh - 545px);
				min-height: 245px;
				background-color: #EEE;
				margin-top: 15px;
				position: relative;
				
				div.ag-spread{
					width: 100%;
					height: 100%;
					max-height: calc(100vh - 550px);
					//min-height: 290px;
					
					.ag-root,.ag-body,.ag-body-viewport-wrapper,.ag-body-viewport,.ag-pinned-left-cols-viewport{
						max-height: calc(100vh - 600px);
						min-height: 200px;
					}
					.ag-body-container,.ag-pinned-left-cols-container {
						//height: auto !important;
					}


				}
			}
		}
		.search{
			&__searcharea{
				&__items{
					&__top{

						flex-wrap: nowrap;
						&--object{
							width: calc(25% - (50px / 4) );
							min-width: 150px;
						}
					}
				}

			}
		}
	}
}
//データがない時の設定
.nodata2{
	font-size: 1.6em;
	position: absolute;
	text-align: center;
	width: 100%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: $menu-color5;
	>span {
		font-size: $content-font-size2;
	}
}
