/* CSS Document */
//original設定
@import '../../../../assets/scss/_base';
@import '../../../../assets/scss/_import';

//table系スタイル
article{
	.tabs{
		&-btn{
			display: flex;
			justify-content: flex-end;
			margin: 15px $left-padding 15px auto;
			list-style: none;

			> span{
				margin-left: 10px;
			}
		}
	}
	
	
	//テーブルスタイル
	.tableitem{
		width: 100%;
		height: 100%;
		background-color: $content-bgColor;
		border-top: 1px solid $content-borderColor;
		
		
		//テーブルエリア
		&__tablearea{			
			width: calc(100% - #{$left-padding});
			height: calc(100% - 140px);	
			position: relative;
			margin-left: $left-padding;		
			overflow: hidden;
		
			//テーブル設定
			div.ag-spread{
				height: 100%;	
				//ここはテーブルのサイズ感に合わせておく
				a.btn_secondary{
					margin-right: 10px;
				}
				
				div.itemcode{
					display: flex;
					justify-content: flex-start;
				}
			}
		
		}

	}
}

.otherwindow{
	width: 100%;
	height: calc(100% + 65px);
	::-webkit-scrollbar{
		@include scrollbar;
	}
	::-webkit-scrollbar-track{ /* スクロールバーのバー背景装飾 */
		@include scrollbartrack;
	}
	::-webkit-scrollbar-thumb{ /* スクロールバー自体の装飾 */
		@include scrollbarthumb;
	}	
/*ツールチップ*/
	.tooltip:hover span {
		bottom: calc(50% + 19px);
		left: -265%;
	}

	.tooltip:hover span:before{
		bottom:-11px; 
		left:calc(45% - 1px);
	}			
	&-contentsScroll{
		height: calc(100% - 70px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	.w160{
		width: 160px;
	}
	.w250{
		width: 250px;
	}	
	.w260{
		width: 260px;
	}	
	.w330{
		width: 330px;
	}	
	
	&-contents{
		&__location{

			&__items{
				border: 1px solid #cccccc;
				&__content{
					width: 100px;
					margin-left: 30px;
					.bbnone{
						border-bottom: none;
					}
					&--top{
						
					}
					&--bottom{
						&.pt0{
							padding-top: 0;
						}
						input{
							width: 100%;
						}
						
						&--span{
							font-size: $content-font-size5;
							color:$menu-color3;
							padding-top: 5px;
						}
					}
				}
			}
			
		}
		&__inputarea{
			&__input{
				&__sep{
					position: relative;
					
					&--name{
						font-size: $content-font-size4;
					}
				
					width: 150px;
				}
				&__tooltip{
					display: flex;
					justify-content: flex-start;
					
					img{
						width: 15px;
						height: 15px;
						margin-left: 10px;
					}
				}
			}
		}
		&__otherarea{
			margin-top: 10px;
			&.mt20{
				margin-top: 20px;
			}
			&.bbdisp{
				padding-bottom: 10px;
				border-bottom: 1px solid #dddddd;
			}
			&__items{
				label{
					margin-left: 20px;
				}
				textarea{
					height: 65px;
				}
				
				.radio1span::before{
					top: 2px !important;
					left: -20px !important;
				}

				.radio1:checked + .radio1span::after{
					top: 6px !important;
					left: -16px !important;
				}
				.ml{
					margin-left: 42px;
				}
			}
		}
		&__btnarea{
			margin-top: 30px;
			display: flex;
			justify-content: flex-end;
			a{
				margin-right: 0;
			}
		}
	}
	

	
}
/*モーダル*/
.overlay{
	//modalコンテンツ設定
	.modal{
		max-width: 375px;
		min-height: auto;
		
		&-content{
			&__contentarea{
				width: 100%;
				&__btnaarea{
					
					
				}
			}
		}

	}
}
