@charset "UTF-8";
/* CSS Document */
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

/**/
/*メインコンテンツ系*/
/*tooltip font*/
/*tooltip*/
/* Sass Document */
/* Filetype Web Font **********************************************************/
/**/
/*メインコンテンツ系*/
/*tooltip font*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Noto Sans JP", sans-serif;
  color: #808080; }

article .tabs-btn {
  display: flex;
  justify-content: flex-end;
  margin: 15px 30px 15px auto;
  list-style: none; }
  article .tabs-btn > span {
    margin-left: 10px; }
article .tableitem {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #999999; }
  article .tableitem__tablearea {
    width: calc(100% - 30px);
    height: calc(100% - 140px);
    position: relative;
    margin-left: 30px;
    overflow: hidden; }
    article .tableitem__tablearea div.ag-spread {
      height: 100%; }
      article .tableitem__tablearea div.ag-spread a.btn_secondary {
        margin-right: 10px; }
      article .tableitem__tablearea div.ag-spread div.itemcode {
        display: flex;
        justify-content: flex-start; }

.otherwindow {
  width: 100%;
  height: calc(100% + 65px);
  /*ツールチップ*/ }
  .otherwindow ::-webkit-scrollbar {
    width: 9px;
    /* スクロールバーの幅 */ }
  .otherwindow ::-webkit-scrollbar-track {
    /* スクロールバーのバー背景装飾 */
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; }
  .otherwindow ::-webkit-scrollbar-thumb {
    /* スクロールバー自体の装飾 */
    background: #cdcdcd;
    border-radius: 10px;
    box-shadow: none; }
  .otherwindow .tooltip:hover span {
    bottom: calc(50% + 19px);
    left: -265%; }
  .otherwindow .tooltip:hover span:before {
    bottom: -11px;
    left: calc(45% - 1px); }
  .otherwindow-contentsScroll {
    height: calc(100% - 70px);
    overflow-y: auto;
    overflow-x: hidden; }
  .otherwindow .w160 {
    width: 160px; }
  .otherwindow .w250 {
    width: 250px; }
  .otherwindow .w260 {
    width: 260px; }
  .otherwindow .w330 {
    width: 330px; }
  .otherwindow-contents__location__items {
    border: 1px solid #cccccc; }
    .otherwindow-contents__location__items__content {
      width: 100px;
      margin-left: 30px; }
      .otherwindow-contents__location__items__content .bbnone {
        border-bottom: none; }
      .otherwindow-contents__location__items__content--bottom.pt0 {
        padding-top: 0; }
      .otherwindow-contents__location__items__content--bottom input {
        width: 100%; }
      .otherwindow-contents__location__items__content--bottom--span {
        font-size: 12px;
        color: #808080;
        padding-top: 5px; }
  .otherwindow-contents__inputarea__input__sep {
    position: relative;
    width: 150px; }
    .otherwindow-contents__inputarea__input__sep--name {
      font-size: 14px; }
  .otherwindow-contents__inputarea__input__tooltip {
    display: flex;
    justify-content: flex-start; }
    .otherwindow-contents__inputarea__input__tooltip img {
      width: 15px;
      height: 15px;
      margin-left: 10px; }
  .otherwindow-contents__otherarea {
    margin-top: 10px; }
    .otherwindow-contents__otherarea.mt20 {
      margin-top: 20px; }
    .otherwindow-contents__otherarea.bbdisp {
      padding-bottom: 10px;
      border-bottom: 1px solid #dddddd; }
    .otherwindow-contents__otherarea__items label {
      margin-left: 20px; }
    .otherwindow-contents__otherarea__items textarea {
      height: 65px; }
    .otherwindow-contents__otherarea__items .radio1span::before {
      top: 2px !important;
      left: -20px !important; }
    .otherwindow-contents__otherarea__items .radio1:checked + .radio1span::after {
      top: 6px !important;
      left: -16px !important; }
    .otherwindow-contents__otherarea__items .ml {
      margin-left: 42px; }
  .otherwindow-contents__btnarea {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end; }
    .otherwindow-contents__btnarea a {
      margin-right: 0; }

/*モーダル*/
.overlay .modal {
  max-width: 375px;
  min-height: auto; }
  .overlay .modal-content__contentarea {
    width: 100%; }
