@charset "UTF-8";
/* Sass Document */
/* Filetype Web Font **********************************************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Osaka, Verdana, sans-serif; }

/* homeformat ********************************************************/
/*ボタンセッティングエリアのスタイル*/
.buttonSetting {
  padding: 10px 20px 0;
  height: 50px;
  box-sizing: border-box;
  text-align: right; }
  .buttonSetting > ul {
    list-style: none; }
    .buttonSetting > ul li {
      display: inline-block;
      margin-left: 1.5em;
      font-size: 14px; }

/*タブ切り替え全体のスタイル*/
.tabs {
  width: 100%;
  text-align: center;
  letter-spacing: -.4em; }

/*タブのスタイル************************************************************/
.tab_item {
  display: inline-block;
  letter-spacing: 0;
  padding: 0 5px;
  width: calc(100%/6.5);
  box-sizing: border-box;
  height: 93px;
  font-size: 18px;
  text-align: center;
  color: #999999;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer; }
  .tab_item .itemBox {
    display: block;
    height: 83px;
    margin-bottom: 10px;
    background-color: #dedede; }
    .tab_item .itemBox svg.icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding-top: 5px;
      height: 52px;
      font-size: 45px;
      color: #b3b3b3; }

.tab_item:hover .itemBox {
  background-color: rgba(222, 222, 222, 0.7); }

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none; }

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  letter-spacing: 0;
  padding-bottom: 35px;
  box-sizing: border-box;
  height: calc(100vh - calc(40px + 50px + 93px));
  overflow: hidden;
  background-color: white;
  clear: both; }

/*選択されているタブのコンテンツのみを表示*/
#ct01:checked ~ #ct01_content,
#ct02:checked ~ #ct02_content,
#ct03:checked ~ #ct03_content,
#ct04:checked ~ #ct04_content,
#ct05:checked ~ #ct05_content,
#ct06:checked ~ #ct06_content {
  display: block; }

/*タブ選択時*/
.tabs input:checked + .tab_item .itemBox {
  height: 93px;
  margin-bottom: 0;
  color: #7b7b7b;
  background-color: white;
  cursor: default; }
  .tabs input:checked + .tab_item .itemBox svg.icon {
    color: #4caede;
    filter: drop-shadow(0px -1px rgba(0, 0, 0, 0.2)); }

/*ボタンエリアスタイル*/
.tab_content_description {
  padding: 40px 8%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box; }

/* ボタンスタイル */
#buttonBlock {
  display: block;
  /*大きく表示されるボタン領域*/
  /*通常のボタン領域*/ }
  #buttonBlock .priorityArea {
    text-align: left; }
    #buttonBlock .priorityArea .btn {
      width: 200px;
      height: 200px;
      background-color: #e9eff2; }
      #buttonBlock .priorityArea .btn svg.icon {
        font-size: 60px;
        padding-bottom: 10px; }
      #buttonBlock .priorityArea .btn .name {
        position: absolute;
        bottom: 0;
        padding: 0 15px;
        width: 100%;
        height: 66px;
        box-sizing: border-box;
        text-align: center;
        font-size: 18px; }
  #buttonBlock .defaultArea {
    text-align: left; }
    #buttonBlock .defaultArea .btn {
      width: 200px;
      height: 60px; }
      #buttonBlock .defaultArea .btn > a {
        justify-content: left; }
      #buttonBlock .defaultArea .btn svg.icon {
        margin: 5px 10px;
        font-size: 35px; }
      #buttonBlock .defaultArea .btn .name {
        padding: 0 10px 0 0;
        max-width: 130px;
        font-size: 14px;
        text-align: left; }

/* マスター登録 ************************************************************/
footer#masterArea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #999999;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
  overflow: auto;
  /* 帯ボタンのスタイル */
  /*ラジオボタンを全て消す*/
  /*マスタ登録エリアスタイル*/
  /*マスタ登録エリア選択時の高さ*/
  /*選択時ボタンスタイル*/
  /*ボタンエリアスタイル*/ }
  footer#masterArea #obi_item {
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 15px;
    color: white;
    overflow: hidden; }
    footer#masterArea #obi_item:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    footer#masterArea #obi_item .itemBox {
      line-height: 1; }
      footer#masterArea #obi_item .itemBox .iconCircle {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        text-align: center;
        font-size: 24px;
        line-height: 24px;
        border-radius: 12px;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.8s ease; }
  footer#masterArea input[name="obi_item"] {
    display: none; }
  footer#masterArea .footer_content {
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    clear: both;
    transition: all 0.3s ease; }
  footer#masterArea #obiBT:checked ~ #ft01_content {
    height: calc(100vh - calc(40px + 35px));
    /*header+マスター登録ボタン高さ*/ }
  footer#masterArea #obiBT:checked ~ #obi_item .itemBox .iconCircle {
    transform: rotateZ(180deg);
    background-color: white;
    color: #4caede; }
  footer#masterArea .footer_content_description {
    padding: 40px 8%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box; }

/*# sourceMappingURL=home.css.map */
