<!-- 共有ヘッダー -->
<header id="commonHead">
	<div class="leftBlck">
		<svg class="icon icon-seaoswms"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-seaoswms"></use></svg>&nbsp;<svg class="icon icon-xble"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-xble"></use></svg>
	</div>
	<div class="rightBlock">
		<form>
		<label class="ninushiSelect">
			<span class="nnme">荷主</span>
			<input type="text" class="headerInput headerAutoload" name="ninushi" id="ninushi" value="ALL" autocomplete="off">
			<ul class="headerAutoloader dspnone tl">
			</ul>
			<i class="fa fa-times " id="headerAutoloaderReset" ></i>
			<!--<select name="ninushi">
				<option value="選択肢1">ALL</option>
				<option value="選択肢2">株式会社●●●</option>
				<option value="選択肢3">株式会社□□□□□</option>
				<option value="選択肢4">株式会社▲▲▲▲▲▲▲▲▲▲◎</option>
				<option value="選択肢5">選択肢7</option>
				<option value="選択肢6">選択肢7</option>
				<option value="選択肢7">選択肢7</option>
			</select>-->
		</label>
		</form>

		<div id="mypage">
			<div id="name">村方<small id="authority">管理者</small></div>
			<div id="listBlock">
				<ul id="mypagelist">
					<li>
						<dl>
							<dt>ユーザー名</dt>
							<dd>村方</dd>
						</dl>
					</li>
					<li class="separator">
						<dl>
							<dt>ユーザーコード</dt>
							<dd>murakata</dd>
						</dl>
					</li>
					<li class="separator">
						<dl>
							<dt>アプリ</dt>
							<dd>V. 1.1.17-beta15-stage</dd>
						</dl>
					</li>
					<li>
						<div class="btn"><a href="#"><p class="name">パスワード変更</p></a></div>
						<div class="btn"><p class="name">Logout</p></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>