<!-- 共有サイドメニュー -->
<div id="shortcutMenu">
	<ul id="shortcutIconBlock">
		<li><a href="#"><svg class="icon icon-wa1910"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-wa1910"></use></svg></a></li>
		<li><a href="#"><svg class="icon icon-wa2910"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-wa2910"></use></svg></a></li>
		<li><a href="#"><svg class="icon icon-wa2010"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-wa2010"></use></svg></a></li>
	</ul>

	<div class="icon_setting"><a href="#"><svg class="icon icon-cog"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-cog"></use></svg></a></div>
</div>
