<!-- サイドメニュー -->
<!--メニューコンテンツ（クローズ時）-->


<!--メニューコンテンツ（オープン時）-->
<div id="openmenu">
	<div class="openmenu-btnarea">
		<p class="openmenu-desc">関連項目</p>
		<div class="openmenu-btnarea__btnareabtns">
		<a class="btn_secondary" href="#">入荷アップロード</a>
		<a class="btn_secondary" href="#">入荷実績照会</a>
		</div>
	</div>
	<p class="openmenu-desc openmenu-menumargin">MENU</p>
	<div class="openmenu-menuscroll">
	<ul class="openmenu-systemmenu">
		<li id="menu1" class="openmenu-systemmenu__titlelist active">
			<a href="#" class="openmenu-systemmenu__titlelist--title">
				<div class="openmenu-systemmenu__titlelist__iconul">
					<div class="openmenu-systemmenu__titlelist__iconul--svg"><svg class="icon icon-ct01"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-ct01"></use></svg></div>
					<div class="openmenu-systemmenu__titlelist__iconul--title">入荷</div>
				</div>
			</a>
			<ul class="openmenu-systemmenu__titlelist--childmenu ">
				<li><a href="#" class="active">入荷予定照会</a></li>
				<li><a href="#">格納照会</a></li>
				<li><a href="#">入荷実績照会</a></li>
				<li><a href="#">入荷アップロード</a></li>
			</ul>
		</li>
		<li id="menu2" class="openmenu-systemmenu__titlelist">
			<a href="#" class="openmenu-systemmenu__titlelist--title">
				<div class="openmenu-systemmenu__titlelist__iconul">
					<div class="openmenu-systemmenu__titlelist__iconul--svg"><svg class="icon icon-ct02"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-ct02"></use></svg></div>
					<div class="openmenu-systemmenu__titlelist__iconul--title">出荷</div>
				</div>
			</a>
			<ul class="openmenu-systemmenu__titlelist--childmenu ">
				<li><a href="#">入荷予定照会</a></li>
				<li><a href="#">格納照会</a></li>
				<li><a href="#">入荷実績照会</a></li>
				<li><a href="#">入荷アップロード</a></li>
			</ul>
		</li>
		<li id="menu3" class="openmenu-systemmenu__titlelist">
			<a href="#" class="openmenu-systemmenu__titlelist--title">
				<div class="openmenu-systemmenu__titlelist__iconul">
					<div class="openmenu-systemmenu__titlelist__iconul--svg"><svg class="icon icon-ct03"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-ct03"></use></svg></div>
					<div class="openmenu-systemmenu__titlelist__iconul--title">補充・移動</div>
				</div>
			</a>
			<ul class="openmenu-systemmenu__titlelist--childmenu ">
				<li><a href="#">入荷予定照会</a></li>
				<li><a href="#">格納照会</a></li>
				<li><a href="#">入荷実績照会</a></li>
				<li><a href="#">入荷アップロード</a></li>
			</ul>
		</li>
		<li id="menu4" class="openmenu-systemmenu__titlelist">
			<a href="#" class="openmenu-systemmenu__titlelist--title">
				<div class="openmenu-systemmenu__titlelist__iconul">
					<div class="openmenu-systemmenu__titlelist__iconul--svg"><svg class="icon icon-ct04"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-ct04"></use></svg></div>
					<div class="openmenu-systemmenu__titlelist__iconul--title">在庫</div>
				</div>
			</a>
			<ul class="openmenu-systemmenu__titlelist--childmenu ">
				<li><a href="#">入荷予定照会</a></li>
				<li><a href="#">格納照会</a></li>
				<li><a href="#">入荷実績照会</a></li>
				<li><a href="#">入荷アップロード</a></li>
			</ul>
		</li>
		<li id="menu5" class="openmenu-systemmenu__titlelist">
			<a href="#" class="openmenu-systemmenu__titlelist--title">
				<div class="openmenu-systemmenu__titlelist__iconul">
					<div class="openmenu-systemmenu__titlelist__iconul--svg"><svg class="icon icon-ct05"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-ct05"></use></svg></div>
					<div class="openmenu-systemmenu__titlelist__iconul--title">棚卸</div>
				</div>
			</a>
			<ul class="openmenu-systemmenu__titlelist--childmenu ">
				<li><a href="#">入荷予定照会</a></li>
				<li><a href="#">入荷予定照会</a></li>
				<li><a href="#">入荷予定照会</a></li>
				<li><a href="#">格納照会</a></li>
				<li><a href="#">入荷実績照会</a></li>
				<li><a href="#">入荷アップロード</a></li>
			</ul>
		</li>
		<li id="menu6" class="openmenu-systemmenu__titlelist">
			<a href="#" class="openmenu-systemmenu__titlelist--title">
				<div class="openmenu-systemmenu__titlelist__iconul">
					<div class="openmenu-systemmenu__titlelist__iconul--svg"><svg class="icon icon-ct06"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-ct06"></use></svg></div>
					<div class="openmenu-systemmenu__titlelist__iconul--title">請求</div>
				</div>
			</a>
			<ul class="openmenu-systemmenu__titlelist--childmenu">
				<li><a href="#">入荷予定照会</a></li>
				<li><a href="#">格納照会</a></li>
				<li><a href="#">入荷実績照会</a></li>
				<li><a href="#">入荷実績照会</a></li>
				<li><a href="#">入荷アップロード</a></li>
			</ul>
		</li>
	</ul>
	</div>
	<div class="openmenu-master">
		<div class="openmenu-master__masterlist">
			<p class="openmenu-master__masterlist--title"><a href="#">マスタ登録</a></p>
			<div class="openmenu-master__masterlist--scroll">
			<ul class="openmenu-master__masterlist--scroll--menu">
				<li><a href="#">ユーザマスタ照会</a></li>
				<li><a href="#">商品マスタ照会</a></li>
				<li><a href="#">商品マスタアップロード</a></li>
				<li><a href="#">ロケ―ションマスタ照会</a></li>
				<li><a href="#">ロケ―ションマスタアップロード</a></li>
				<li><a href="#">届け先マスタ照会</a></li>
				<li><a href="#">届け先マスタアップロード</a></li>
				<li><a href="#">実績メールマスタ照会</a></li>
				<li><a href="#">売上分類マスタ照会</a></li>
				<li><a href="#">売上摘要マスタ照会</a></li>
				<li><a href="#">荷種別売上摘要マスタ照会</a></li>
				<li><a href="#">運送料マスタ照会</a></li>
				<li><a href="#">運送料マスタアップロード</a></li>
				<li><a href="#">配送仕分けマスタアップロード</a></li>
				<li><a href="#">データマッピング作成</a></li>
				<li><a href="#">荷主マスタ</a></li>
				<li><a href="#">荷種別配送会社マスタ</a></li>
				<li><a href="#">問い合わせ番号マスタ</a></li>
				<li><a href="#">ケースマスタ</a></li>
				<li><a href="#">プリンタ設定マスタ</a></li>
			</ul>
			</div>
		</div>
	</div>
	
</div>

<div class="arrowdiv">
	<a href="#"><svg class="icon icon-right"><use xlink:href="assets/fonts/icomoon/symbol-defs.svg#icon-right"></use></svg></a>
</div>


<script>
	$(function() {


		
		//MainMenu高さ計算
		//ボタンエリアがない場合(100% - header - マスターボタン -　ボタン開閉　分の高さ)
		if($("#openmenu").find(".openmenu-btnarea").length == 0){
		   $(".openmenu-menuscroll").css("height","calc(100% - 120px)");
		}else{
			var h = $(".openmenu-btnarea")[0].clientHeight;
		   $(".openmenu-menuscroll").css("height","calc(100% - 120px - " + h + "px)");			
		}
		
		
		
		//下にある矢印でサイドメニュー開閉を制御
		$(".arrowdiv").click(function(e){
			/*サイドメニューオープン時*/
			if(!$(".arrowdiv").hasClass("openarrow")){
				$(".arrowdiv").addClass("openarrow");	
				$("#openmenu").addClass("open");
				$("article").addClass("shortwidth");
			/*サイドメニュークローズ時*/
			}else{
				$(".arrowdiv").removeClass("openarrow");
				$("#openmenu").removeClass("open");
				$("article").removeClass("shortwidth");
			}
		});
		//ロード時に各menuの高さを取得
		var childHieght = {};
		var cnt = 1;
		$(".openmenu-systemmenu__titlelist--childmenu").each(function() {
			//ここで高さを取得
			childHieght["menu" + cnt] = $(this).innerHeight();
			//そのあと高さを0にする
			$(this).css("height","0");
			cnt++;
		});
		//開始時に入荷だけオープンにしておく
		$(".openmenu-systemmenu > li#menu1 .openmenu-systemmenu__titlelist--title").addClass("active");	
		$(".openmenu-systemmenu > li#menu1").find(".openmenu-systemmenu__titlelist--childmenu").css("height",childHieght["menu1"] + "px");
		$(".openmenu-systemmenu > li#menu1").find(".openmenu-systemmenu__titlelist--childmenu").addClass("childMenuOpen");
		
		//メニュー開閉
		$(".openmenu-systemmenu > li > a").click(function(e){
			var pid = $(this).parent()[0].id;
			//各メニュークリック時に現在オープンしているメニューがあったら閉じる
			//クリックしたものはオープン状態にする
			$(".openmenu-systemmenu > li").each(function() {
				var pid2 = $(this)[0].id;
				if(pid == pid2){
					if(!$(this).find(".openmenu-systemmenu__titlelist--childmenu").hasClass("childMenuOpen")){
						$(".openmenu-systemmenu > li#" + pid2 + " .openmenu-systemmenu__titlelist--title").addClass("active");	
						$(this).find(".openmenu-systemmenu__titlelist--childmenu").css("height",childHieght[pid2] + "px");
						$(this).find(".openmenu-systemmenu__titlelist--childmenu").addClass("childMenuOpen");
					}else{
						$(".openmenu-systemmenu > li#" + pid2 + " .openmenu-systemmenu__titlelist--title").removeClass("active");	
						$(this).find(".openmenu-systemmenu__titlelist--childmenu").css("height","0");
						$(this).find(".openmenu-systemmenu__titlelist--childmenu").removeClass("childMenuOpen");
					}
				}else{
					if($(this).find(".openmenu-systemmenu__titlelist--childmenu").hasClass("childMenuOpen")){
						$(".openmenu-systemmenu > li#" + pid2 + " > a").removeClass("active");	
						$(this).find(".openmenu-systemmenu__titlelist--childmenu").css("height","0");
						$(this).find(".openmenu-systemmenu__titlelist--childmenu").removeClass("childMenuOpen");
					}
				}
			});			
			
		});
		//マスターメニュー開閉
		$("p.openmenu-master__masterlist--title > a").click(function(e){
			/*サイドメニューオープン時*/
			if(!$(".openmenu-master__masterlist").hasClass("masteropen")){
				if($("#openmenu").find(".openmenu-btnarea").length == 0){
					$(".openmenu-master__masterlist").css("height","calc(100vh - 70px)");
				}else{
					var h = $(".openmenu-btnarea")[0].clientHeight;
					$(".openmenu-master__masterlist").css("height","calc(100vh - 70px - " + h + "px)");
				}
				$(".openmenu-master__masterlist").addClass("masteropen");

			/*サイドメニュークローズ時*/
			}else{
				$(".openmenu-master__masterlist").css("height","40px");
				$(".openmenu-master__masterlist").removeClass("masteropen");	
			}
		});
	});
	
</script>